%h3 New WOW Character
= fields_for :wow_character, @character, :index => Time.now.to_f.to_s do |f|
  = f.hidden_field :game_id
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :level
    = f.text_field :level
  %p.field
    = f.label :faction
    = f.text_field :faction
  %p.field
    = f.label :race
    = f.text_field :race
  %p.field
    = f.label :server
    = f.text_field :server