= f.hidden_field :avatar_cache
= f.input :name, :input_html => { :maxlength => WowCharacter::MAX_NAME_LENGTH }
= f.input :server_name, :as => :radio, :required => true, :label => 'Server', :collection => Wow.all_servers, :wrapper_html => { :class => 'select' }
= f.input :faction, :as => :radio, :required => true, :collection => Wow.all_factions, :wrapper_html => { :class => 'faction select', :affects => 'race' }
= render :partial => 'shared/affected_dropdown', :locals => { f: f, affected_by: 'faction', affected_by_value: wow_character.faction, label: 'Race', field: 'race', field_value: wow_character.race, collection: WowCharacter.faction_race_collection, affects: 'char_class' }
= render :partial => 'shared/affected_dropdown', :locals => { f: f, affected_by: 'race', affected_by_value: (wow_character.faction && wow_character.race ? "#{wow_character.faction}_#{wow_character.race.gsub(/\s/,'_')}" : ''), label: 'Class', field: 'char_class', field_value: wow_character.char_class, collection: WowCharacter.faction_race_class_collection }
= f.input :level, :as => :string, :input_html => { :maxlength => 2 }, :wrapper_html => { :class => 'short' }
= f.input :about, :as => :text, :input_html => { :rows => 5 }
%li.avatar
  = image_tag(wow_character.avatar_url) if wow_character.avatar_url and wow_character.persisted?
  = f.input :avatar, :wrapper => false
  = f.input :remote_avatar_url, :label => "or image URL", :wrapper => false