= form_for [@character.game, @character] do |f|
  = f.hidden_field :game_id
  %p.field
    = f.label :name
    - if @character.errors[:name].any?
      = @character.errors[:name]    
    = f.text_field :name
  %p.field
    = f.label :level
    = f.text_field :level
  %p.field
    = f.label :faction
    = f.text_field :faction
  %p.field
    = f.label :race
    = f.text_field :race
  %p.field
    = f.label :server
    = f.text_field :server
  %p.field
    = label_tag "Make Default Character"  
    = check_box_tag :default
  = submit_or_cancel(f)