= form_for @character do |f|
  .field
    = f.hidden_field :game_id
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :level
    %br/
    = f.text_field :level
  .field
    = f.label :faction
    %br/
    = f.text_field :faction
  .field
    = f.label :race
    %br/
    = f.text_field :race
  .field
    = f.label :server
    %br/
    = f.text_field :server
  .field
    = label_tag "Default Character"  
    %br/
    = check_box_tag 'default_character'
  .actions
    = submit_or_cancel(f)
