- characters.each do |character|
  %li.wow.character
    %h3= link_to_if (can? :update, character), shorten_words(character.name, 11), edit_wow_character_path(character)
    .avatar= image_tag character.avatar_url :small
    %dl.attributes
      %dt Level
      %dd= character.level
      %dt Race
      %dd= character.race
      %dt Class
      %dd= character.char_class