%p#bcrumb
  = link_to 'Games', games_path
  = link_to @character.game.name, @character.game
  = link_to @character.name, @character
  %span Edit

%h1 Editing #{@character.game.name} Character

= render 'form'