%p#notice= notice

%p
  %b Name:
  = @wow_character.name
%p
  %b Faction:
  = @wow_character.faction
%p
  %b Race:
  = @wow_character.race
%p
  %b Level:
  = @wow_character.level
%p
  %b Server:
  = @wow_character.server
%p
  %b Game:
  = @wow_character.game_id
%p
  %b Avatar:
  = @wow_character.avatar

= link_to 'Edit', edit_wow_character_path(@wow_character)
\|
= link_to 'Back', wow_characters_path
