%p#bcrumb
  = link_to 'Communities', communities_path
  = link_to @game.name, @game
  %span= @character.name

#page
  %h1= @character.name

  %p#actions
    - if logged_in?
      - if current_user.can_update(@character)
        = link_to 'Edit', edit_game_wow_character_path(@game, @character), :class => 'edit', :title => 'Edit Character'
      - if current_user.can_delete(@character)
        = link_to 'Delete', @character, :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete Character'

  %dl#meta
    %dt Game:
    %dd= @game.name
    %dt Level:
    %dd= @character.level
    %dt Faction:
    %dd= @character.faction
    %dt Race:
    %dd= @character.race
    %dt Server:
    %dd= @character.server
    %dt Default:
    %dd
      = (defined? @character.default and @character.default == true) ? 'Yes' : 'No'
