%p#notice= notice

%p
  = image_tag(@wow_character.avatar_url)
%p
  %b Game:
  = @wow_character.wow.name
%p
  %b Name:
  = @wow_character.name
%p
  %b Class:
  = @wow_character.char_class
%p
  %b Race:
  = @wow_character.race
%p
  %b Level:
  = @wow_character.level
%p
  %b About:
  = @wow_character.about
- if @wow_character.default
  %p
    Default Character For
    = @wow_character.wow.name
  
- if can? :edit, @wow_character
  = link_to 'Edit', edit_wow_character_path(@wow_character)
