= form_for @custom_form do |f|
  -if @custom_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@custom_form.errors.count, "error")} prohibited this custom_form from being saved:"
      %ul
        - @custom_form.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :thankyou
    = f.text_field :thankyou
  .field
    = f.label :community_id
    = f.number_field :community_id
  .actions
    = f.submit 'Save'
