= form_for([Question.new]) do |f|
  = hidden_field(:question, :site_form_id, :value => site_form_id )
  .field
    = f.label "Question Type"
    %br/
    = f.select :type_helper, Question::select_options
  .field
    = f.label 'Question'
    %br/
    = f.text_area :content
  .actions
    = f.submit 'Add Question'
