= form_tag '' do
  %input{ name: '_method', value: '', type: 'hidden' }
  %table.roster
    %thead
      %tr
        %th
        %th= sortable 'display_name', 'Member'
        %th Characters on the Roster
        %th Joined
        %th.actions
    %tbody
      = render 'row', member_profile: current_community.admin_profile, supported_game: supported_game, profile_type: 'admin' unless params[:page] or not member_profiles.include?(current_community.admin_profile)
      - if member_profiles.any?
        - member_profiles.each do |member_profile|
          - next if member_profile == current_community.admin_profile
          = render 'row', member_profile: member_profile, supported_game: supported_game, profile_type: 'user'
    %tfoot
      %tr
        %td{ colspan: 5, class: 'batch' }
          - if can? :manage, RosterAssignment
            = button_tag 'Remove selected characters', action: batch_destroy_roster_assignments_url, method: :delete, confirm: 'Are you sure? These characters will be no longer be a part of the community.'