- title "Members | #{current_community.name}"

%h1 Membership Roster

- if can? :edit, current_community
  #submenu
    = link_to 'Upgrade Subscription', edit_subscription_url(current_community), class: 'button' if can? :upgrade, current_community

= render 'communities/population', community: current_community
-#= render 'shared/searchbox', resource: @member_profiles, action: roster_assignments_url
= paginate @member_profiles
= render 'table', member_profiles: @member_profiles, community_game: nil
= paginate @member_profiles
