- title "Members | #{current_community.name}"

%h1 Community Members
= render 'shared/searchbox', :resource => @member_profiles, :action => roster_assignments_url
= paginate @member_profiles
= render 'table', :member_profiles => @member_profiles, :supported_game => nil
= paginate @member_profiles