%h1 Members

%table
  %thead
    %tr
      %th Name
      %th Community Member Since
      %th
  - if @member_profiles.size > 0
    %tbody
      - @member_profiles.each do |member_profile|
        %tr
          %td= member_profile.name
          %td= member_profile.joined_community_on(current_community)
          %td= link_to 'Show', member_profile if can? :show, member_profile

%h1 Characters

%table
  %thead
    %tr
      %th Community profile
      %th Character proxy
      %th Pending
      %th
      %th
      %th
  - if @roster_assignements.size > 0
    %tbody
      - @roster_assignments.each do |roster_assignment|
        %tr
          %td= roster_assignment.community_profile_id
          %td= roster_assignment.character_proxy_id
          %td= roster_assignment.pending
          %td= link_to 'Show', roster_assignment if can? :show, roster_assignment
          %td= link_to 'Edit', edit_roster_assignment_path(roster_assignment) if can? :update, roster_assignment
          %td= link_to 'Destroy', roster_assignment, :confirm => 'Are you sure?', :method => :delete if can? :destroy, roster_assignment