%h1 Listing roster_assignments

%table
  %tr
    %th Community profile
    %th Character proxy
    %th Pending
    %th
    %th
    %th

  - @roster_assignments.each do |roster_assignment|
    %tr
      %td= roster_assignment.community_profile_id
      %td= roster_assignment.character_proxy_id
      %td= roster_assignment.pending
      %td= link_to 'Show', roster_assignment
      %td= link_to 'Edit', edit_roster_assignment_path(roster_assignment)
      %td= link_to 'Destroy', roster_assignment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Roster assignment', new_roster_assignment_path
