- content_for :footer do
  = javascript_include_tag 'roster_assignments'

%h1 My Roster Assigments
%p
  This page keeps track of which of your characters are members of
  %strong= current_community.name

- if @roster_assignments.any? or @available_characters.any?
  %table.my_roster
    %thead
      %tr
        %th.cinch
        %th My Characters
        %th.actions
    - if @roster_assignments.any?
      %tbody
        - @roster_assignments.each do |roster_assignment|
          %tr{ roster_assignment.is_pending ? { class: 'dim' } : {} }
            %td{ class: 'avatar cinch' }
              = image_tag roster_assignment.character_avatar_url(:tiny), class: 'avatar'
            %td.character
              %h3= roster_assignment.character_name
              = roster_assignment.is_pending ? 'is pending approval to ' : 'is a member of'
              = roster_assignment.community_game_smart_name
            %td.actions
              %div
                - if  can? :mine, RosterAssignment or can? :destroy, roster_assignment
                  = link_to 'Remove', roster_assignment, confirm: 'Are you sure?', method: :delete, class: 'delete', meta: "Remove #{roster_assignment.character_name} from the roster"
    %tfoot
      %tr
        %td
        %td
          - if @available_characters.any?
            = simple_form_for @roster_assignment, wrapper: false do |f|
              .select.characters
                %ul
                  - @available_characters.each do |cp|
                    %li{ 'data-game-type' => cp.game.class.to_s.downcase }
                      = radio_button_tag 'roster_assignment[character_id]', cp.id
                      = label_tag "roster_assignment_character_id_#{cp.id}", raw(image_tag(cp.avatar_url(:icon), class: 'avatar')) + "#{cp.name} — #{cp.game_name}"
              .select.games
                %ul
                  - current_community.community_games.includes(:community).each do |sg|
                    %li{ 'data-game-type' => sg.game.class.to_s.downcase }
                      = radio_button_tag 'roster_assignment[community_game_id]', sg.id
                      = label_tag "roster_assignment_community_game_id_#{sg.id}", sg.smart_name
              %button{ type: 'submit' } Add character
        %td
- else
  %p
    %strong
      - if current_community.community_games.any?
        You do not have any characters available to be added to the roster.
        %p
          = link_to 'Add Characters', user_profile_url(current_user.user_profile, subdomain: "www") + '#characters', class: 'button'
      - else
        This community does not have any community games, and thus no rosters.
        %p
          - if can? :manage, RosterAssignment
            = link_to 'Add a Game', new_community_game_url, class: 'button'
