= form_for [:management, @user] do |f|
  %p.field
    = f.label :email
    = f.text_field :email
  %p.field
    = f.label :password
    = f.password_field :password
  %p.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.fields_for :user_profile do |profile_fields|
    %p.field
      = profile_fields.label :name
      = profile_fields.text_field :name   
  = submit_or_cancel(f)