%p#bcrumb
  = link_to 'Management', :management
  %span Users

%h1 User Management

%table
  -if @users.size > 0
    %thead
      %tr
        %th.name Name
        %th.email Email
        %th.status Status
        %th.actions
    %tbody
      - @users.each do |user|
        %tr
          %td.name
            = link_to user.name, user_profile_path(user.user_profile)
          %td.email
            = link_to user.email, 'mailto:' + user.email
          %td.status
            = user.status_string
          %td.actions
            - if user.is_inactive
              = link_to 'Activate', activate_management_user_path(user), :class => 'activate', :title => 'Activate'
            - else  
              = link_to 'Deactivate', deactivate_management_user_path(user), :confirm => 'Are you sure? This keep user from logging in. All user information will be kept.', :class => 'deactivate', :title => 'Deactivate'
            - if logged_in?
              - if current_user.can_update("User") or user == current_user
                = link_to 'Edit', edit_management_user_path(user), :class => 'edit', :title => 'Edit'
              - if current_user.can_delete("User") or user == current_user
                = link_to 'Delete', [:management, user], :confirm => 'Are you sure? This will remove everything about user including characters.', :method => :delete, :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 4 } There are currenty no users.
  %tfoot
    %tr
      %td{ :colspan => 4 }
        = link_to 'Add New User', new_management_user_path, :class => 'button'
