- title 'Star Wars: The Old Republic'

#body
  = render 'communities/submenu'
  %h1= 'Star Wars: The Old Republic Communities'
  - if @communities.any?
    = render 'shared/searchbox', resource: @communities, action: swtors_url
    = paginate @communities
    = render "communities/table", communities: @communities
    = paginate @communities
  -else
    %p
      This game has no active communities.
      - if (can? :create, Community)
        = link_to 'Create a community', new_community_url(subdomain: false)