%h1 Announcements
%table
  %thead
    %tr
      %th.type Type
      %th.name Title
      %th.text Message
      %th.edit
  - if @announcements.size > 0
    %tbody
      - @announcements.each do |announcement|
        - if current_user.can_show(announcement)
          %tr
            %td.type= link_to announcement.type.gsub(/announcement/i, ''), :announcements
            %td.name= link_to announcement.name, announcement
            %td.text= announcement.body
            %td.edit
              - if current_user.can_update(announcement)
                = link_to 'Edit', edit_announcement_path(announcement), :class => 'edit', :title => 'Edit'
              - if current_user.can_delete(announcement)
                = link_to 'Delete', announcement, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  %tfoot
    %tr
      %td{ :colspan => 4 }
        = link_to 'New Announcement', new_announcement_path, :class => 'button'
