#body
  %h1 My Announcements

  - if current_user.announcements.size > 0
    = form_tag announcements_batch_mark_as_seen_path, :method => :put do
      %table
        %thead
          %tr
            %th.check
            %th Announcement
            %th Community
            %th Date
        %tbody
          - current_user.unread_announcements.each do |discussion|
            %tr.unread
              %td.check
                = check_box_tag "ids[#{discussion.id}]", true, false, :id => "discussion_id_#{discussion.id}"
                %label{ :for => "discussion_id_#{discussion.id}" }
              %td
                %strong= link_to discussion.name, discussion_url(discussion, :subdomain => discussion.subdomain)
                %br/
                = truncate discussion.body, :length => 150, :separator => ' '
              %td= link_to discussion.community_name, root_url(:subdomain => discussion.subdomain)
              %td
                %time
                  = l discussion.created_at, :format => :date_short
                %time
                  = l discussion.created_at, :format => :time_12
          - current_user.read_announcements[0,@limit_read_amount].each do |discussion|
            %tr.read
              %td{ :class => 'check compact' } ✔
              %td
                %strong= link_to discussion.name, discussion_url(discussion, :subdomain => discussion.subdomain)
              %td= link_to discussion.community_name, root_url(:subdomain => discussion.subdomain)
              %td
                %time
                  = l discussion.created_at, :format => :date_short
                %time
                  = l discussion.created_at, :format => :time_12
          - if current_user.read_announcements.size > @limit_read_amount
            %tr.read
              %td.check
              %td{ :colspan => 3 }= "…and #{pluralize (current_user.read_announcements.size - @limit_read_amount), 'older announcement'}."
        %tfoot
          %tr
            %td{ :colspan => 4 }
              -if current_user.unread_announcements.size > 0
                %button{ :class => 'read' } Mark selected as read
