#page
  %h1= announcement.name
  
  %p#actions
    = link_to 'Edit', edit_announcement_path(announcement), :class => 'edit'
  
  %p= announcement.body
  
  .comments
    - if announcement.comments.size > 0
      %h2 Comments
      %ol
        - announcement.comments.each do |comment|
          = render comment
  %p.reply
    - if announcement.comments_enabled?
      = link_to 'New Comment', new_comment_path(:format => :js, :commentable_id => announcement.id, :commentable_type => announcement.class, :form_target => '#announcement_' + announcement.id.to_s + ' .reply', :comment_target => '#announcement_' + announcement.id.to_s + ' .comments'), :remote => true, :class => 'new_comment_link button' if current_user.can_create('Comment')
    - else
      Comments are disabled.

  - if current_user.can_show(announcement.class.to_s)
    %table
      %caption
        %h2 Acknowledgments
      %thead
        %tr
          %th.name User Name
          %th.ack Acknowledged
      %tbody
        - if @acknowledgments.size > 0
          - @acknowledgments.each do |ack|
            %tr
              %td= ack.author_name
              %td= ack.acknowledged
        - else
          %tr
            %td{ :colspan => 2 }
      %tfoot
        %tr
          %td{ :colspan => 2 }

  %ul
    %li= link_to 'Site Announcements', site_announcements_path
    %li= link_to 'Game Announcements', game_announcements_path
    %li= link_to 'All Announcements', announcements_path