%h1 Profiles

%table
  - if @profiles.size > 0
    %thead
      %tr
        %th.name Name
        %th.type Type
        %th.edit
    %tbody
      - if @user_profiles
        - @user_profiles.each do |profile|
          %tr
            %td.name
              = link_to profile.name, profile
            %td.type
              = link_to 'User', user_profiles_path
            %td.edit
              = link_to 'Edit', edit_user_profile_path(profile), :class => 'edit', :title => 'Edit'
              = link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
      - if @game_profiles
        - @game_profiles.each do |profile|
          %tr
            %td.name
              = link_to profile.name, profile
            %td.type
              = link_to 'Game', game_profiles_path
            %td.edit
              = link_to 'Edit', edit_user_profile_path(profile), :class => 'edit', :title => 'Edit'
              = link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  - else 
    %tbody
      %tr
        %td{ :colspan => 3 } No profiles.
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if logged_in?
          - if current_user.can_create('UserProfile')
            = link_to 'New User Profile', new_user_profile_path, :class => 'button'
          - if current_user.can_create('GameProfile')
            = link_to 'New Game Profile', new_game_profile_path, :class => 'button'