%p#notice= notice
%p
  %b Name:
  = @profile.name
= render @game
%h3 Characters:
#characters
  = render @profile.characters
%br/
%h3 Add New Character:
= render :file => 'characters/new'
%br/
= link_to 'Edit', edit_profile_path(@profile)
|
\#{link_to 'Back', profiles_path}
