%p#notice= notice
%p
  %b Name:
  = @profile.name
%div
  %h3 Characters
  - if @profile.game_profiles != nil
    - for profiles in @profile.game_profiles
      - for characters in profiles.characters
        = render characters
= link_to 'New Character', new_character_path
|
\#{link_to 'Edit User Profile', edit_profile_path(@profile)} |
\#{js_back}
