<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<%= render @game %>

<h3>Characters:</h3>
<div id="characters">
  <%= render @profile.characters %>
</div>

<br/>
<h3>Add New Character:</h3>

<%= render :file => 'characters/new' %>
<br/>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
