%p#notice= notice

%p
  %b Community profile:
  = @roster_assignment.community_profile_id
%p
  %b Character proxy:
  = @roster_assignment.character_proxy_id
%p
  %b Pending:
  = @roster_assignment.pending

= link_to 'Edit', edit_roster_assignment_path(@roster_assignment)
\|
= link_to 'Back', roster_assignments_path
