%p#bcrumb
  = link_to 'Management', management_path
  = link_to 'Users', management_users_path
  = link_to @user.name, @user.user_profile
  %span Edit

%h1= 'Editing "' + @user.name + '"'

= render 'form'
