%h1 Listing users
%table
  %tr
    %th Name
    %th Email
    %th User Status
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= link_to user.name, user_profile_path(user.user_profile)
      %td= link_to user.email, user
      %td= user.status_string
      %td= link_to 'Edit', edit_management_user_path(user)
      %td= link_to 'Destroy', [:management, user], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New User', new_management_user_path
