- title 'Account'

#body
  %h1 Account Details

  = simple_form_for(@user, :url => registration_url(@user, :subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :html => { :method => :put }) do |f|
    %fieldset
      %ol
        = f.input :email
        = f.input :password, :label => 'New password'
        = f.input :password_confirmation, :label => 'New password confirmation'
        = f.input :current_password, :hint => "(we need your current password to confirm your changes)"
      %p
        %button{ :type => 'submit' } Update
  %p
    = link_to "Disable my account", disable_confirmation_path