- title 'Account Settings'

#body
  %h1 Account Settings

  = simple_form_for(@user, url: registration_url(@user, subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), html: { method: :put, autocomplete: :off }) do |f|
    %fieldset
      %ol
        = f.input :email, required: true
        = f.input :is_email_on_message, label: "Send me an email when I receive a message"
        = f.input :is_email_on_announcement, label: "Send me an email when I receive an announcement"
        = f.input :time_zone, collection: User::VALID_TIME_ZONES, as: :radio, wrapper_html: { class: 'select' }
        = f.input :password, label: 'New password'
        = f.input :password_confirmation, label: 'New password confirmation'
        = f.input :current_password, required: true, hint: "(we need your current password to confirm your changes)"
      %p.submit
        %button{ type: :submit } Save Changes
        = link_to "Deactivate my account", disable_confirmation_url, class: 'secondary'

  = render 'shared/user_account_links'