- title 'Sign up'

#body
  %h1 Sign up for Tabard&trade;

  - resource.build_user_profile unless resource.user_profile
  = simple_form_for(resource, as: resource_name, url: registration_url(resource_name, subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://"))) do |f|
    %fieldset
      %ol
        -if User::BETA_CODE_REQUIRED
          = f.input :beta_code
        = f.simple_fields_for :user_profile do |uf|
          = uf.input :display_name, label: "Player Name", required: false, hint: "You can change this later. #{UserProfile::MAX_NAME_LENGTH} characters max."
        = f.input :email, as: :email
        = f.input :email_confirmation, as: :email, label: 'Re-enter Email'
        = f.input :password, label: 'New Password', hint: 'Use at least two: upper, lower, number, or sybmol', input_html: defined?(params[:user][:remember_password]) ? { value: params[:user][:remember_password] } : {}
        %li{ class: "date selects #{f.object.errors[:date_of_birth].any? ? 'with-errors' : ''}" }
          %label Birthday
          = f.input :birth_month, as: :radio, label: false, collection: (1..12).collect{|m| m = [Date::MONTHNAMES[m], m]}, wrapper_tag: :div, wrapper_html: {class: 'select month', data: {placeholder: 'Month'}}
          = f.input :birth_day, as: :radio, label: false, collection: 1..31, wrapper_tag: :div, wrapper_html: {class: 'select day', data: {placeholder: 'Day'}}
          = f.input :birth_year, as: :radio, label: false, collection: Time.zone.now.year.downto(Time.zone.now.year-100), wrapper_tag: :div, wrapper_html: {class: 'select year', data: {placeholder: 'Year'}}
          - if f.object.errors[:date_of_birth].any?
            %mark.error= f.object.errors[:date_of_birth].first
        %li.help{ href: 'javascript:;', onclick: '$.alert({title:"Your Birthday",body:"Tabard is a service exclusively for players 13 years of age and older. We need your birthday to make sure that you are eligible for an account."})' }
          Why is my birthday required?
        - unless !!cookies[:timezone]
          = f.input :time_zone, required: false, collection: timezone_collection_hash, as: :radio, wrapper_html: { class: 'select' }
      - if !!cookies[:timezone]
        = f.input :time_zone, as: :hidden, input_html: { value: cookies[:timezone].to_s }
      %p.terms
        By clicking "Sign up", you agree to our
        = link_to 'Terms', top_level_terms_of_service_url, target: '_blank'
        and that you have read our
        = (link_to 'Privacy Policy', top_level_privacy_policy_url, target: '_blank') + '.'
      %p
        %button{ type: 'submit' } Sign up
  = render "devise/shared/links"
