- title 'Sign up'

%h1 Sign up for Tabard

- resource.build_user_profile unless resource.user_profile
= simple_form_for(resource, as: resource_name, url: registration_url(resource_name)) do |f|
  %fieldset
    %ol
      = f.input :beta_code if User::BETA_CODE_REQUIRED
      = f.simple_fields_for :user_profile do |uf|
        = uf.input :gamer_tag, label: "Gamer Tag", required: false, hint: "What other players see. Must be unique. Cannot be changed.", wrapper_html: {class: 'gamer_tag'}
        = uf.input :full_name, label: 'Full Name', required: false
      = f.input :email, as: :email
      = f.input :email_confirmation, as: :email, label: 'Re-enter Email'
      = f.input :password, label: 'Password', hint: '8 or more characters of 2 or more kinds (upper, lower, number, sybmol)', input_html: defined?(params[:user][:remember_password]) ? { value: params[:user][:remember_password] } : {}
      %li{ class: "date selects #{f.object.errors[:date_of_birth].any? ? 'with-errors' : ''}" }
        %label Birthday
        = f.input :birth_month, as: :radio_buttons, label: false, collection: (1..12).collect{|m| m = [Date::MONTHNAMES[m], m]}, wrapper_tag: :div, wrapper_html: {class: 'select month', data: {placeholder: 'Month'}}
        = f.input :birth_day, as: :radio_buttons, label: false, collection: 1..31, wrapper_tag: :div, wrapper_html: {class: 'select day', data: {placeholder: 'Day'}}
        = f.input :birth_year, as: :radio_buttons, label: false, collection: Time.zone.now.year.downto(Time.zone.now.year-100), wrapper_tag: :div, wrapper_html: {class: 'select year', data: {placeholder: 'Year'}}
        - if f.object.errors[:date_of_birth].any?
          %mark.error= f.object.errors[:date_of_birth].first
      %li.help{ href: 'javascript:;', onclick: '$.alert({title:"Your Birthday",body:"Tabard is a service exclusively for players 13 years of age and older. We need your birthday to make sure that you are eligible for an account."})' }
        Why is my birthday required?
    %p.terms.input.boolean{ class: resource.errors[:terms].any? ? 'with-errors' : '' }
      = check_box_tag 'user[terms]'
      = label_tag :user_terms do
        I accept Tabard's
        = link_to 'Terms of Service', top_level_terms_of_service_url, target: '_blank'
        and have read and understand the
        = (link_to 'Privacy Policy', top_level_privacy_policy_url, target: '_blank') + '.'
      - if resource.errors[:terms].any?
        %mark.error= resource.errors[:terms].first
    %p
      %button{ type: 'submit' } Sign up
= render "devise/shared/links"
