- title 'Sign up'

#body
  %h1 Sign up for Crumblin

  - resource.build_user_profile unless resource.user_profile
  = simple_form_for(resource, :as => resource_name, :url => registration_url(resource_name, :subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://"))) do |f|
    %fieldset
      %ol
        -if User::BETA_CODE_REQUIRED
          = f.input :beta_code
        = f.input :email, :as => :email
        = f.simple_fields_for :user_profile do |uf|
          = uf.input :display_name, :required => false
        %li{ :class => "date select #{f.object.errors[:date_of_birth].any? ? 'field_with_errors' : ''}"}
          %label Birthday
          .month= f.input :birth_month, :as => :radio, :label => false, :collection => (1..12).collect{|m| m = [Date::MONTHNAMES[m], m]}, :wrapper => false
          .day= f.input :birth_day, :as => :radio, :label => false, :collection => 1..31, :wrapper => false
          .year= f.input :birth_year, :as => :radio, :label => false, :collection => Time.zone.now.year.downto(Time.zone.now.year-100), :wrapper => false
          - if f.object.errors[:date_of_birth].any?
            %mark.error= f.object.errors[:date_of_birth].first
        = f.input :password, :input_html => defined?(params[:user][:remember_password]) ? { value: params[:user][:remember_password] } : {}
        = f.input :password_confirmation
        = f.input :time_zone, :collection => User::VALID_TIME_ZONES, :as => :radio, :wrapper_html => { :class => 'select' }
      -unless @user.has_accepted_current_terms_of_service?
        %h2 Terms of Service and User Agreement
        .document
          .scroll
            :markdown
              #{TermsOfService.current.body}
          %p.accept
            = f.input :accepted_current_terms_of_service, :as => :boolean, :label => 'I have read and accept the "Terms of Service"', :wrapper => false
      -unless @user.has_accepted_current_privacy_policy?
        %h2 Privacy Policy
        .document
          .scroll
            :markdown
              #{PrivacyPolicy.current.body}
          %p.accept
            = f.input :accepted_current_privacy_policy, :as => :boolean, :label => 'I have read and accept the "Terms of Service"', :wrapper => false
      %p
        %button{ :type => 'submit' } Sign up
  = render "devise/shared/links"
