- title "#{@announcement_space.name} | #{@community.name}"

%nav
  %h1
    = link_to "Announcement Spaces", announcement_spaces_url
    %strong= @announcement_space.name

- if @announcement_space.discussions.size > 0
  = render "subdomains/announcements/table", :announcement_space => @announcement_space

-else
  %p This announcement space has no viewable announcements.
  - if (can? :create, @announcement_space.discussions.new)
    %p= link_to 'Create an Announcement', new_announcement_space_announcement_path(@announcement_space), :class => 'button primary'