<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @discussion.name %>
</p>

<p>
  <b>Body:</b>
  <%= @discussion.body %>
</p>

<p>
  <b>Discussion space:</b>
  <%= @discussion.discussion_space_id %>
</p>

<p>
  <b>Character:</b>
  <%= @discussion.character_id %>
</p>

<p>
  <b>User profile:</b>
  <%= @discussion.user_profile_id %>
</p>


<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
