<%= div_for comment do %>
  <p>By: <%= comment.user_profile %></p>
  <p>By: <%= comment.character %></p>
  <p>Body: <%= comment.body %></p>
  <p>Item: <%= link_to "Commentable needs a name helper...", comment.commentable %></p>
  <span class='actions'>
    <td><%= (logged_in? and current_user.can_update(comment)) ? link_to( 'Edit', edit_comment_path(comment)) : "" %></td>
    <td><%= (logged_in? and current_user.can_delete(comment)) ? link_to( 'Delete', comment, :confirm => 'Are you sure?', :method => :delete) : "" %></td>
    <%= link_to "New Comment", new_comment_path(:format => :js, :commentable_id => comment.id, :commentable_type => comment.class), :remote => true, :class => 'new_comment_link' %>
  </span>
  <div id="comment">
    <% comment.comments.each do  |subcomment| %>
      <%= render subcomment %>
    <% end %>
  </div>
<% end %>
