<%= div_for comment do %>
  <p>By: <%= comment.user_profile %></p>
  <p>By: <%= comment.character %></p>
  <p>Body: <%= comment.body %></p>
  <p>Item: <%= link_to "Commentable needs a name helper...", comment.commentable %></p>
  <span class='actions'>
    <%= link_to "Edit", edit_comment_path(comment) %>
    <%= link_to "Delete", [comment], :confirm => "Are you sure?", :method => :delete %>
  </span>
  <h5>New Comment</h5>
  <%= render( :file => 'comments/new.html.erb', :locals => {:commentable => comment, :user_profile_id => current_user.user_profile_id, :character_id => (character_active? ? current_character.id : nil)}) %>
  <P>NEED TO ADD INDENTING</P>
  <ul>
    <% comment.comments.each do  |subcomment| %>
      <%= render subcomment %>
    <% end %>
  </ul>
<% end %>
