- title 'Search'
- content_for :header do
  = stylesheet_link_tag 'top_level/search'
  = javascript_include_tag 'endless_scrolling'
  = javascript_include_tag 'search'

#body
  %h1 Find Communities & Players

  #searchbox
    = form_tag search_url(subdomain: false), method: 'get' do
      %p
        = text_field_tag :term, params[:term], id: 'search', placeholder: 'Community name, player, or game', data: {url: search_url}
        %button{ type: 'submit' } Search

  - unless params[:term].blank?
    %h2 Search Results
    %hr
    - if @results.any?
      .endless_scrolling{ action: search_url(format: :js), target: 'ol.results', current_page: @results.current_page, last_page: @results.num_pages }
        %ol.results
          - @results.each do |result|
            - case result.class.to_s
            - when 'Community'
              = render 'li_community', community: result
            - when 'UserProfile'
              = render 'li_user_profile', user_profile: result
            - when 'CharacterProxy'
              = render 'li_character_proxy', user_profile: result.user_profile, character: result
        = paginate @results
    - else
      %p We did not find any players or communities that matched your request.