%h1 Search Results

#search
  %p Found #{pluralize(@results.size, 'match')} for "#{@search_term}"
  = render :partial => "search/form", :locals => { :search_term => @search_term }

- if @results.size > 0
  %h2 Results
  %dl#results{ :class => 'tabs' }
    %dt{ :class => 'all active' } All (#{@results.size})
    %dd{ :class => 'all active' }
      %ol
        - @results.each do |result|
          %li= render :partial => 'result', :locals => { :result => result }
          
    %dt.topics Topics (#{@page_space_results.size})
    %dd.topics
      - if @page_space_results.size > 0
        %ol
          - @page_space_results.each do |result|
            %li= render :partial => 'result', :locals => { :result => result }
            
    %dt.pages Pages (#{@page_results.size})
    %dd.pages
      - if @page_results.size > 0
        %ol
          - @page_results.each do |result|
            %li= render :partial => 'result', :locals => { :result => result }
            
    %dt.discussions Discussions (#{@discussion_space_results.size})
    %dd.discussions
      - if @discussion_space_results.size + @discussion_results.size > 0
        %ol
          - @discussion_space_results.each do |result|
            %li= render :partial => 'result', :locals => { :result => result }
          - @discussion_results.each do |result|
            %li= render :partial => 'result', :locals => { :result => result }
            
    %dt.comments Comments (#{@comment_results.size})
    %dd.comments
      - if @comment_results.size > 0
        %ol
          - @comment_results.each do |result|
            %li= render :partial => 'result', :locals => { :result => result }