- title 'Invoices'

#body
  %h1 Invoices

  #submenu

  - if @invoices.size > 0
    %table
      %thead
        %tr
          %th period_start_date
          %th period_end_date
          %th paid_date
          %th Cost
          %th is_closed
          %th.actions
      %tbody
        - @invoices.each do |invoice|
          %tr
            %td= invoice.period_start_date
            %td= invoice.period_end_date
            %td= invoice.paid_date
            %td.r= number_to_currency(invoice.total_price_in_dollars)
            %td= invoice.is_closed
            %td.actions
              %div
                = link_to 'Details', invoice, meta: 'View Details', class: 'view'
      %tfoot
  - else
    %p You don't have any invoices.