- title 'Statements'

%h1 Statements

= render 'shared/subscriptions_submenu', current: 'invoices'

- if @invoices.any?
  %table
    %thead
      %tr
        %th Statement Date Range
        %th Amount
        %th Status
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td
            = link_to invoice do
              = invoice.period_start_date.strftime("%b %e, %Y")
              - if invoice.period_start_date != invoice.period_end_date
                &mdash;
                = invoice.period_end_date.strftime("%b %e, %Y")
          %td.r
            %strong= number_to_currency(invoice.total_price_in_dollars)
          %td.nowrap= invoice_status invoice
    %tfoot
      %tr
        %td{ colspan: 3 }

- else
  %p You don't have any invoices.