- title 'Statement'

%h1
  - if @invoice.is_closed?
    = "Statement: #{@invoice.period_end_date.strftime("%b %e, %Y")}"
  - else
    Current Statement

= render 'shared/subscriptions_submenu'

- if @invoice.uniqued_invoice_items.size > 0
  #invoice
    - items_by_community = @invoice.uniqued_invoice_items.sort_by{|item| item.has_community_plan? ? 0 : 1}.group_by(&:magic_historical_community)
    - community_subtotals = {}
    - items_by_community.each do |community, invoice_items|
      %table
        %thead
          %tr
            %th{ colspan: 4 }
              %h2= community.name
        %tbody
          - community_subtotals[community.id] = {name: community.name, subtotal: 0}
          - invoice_items.group_by(&:start_date).each do |start_date, invoice_items|
            - end_date = invoice_items.first.end_date
            - period_subtotal = 0
            %tr.heading
              %th
                %h3
                  = start_date.strftime '%b %e, %Y'
                  &mdash;
                  = end_date.strftime '%b %e, %Y'
              %th Price
              %th Qty
              %th.r Amount

            - invoice_items.each do |invoice_item|
              - period_subtotal = period_subtotal + invoice_item.total_price_in_dollars
              - normal_price = number_to_currency(invoice_item.price_per_month_in_cents/100.0*invoice_item.quantity)
              - actual_price = number_to_currency(invoice_item.total_price_in_dollars)
              - show_prorated = (invoice_item.is_prorated and normal_price != actual_price)
              %tr
                %td
                  %strong
                    = invoice_item.item_title
                    &mdash;
                    - if invoice_item.is_prorated
                      Current Month
                    - else
                      Recurring Subscription
                  %br
                  = invoice_item.item_description
                %td.r= number_to_currency(invoice_item.price_per_month_in_cents/100.0)
                %td
                  &times;
                  = invoice_item.quantity
                %td.r
                  - if show_prorated
                    %strike= normal_price
                  %strong= actual_price
            %tr.subtotal
              %td.r{ colspan: 3 } Subtotal
              %td.r= number_to_currency(period_subtotal)
            - community_subtotals[community.id][:subtotal] = community_subtotals[community.id][:subtotal] + period_subtotal
        %tfoot
          - if items_by_community.size > 1
            %tr
              %td.r{ colspan: 3 } Community Subtotal
              %td.r
                %h2= number_to_currency(community_subtotals[community.id][:subtotal])
          - else
            %tr
              %td.r{ colspan: 3 }
                - if @invoice.should_be_taxed?
                  Local Tax
                  %br
                %h2 Total
              %td.r
                - if @invoice.should_be_taxed?
                  = number_to_currency(@invoice.total_tax_in_dollars)
                  %br
                %h2= number_to_currency(@invoice.total_price_in_dollars)

    - if items_by_community.size > 1
      %table
        %thead
          %tr
            %th{ colspan: 2 }
              %h2 Totals
        %tbody
          - community_subtotals.each do |key,community|
            %tr
              %td= community[:name]
              %td.r= number_to_currency(community[:subtotal])
        %tfoot
          %td.r
            - if @invoice.should_be_taxed?
              Local Tax
              %br
            %h2 Total
          %td.r
            - if @invoice.should_be_taxed?
              = number_to_currency(@invoice.total_tax_in_dollars)
              %br
            %h2= number_to_currency(@invoice.total_price_in_dollars)

- else
  %p You don't have any statements.
