- title 'Invoices'

#body
  %h1 Invoices

  #submenu

  - if @invoice.invoice_items.size > 0
    %table
      %thead
        %tr
          %th item
          %th price_each
          %th quantity
          %th Total
      %tbody
        - @invoice.invoice_items.group_by(&:community).each do |community, invoice_items|
          %tr
            %td.r{ colspan: 4 }=community.to_yaml
          - invoice_items.each do |invoice_item|
            %tr
              %td
                %span= invoice_item.item_title
                %hr
                %span= invoice_item.item_description
              %td= number_to_currency(invoice_item.price_each/100.0)
              %td= invoice_item.quantity
              %td= number_to_currency(invoice_item.total_price_in_dollars)
      %tfoot
  - else
    %p You don't have any invoices.