%table
  %thead
    %tr
      %th Name
      %th Author
      %th Last Reply
      %th Comments?
      %th.actions
  %tbody
    - discussion_space.discussions.each do |discussion|
      %tr
        %td= link_to discussion.name, discussion
        %td= discussion.poster.name
        %td
          - if discussion.comments.size > 0
            = discussion.comments.last.poster_name
        %td
          - if not discussion.is_locked
            = discussion.number_of_comments
          - else
            Closed
        %td.actions
          %div
            - if discussion.is_locked
              - if can? :unlock, discussion
                = link_to 'Unlock', unlock_discussion_url(discussion), :method => :post, :meta => 'Unlock discussion', :class => 'unlock'
            - else
              - if can? :lock, discussion
                = link_to 'Lock', lock_discussion_url(discussion), :method => :post, :meta => 'Lock discussion', :class => 'lock'
            - if can? :update, discussion
              = link_to 'Edit', edit_discussion_url(discussion), :meta => 'Edit discussion', :class => 'edit'
            - if can? :destroy, discussion
              = link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete discussion', :class => 'delete'
  %tfoot
    %tr
      %td{ :colspan => 5 }
        - if (can? :create, discussion_space.discussions.new)
          = link_to 'New Discussion', new_discussion_space_discussion_url(discussion_space), :class => 'button primary'