%table
  %thead
    %tr
      %th Name
      %th Last Reply
      %th Comments
      %th.actions
  %tbody
    - discussions.each do |discussion|
      %tr
        %td
          %h3= link_to shorten_words(discussion.name, 21), discussion
          %time
            Created by
            = link_to shorten_words(discussion.poster.name), discussion.poster
            = time_ago_in_words(discussion.created_at)
            ago
        %td
          - if discussion.comments.any?
            %time
              - last_comment = discussion.comments.last
              = link_to shorten_words(last_comment.poster_name), last_comment.poster
              = time_ago_in_words(last_comment.created_at)
              ago
        %td
          - if not discussion.is_locked
            = discussion.number_of_comments
          - else
            Closed
        %td.actions
          %div
            - if discussion.is_locked
              - if can? :unlock, discussion
                = link_to 'Unlock', unlock_discussion_url(discussion), :method => :post, :meta => 'Unlock discussion', :class => 'unlock'
            - else
              - if can? :lock, discussion
                = link_to 'Lock', lock_discussion_url(discussion), :method => :post, :meta => 'Lock discussion', :class => 'lock'
            - if can? :update, discussion
              = link_to 'Edit', edit_discussion_url(discussion), :meta => 'Edit discussion', :class => 'edit'
            - if can? :destroy, discussion
              = link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete discussion', :class => 'delete'
  %tfoot
    %tr
      %td{ :colspan => 4 }
        - if (can? :create, discussion_space.discussions.new)
          = link_to 'New Discussion', new_discussion_space_discussion_url(discussion_space), :class => 'button'