%h1 Listing discussions

%table
  %tr
    %th Name
    %th Body
    %th Discussion space
    %th Character proxy
    %th User profile
    %th Comments enabled
    %th Has been locked
    %th
    %th
    %th

  - @discussions.each do |discussion|
    %tr
      %td= discussion.name
      %td= discussion.body
      %td= discussion.discussion_space_id
      %td= discussion.character_proxy_id
      %td= discussion.user_profile_id
      %td= discussion.comments_enabled
      %td= discussion.has_been_locked
      %td= link_to 'Show', discussion
      %td= link_to 'Edit', edit_discussion_path(discussion)
      %td= link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Discussion', new_discussion_path
