- title "#{@discussion.name} | #{@discussion.discussion_space_name} | #{@community.name}"

- content_for :footer do
  = javascript_include_tag "comments"

#breadcrumb
  %ol
    %li= link_to "Discussion Spaces", discussion_spaces_path
    %li= link_to shorten_words(@discussion.discussion_space_name, 21), @discussion.discussion_space
    %li
      %span= shorten_words @discussion.name, 21

#actions.actions
  - if @discussion.is_locked
    - if can? :unlock, @discussion
      = link_to 'Unlock', unlock_discussion_url(@discussion), method: :post, meta: 'Unlock discussion', class: 'unlock'
  - else
    - if can? :lock, @discussion
      = link_to 'Lock', lock_discussion_url(@discussion), method: :post, meta: 'Lock discussion', class: 'lock'
    - if can? :update, @discussion
      = link_to 'Edit', edit_discussion_path(@discussion), meta: 'Edit discussion', class: 'edit'
    - if can? :destroy, @discussion
      = link_to 'Destroy', @discussion, confirm: 'Are you sure?', method: :delete, meta: 'Remove discussion', class: 'delete'

%article.discussion
  %h1= shorten_words @discussion.name, 21
  .meta
    = image_tag (@discussion.poster_avatar_url :small), class: 'avatar'
    = @discussion.has_been_edited ? 'Edited by' : 'Created by'
    %strong
      = link_to shorten_words(@discussion.user_profile_name), @discussion.user_profile
      = "as #{@discussion.poster_name}" unless @discussion.poster == @discussion.user_profile
    %time= time_ago_in_words(@discussion.has_been_edited ? @discussion.updated_at : @discussion.created_at) + ' ago'
  %p
    = @discussion.body

- if @comments.any? or can? :comment, @discussion
  %aside.comments
    - if @comments.any?
      = paginate @comments
      %ol
        - @comments.each do |comment|
          = render "subdomains/comments/comment", comment: comment
      = paginate @comments
    - if can? :comment, @discussion
      .newcomment
        %h3 Post a New Comment
        = render 'subdomains/comments/form', comment: @discussion.comments.new