- title "#{@discussion.name} | #{@discussion.discussion_space.name} | #{@community.name}"

%h1= @discussion.name

%p
  = @discussion.body

- if @discussion.comments.size > 0
  %ol
    - @discussion.comments do |comment|
      -# TODO Doug - Hook this up after comments have been done
      -#= render "subdomains/comments/comment", :comment => comment
- if @discussion.comments_enabled and !@discussion.has_been_locked
  -# TODO Doug - Make this form work
    = render "subdomains/comments/form"
  