- title "#{@discussion.name} | #{@discussion.discussion_space_name} | #{@community.name}"
= javascript_include_tag "comments"

%nav
  %h1
    = link_to "Discussion Spaces", discussion_spaces_path
    - if @discussion.discussion_space.game
      %rt= " — #{@discussion.discussion_space.game_name}"
    = link_to @discussion.discussion_space_name, @discussion.discussion_space
    %strong= @discussion.name

%article
  %p
    = @discussion.body

- if @discussion.comments or (@discussion.comments_enabled and !@discussion.has_been_locked and (can? :create, @discussion.comments.new))
  %aside.comments
    - if @discussion.comments
      %ol
        - @discussion.comments.each do |comment|
          = render "subdomains/comments/comment", :comment => comment
    - if @discussion.comments_enabled and !@discussion.has_been_locked and (can? :create, @discussion.comments.new)
      #newcomment
        %h3 Post a New Comment
        = render 'subdomains/comments/form', :comment => @discussion.comments.new