= form_for(@acknowledgment_of_announcement) do |f|
  - if @acknowledgment_of_announcement.errors.any?
    #error_explanation
      %h2
        = pluralize(@acknowledgment_of_announcement.errors.count, "error")
        prohibited this acknowledgment_of_announcement from being saved:
      %ul
        - @acknowledgment_of_announcement.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :acknowledged
    %br/
    = f.check_box :acknowledged
  .actions
    = f.submit 'Acknowledge'
