= form_for @select_question do |f|
  -if @select_question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@select_question.errors.count, "error")} prohibited this select_question from being saved:"
      %ul
        - @select_question.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
