%p#bcrumb
  = link_to 'Management', :management
  %span Discussion Spaces

%h1 Discussion Space Management

%table
  - if @discussion_spaces.size > 0
    %thead
      %tr
        %th.amount #
        %th.name Name
        %th.edit
    - @discussion_spaces.each do |discussion_space|
      %tr
        %td= discussion_space.discussions.size if discussion_space.discussions.size > 0
        %td= link_to discussion_space.name, discussion_space
        %td.edit
          - if current_user.can_update(discussion_space)
            = link_to 'Edit', edit_management_discussion_space_path(discussion_space), :class => 'edit', :title => 'Title'
          - if current_user.can_delete(discussion_space)
            = link_to 'Delete', [:management, discussion_space], :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 4 } There are currenty no discussion spaces.
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if current_user.can_create("DiscussionSpace")
          = link_to 'New Discussion Space', new_management_discussion_space_path, :class => 'button'
