= form_for(@text_box_question, :remote => true) do |f|
  = f.hidden_field :site_form_id
  %h2 New Long Answer Question
  %p{ :class => 'question field' }
    = f.label :content, "Question"
    = f.text_area :content, :rows => 3
  %p
    %button{ :type => 'submit' } Add Question
    or
    = link_to 'Cancel', 'javascript:;', :class => 'new_question_cancel'
