= div_for text_box_question do
  %h3
    = text_box_question.content
    %br/
    = submission.fields_for :answers do |answer|
      = answer.text_area :content, :rows =>5
      = answer.hidden_field(:question_id, :value => text_box_question.id)
