- title 'Features'

#body
  %h1 Features
  %table.compare
    %thead
      %tr
        %th
        %th.highlight
          %strong Crumblin
          %br
          Free
        %th
          %strong GuildPortal
          %br
          Bronze Package
        %th
          %strong GuildLaunch
          %br
          Ad-Supported Plan
        %th
          %strong Enjin
          %br
          Basic Plan
    %tbody
      %tr
        %th Ad Free
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
      %tr
        %th Discussions & Pages
        %td.highlight Unlimited
        %td 10 posts & no storage space
        %td 10mb storage
        %td 20 modules
      %tr
        %th Site Themes
        %td.highlight Customizable
        %td Static
        %td Static
        %td Customizable
      %tr
        %th Member Applications
        %td.highlight Customizable
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Dynamic Roles & Permissions
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Tracked Announcements
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
      %tr
        %th Roster Management
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Multi-Community Memberships
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
      %tr
        %th Private Messaging
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Custom Forms
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
    %tfoot
      %tr
        %td
        %td= link_to 'signup', new_user_registration_url, :class => 'button'
        %td{ colspan: 4 }