- title 'Features'

%h1 Features

%blockquote
  %p
    %strong Tabard&trade; helps you easily manage guilds, clans, teams, alliances, and players.
    We understand that building a successful community of gamers takes time and effort.
    Tabard&trade; takes care of all of the tedious details, giving you more time to play.

.col3
  %article
    %h2 Community Building
    = image_tag 'main/features/management.png', alt: '', class: 'icon alignleft'
    %p Quickly deploy a unique guild experience that organizes your community and its members.
    %h2 Application Forms
    = image_tag 'main/features/application.png', alt: '', class: 'icon alignleft'
    %p Create custom membership applications with submission review for community leaders.
    %h2 Character Profiles
    = image_tag 'main/features/profiles.png', alt: '', class: 'icon alignleft'
    %p Create character profiles for multiple games and join communities with those characters.
  %article
    %h2 Announcements
    = image_tag 'main/features/announcement.png', alt: '', class: 'icon alignleft'
    %p Create community or game specific announcements, and track who has seen them.
    %h2 Messaging
    = image_tag 'main/features/messages.png', alt: '', class: 'icon alignleft'
    %p Communicate with your friends using an intergrated private messaging system.
    %h2 Pages & Discussions
    = image_tag 'main/features/pages.png', alt: '', class: 'icon alignleft'
    %p Create community wiki pages and setup discussion spaces for member interaction.
  %article
    %h2 Event Scheduling
    = image_tag 'main/features/events.png', alt: '', class: 'icon alignleft'
    %p Manage your community events with invites targeting games and players of your choosing.
    %h2 Roles & Permissions
    = image_tag 'main/features/permissions.png', alt: '', class: 'icon alignleft'
    %p Create customizable, inheritable roles with unique permissions across each feature of the site.
    %h2 + More
    = image_tag 'main/features/more.png', alt: '', class: 'icon alignleft'
    %p This is just the beginning. We're committed to bringing you game specific features, handheld tools, and voice services.