- title 'Features'

#body
  %h1 Crumblin&trade; Features
  %blockquote
    %p
      %strong Crumblin&trade; helps you easily manage guilds, clans, teams, alliances, and players.
      We understand that building a successful community of gamers takes time and effort.
      Crumblin&trade; takes care of all of the tedious details, giving you more time to play.
  .col3
    %article
      %h2 Community Building
      = image_tag 'main/features/management.png', :alt => '', :class => 'icon alignleft'
      %p Quickly deploy a unique guild experience that organizes your community and its members.
      %h2 Application Forms
      = image_tag 'main/features/application.png', :alt => '', :class => 'icon alignleft'
      %p Create custom membership applications with submission review for community leaders.
      %h2 Character Profiles
      = image_tag 'main/features/profiles.png', :alt => '', :class => 'icon alignleft'
      %p Create character profiles for multiple games and join communities with those characters.
    %article
      %h2 Announcements
      = image_tag 'main/features/announcement.png', :alt => '', :class => 'icon alignleft'
      %p Create community or game specific announcements, and track who has seen them.
      %h2 Messaging
      = image_tag 'main/features/messages.png', :alt => '', :class => 'icon alignleft'
      %p Communicate with your friends using an intergrated private messaging system.
      %h2 Pages & Discussions
      = image_tag 'main/features/pages.png', :alt => '', :class => 'icon alignleft'
      %p Create public and private wiki pages and setup discussion spaces for member interaction.
    %article
      %h2 Roles & Permissions
      = image_tag 'main/features/permissions.png', :alt => '', :class => 'icon alignleft'
      %p Create customizable, inheritable roles with unique permissions across each feature of the site.
      %h2 + More
      = image_tag 'main/features/more.png', :alt => '', :class => 'icon alignleft'
      %p This is just the beginning. We're committed brining you game specific features, handheld tools, and voice services.
      -#%p= link_to 'Video Overview', top_level_intro_url, :class => 'button'

-# Commenting out this comparison table for now
  %table.compare
    %thead
      %tr
        %th
        %th.highlight
          %strong Crumblin&trade;
          %br
          Free
        %th
          %strong GuildPortal
          %br
          Bronze Package
        %th
          %strong GuildLaunch
          %br
          Ad-Supported Plan
        %th
          %strong Enjin
          %br
          Basic Plan
    %tbody
      %tr
        %th Ad Free
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
      %tr
        %th Discussions & Pages
        %td.highlight Unlimited
        %td 10 posts & no storage space
        %td 10mb storage
        %td 20 modules
      %tr
        %th Site Themes
        %td.highlight Customizable
        %td Static
        %td Static
        %td Customizable
      %tr
        %th Member Applications
        %td.highlight Customizable
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Dynamic Roles & Permissions
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Tracked Announcements
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
      %tr
        %th Roster Management
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Multi-Community Memberships
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
      %tr
        %th Private Messaging
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/check.png', :alt => 'Yes'
      %tr
        %th Custom Forms
        %td.highlight= image_tag 'main/check.png', :alt => 'Yes'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/xmark.png', :alt => 'No'
        %td= image_tag 'main/check.png', :alt => 'Yes'
    %tfoot
      %tr
        %td
        %td= link_to 'signup', new_user_registration_url, :class => 'button'
        %td{ colspan: 4 }