- content_for :header do
  = stylesheet_link_tag 'top_level/home'

- content_for :footer do
  = javascript_include_tag 'home'

#homebox

  .slideshow
    %h1 Guilds made simple
    %p.subtext Quickly find communities to join, or build your own in minutes.
    %ul
      %li.current
        = image_tag 'main/slide-explosion.jpg'
        %p Built from the ground up with dedicated gamers like you in mind.
      %li
        = image_tag 'main/slide-wasteland.jpg'
        %p Spend your time playing the game instead of managing guildmates.
      %li
        = image_tag 'main/slide-snowbase.jpg'
        %p Setting up your guild with Tabard is so easy, even a noob can do it.

  = simple_form_for 'user', url: user_registration_url(subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), html: { class: 'signup' } do |f|
    %h2 Sign up
    %p.subtext for your free account
    %fieldset
      %ol
        = f.input :display_name, label: false, placeholder: 'Player name', hint: 'You can change this later', input_html: { name: 'user[user_profile_attributes][display_name]', tabindex: 1 }
        = f.input :email, as: :email, label: false, placeholder: 'Email', input_html: { tabindex: 2 }
        = f.input :email_confirmation, as: :email, label: false, placeholder: 'Re-enter Email', input_html: { tabindex: 3 }
        = f.input :password, as: :password, label: false, placeholder: 'New Password', input_html: { tabindex: 4 }
        = f.input :birth_month, as: :radio, label: false, collection: (1..12).collect{|m| m = [Date::MONTHNAMES[m], m]}, wrapper_tag: 'div', wrapper_html: { class: 'select month', data: {placeholder: 'Birth Month'} }
        = f.input :birth_day, as: :radio, label: false, collection: 1..31, wrapper_tag: 'div', wrapper_html: { class: 'select day', data: {placeholder: 'Day'} }
        = f.input :birth_year, as: :radio, label: false, collection: Time.zone.now.year.downto(Time.zone.now.year-100), wrapper_tag: 'div', wrapper_html: { class: 'select year', data: {placeholder: 'Year'} }
      %p.help{ href: 'javascript:;', onclick: '$.alert({title:"Your Birthday",body:"Tabard is a service exclusively for players 13 years of age and older. We need your birthday to make sure that you are eligible for an account."})' }
        Why is my birthday required?
      %p.terms
        By clicking "Sign up", you agree to our
        = link_to 'Terms', top_level_terms_of_service_url, target: '_blank'
        and that you have read our
        = (link_to 'Privacy Policy', top_level_privacy_policy_url, target: '_blank') + '.'
      %p.submit
        %button{ type: 'submit', tabindex: 8 } Sign up