- title 'Home'
= stylesheet_link_tag "top_level/home"

#homebox

  %h1 Organize your guild with a powerful tool that simplifies community management.
  %p
    = link_to 'Learn more', top_level_intro_url
    or
    = link_to 'signup', new_user_registration_url
    for your free account.

  %dl.slideshow
    %dt.current= image_tag 'main/slide-spirit.jpg'
    %dd
      Customize guild applications and
      %br
      screen applicants.
      = link_to 'More features', top_level_features_url
    %dt= image_tag 'main/slide-metropolis.jpg'
    %dd
      Create character profiles and join
      %br
      communities.
      = link_to 'More features', top_level_features_url
    %dt= image_tag 'main/slide-cyborg.jpg'
    %dd
      Send announcements and track who
      %br
      acknowledges them.
      = link_to 'More features', top_level_features_url
    %dt= image_tag 'main/slide-snowtower.jpg'
    %dd
      Create roles with fully customizable
      %br
      permissions.
      = link_to 'More features', top_level_features_url
    %dt= image_tag 'main/slide-station.jpg'
    %dd
      Communicate privately using our
      %br
      messaging system.
      = link_to 'More features', top_level_features_url

  = simple_form_for 'user', :url => new_user_session_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :html => { class: 'login' } do |f|
    %fieldset
      %ol
        = f.input :email, :input_html => { tabindex: 1, id: 'login_email' }
        = f.input :password, :input_html => { tabindex: 2 }
        %li
          = f.input :remember_me, :as => :boolean, :wrapper => false, :input_html => { :tabindex => 3 }
          &nbsp;|&nbsp;
          = link_to 'Password Help', new_user_password_url
    %button{ :type => 'submit', :tabindex => 4 } Login

  = simple_form_for 'user', :url => user_registration_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :html => { class: 'signup' } do |f|
    %h2
      %strong Signup
      for your
      %strong FREE
      account
    %fieldset
      %ol
        = f.input :email, :as => :email, :input_html => { tabindex: 5, id: 'signup_email' }
        = f.input :display_name, :required => false, :input_html => { name: 'user[user_profile_attributes][display_name]', tabindex: 6 }
        = f.input :password, :input_html => { tabindex: 7, id: 'signup_password' }
    %button{ :type => 'submit', :tabindex => 8 } Sign up