- title 'Introduction'
= stylesheet_link_tag "top_level/intro"

#videobox
  %ul.menu
    %li= link_to 'What is Crumblin?', 'http://www.youtube.com/watch?v=9ekIzGfJkBs'
    %li= link_to 'Why Crumblin is better', 'http://www.youtube.com/watch?v=EIyixC9NsLI'
    %li= link_to 'Building Communities', 'http://www.youtube.com/watch?v=QH2-TGUlwu4'
  .player
    %iframe{ width: 850, height: 500, frameborder: 0, allowfullscreen: true }
#body
  .col3
    %article
      %h2 What is Crumblin?
      = link_to image_tag('http://img.youtube.com/vi/9ekIzGfJkBs/1.jpg', :width => 232, :height => 174, :alt => ''), 'http://www.youtube.com/watch?v=9ekIzGfJkBs', :class =>'imglink videolink'
      %p
        Crumblin is a service that brings groups of players together, helping them organize their in-game pursuits with relevant tools built by and for gamers.
        = link_to 'Watch video', 'http://www.youtube.com/watch?v=9ekIzGfJkBs', :class => 'videolink'
    %article
      %h2 Why Crumblin is better
      = link_to image_tag('http://img.youtube.com/vi/EIyixC9NsLI/1.jpg', :width => 232, :height => 174, :alt => ''), 'http://www.youtube.com/watch?v=EIyixC9NsLI', :class =>'imglink videolink'
      %p
        Maintaining a guild website can be a major headache. Other services force you into clunky, dated software. Crumblin was built from the ground up to attack the problem head on.
        = link_to 'Watch video', 'http://www.youtube.com/watch?v=EIyixC9NsLI', :class => 'videolink'
    %article
      %h2 Building Communities
      = link_to image_tag('http://img.youtube.com/vi/QH2-TGUlwu4/1.jpg', :width => 232, :height => 174, :alt => ''), 'http://www.youtube.com/watch?v=QH2-TGUlwu4', :class =>'imglink videolink'
      %p
        Our centralized approach unifies players, simplifies social interaction, and promotes growth by allowing users to create, customize, and manage communities.
        = link_to 'Watch video', 'http://www.youtube.com/watch?v=QH2-TGUlwu4', :class => 'videolink'