<%= form_for [:management, @role] do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Users" %><br />
    <% for user in @users %>
      <%= check_box_tag 'role[user_ids][]', user.id, @role.user_ids.include?(user.id), :id => dom_id(user) %>
      <%= label_tag dom_id(user), user.name, :class => "check_box_label" %>
    <% end %>
  </div>
  
  <div class="field">
    Permissions<br />
    <table>
      <tr>
        <th>Resource</th>
        <th>Show</th>
        <th>Create</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <%= f.fields_for :permissions, @permissions do |p| %>
        <%= p.hidden_field :permissionable_id %>
        <%= p.hidden_field :permissionable_type %>
        <%= p.hidden_field :name %>
        <tr>
          <td>
            <%= p.object.permissionable_name %>
          </td>
          <td><%= p.check_box(:show_p) %></td>
          <td><%= p.check_box(:create_p) %></td>
          <td><%= p.check_box(:update_p) %></td>
          <td><%= p.check_box(:delete_p) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>
