= div_for role do
  %h3
    = role.default_role ? "#{role.name} | Default Role" : role.name
  %p
    = link_to "Edit", edit_management_role_path(role)
    | #{link_to "Delete", [:management, role], :confirm => "Are you sure?", :method => :delete}
  %h4 Users
  %ul
    - for user in role.users
      %li= user.name
  %h4 Permissions
  %table
    %thead
      %tr
        %th Resource
        %th Show
        %th Create
        %th Update
        %th Delete
        %th 
    %tbody
      - for permission in role.permissions
        %tr
          %td= permission.permissionable_name
          %td= permission.show_p
          %td= permission.create_p
          %td= permission.update_p
          %td= permission.delete_p
          %td= link_to 'Remove This Permission', [:management,@role,permission], :confirm => 'Are you sure?', :method => :delete
  %span= link_to 'Add New Permission', new_management_role_permission_path(@role)
