= f.simple_fields_for :permissions, role.permissions_for_resource("CommunityApplication") do |pf|
  = pf.input :subject_class, as: :hidden
  = pf.input :can_read, as: :boolean, label: 'View and comment on applications', wrapper: false
  = pf.input :can_accept, as: :boolean, label: 'Accept or reject applicants', wrapper: false

= f.simple_fields_for :permissions, role.permissions_for_resource("CommunityInvite") do |pf|
  = pf.input :subject_class, as: :hidden
  = pf.input :can_create, as: :boolean, label: 'Invite New Members', wrapper: false

= f.simple_fields_for :permissions, role.permissions_for_resource("Role") do |pf|
  = pf.input :subject_class, as: :hidden
  = pf.input :can_accept, as: :boolean, label: "Add and remove users' roles", wrapper: false