%dl
  %dt
    %h2 Comments
  %dd
    = f.simple_fields_for :permissions, role.permissions_for_resource("Comment") do |pf|
      = pf.input :subject_class, :as => :hidden
      %h3 For comments within this community
      .slider
        = pf.input :_destroy, :as => :boolean, :label => 'None', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
        = pf.collection_radio :permission_level, [['View', 'View'], ['Update', 'Update'], ['Create', 'Add'], ['Delete', 'Delete']], :first, :last, :checked => 'show_p'
      = pf.input :can_lock, :as => :boolean, :label => 'Lock/Unlock', :wrapper => false
      