%dl
  %dt
    %h3 New Forms
  %dd
    = f.simple_fields_for :permissions, role.permissions_for_resource("CustomForm") do |pf|
      = pf.input :subject_class, :as => :hidden
      = pf.input :can_create, :as => :boolean, :label => 'Create new forms', :wrapper => false
  %dt
    %h3 Default Values
  %dd
    = f.simple_fields_for :permission_defaults, role.permissions_defaults_for_resource("CustomForm") do |pf|
      = pf.input :object_class, :as => :hidden
      .slider
        = pf.collection_radio :permission_level, [['', 'x'], ['View', 'View'], ['Update', 'Edit'], ['Delete', 'Delete']], :first, :last
      = pf.input :can_read_nested, :as => :boolean, :label => 'View all submissions', :wrapper => false, :required => false 
  - if current_community.custom_forms.any?
    - current_community.custom_forms.each do |form|
      - next if form == current_community.community_application_form
      %dt
        %h3= form.name
      %dd
        = f.simple_fields_for :permissions, role.permissions_for_resource(form) do |pf|
          = pf.input :subject_class, :as => :hidden
          .slider_with_none
            = pf.input :_destroy, :as => :boolean, :label => '×', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
            = pf.collection_radio :permission_level, [['View', 'View'], ['Update', 'Edit'], ['Delete', 'Delete']], :first, :last
        = f.simple_fields_for :permissions, role.nested_permissions_for_resource(form) do |pf|
          = pf.input :subject_class, :as => :hidden
          = pf.input :id_of_parent, :as => :hidden
          = pf.input :parent_association_for_subject, :as => :hidden
          = pf.input :can_read, :as => :boolean, :label => 'View all submissions', :wrapper => false, :required => false