%dl
  %dt
    %h3 New Forms
  %dd
    = f.simple_fields_for :permissions, role.permissions_for_resource("CustomForm") do |pf|
      = pf.input :subject_class, :as => :hidden
      = pf.input :can_create, :as => :boolean, :label => 'Create new forms', :wrapper => false
  %dt
    %h3 Default Values
    %p
      These are the permissions that will be applied to new forms that are created.
      - if current_community.custom_forms.any?
        You can also set permissions for individual forms further below.
  %dd
    - defaults = role.permissions_defaults_for_resource("CustomForm")
    - child_index = defaults.persisted? ? defaults.id : Time.zone.now.to_i
    = f.simple_fields_for :permission_defaults, defaults, :child_index => child_index do |pf|
      = pf.input :object_class, :as => :hidden
      .slider_with_none
        %input{ type: 'radio', id: 'custom_form_default_permission_level', name: "role[permission_defaults_attributes][#{child_index}][permission_level]", value: '', checked: pf.object.permission_level == '' }
        %label{ for: 'custom_form_default_permission_level' } ×
        = pf.collection_radio :permission_level, [['View', 'View'], ['Update', 'Edit'], ['Delete', 'Delete']], :first, :last
      = pf.input :can_read_nested, :as => :boolean, :label => 'View all submissions', :wrapper => false, :required => false
  - if current_community.custom_forms.any?
    %hr
    - current_community.custom_forms.each do |form|
      - next if form == current_community.community_application_form
      %dt
        %h3= form.name
      %dd
        = f.simple_fields_for :permissions, role.permissions_for_resource(form) do |pf|
          = pf.input :subject_class, :as => :hidden
          .slider_with_none
            = pf.input :_destroy, :as => :boolean, :label => '×', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
            = pf.collection_radio :permission_level, [['View', 'View'], ['Update', 'Edit'], ['Delete', 'Delete']], :first, :last
        = f.simple_fields_for :permissions, role.nested_permissions_for_resource(form) do |pf|
          = pf.input :subject_class, :as => :hidden
          = pf.input :id_of_parent, :as => :hidden
          = pf.input :parent_association_for_subject, :as => :hidden
          = pf.input :can_read, :as => :boolean, :label => 'View all submissions', :wrapper => false, :required => false