%dl
  - current_community.custom_forms.each do |form|
    %dt
      %h2= form.name
    %dd
      = f.simple_fields_for :permissions, role.permissions_for_resource(form) do |pf|
        = pf.input :subject_class, :as => :hidden
        .slider_with_none
          = pf.input :_destroy, :as => :boolean, :label => 'None', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
          = pf.collection_radio :permission_level, [['View', 'View'], ['Update', 'Update'], ['Create', 'Add'], ['Delete', 'Delete']], :first, :last, :checked => 'show_p'
      = f.simple_fields_for :permissions, role.nested_permissions_for_resource(form) do |pf|
        = pf.input :subject_class, :as => :hidden
        = pf.input :id_of_parent, :as => :hidden
        = pf.input :parent_association_for_subject, :as => :hidden
        = pf.input :_destroy, :as => :hidden, :input_html => { :checked => !pf.object.persisted? }
        -#= pf.input :view_permission, :as => :boolean, :label => 'View submissions', :wrapper => false, :required => false
        = pf.input :can_accept, :as => :boolean, :label => 'Accept/Reject', :wrapper => false