%dl
  %dt
    %h3 New Wiki Page Spaces
  %dd
    = f.simple_fields_for :permissions, role.permissions_for_resource("PageSpace") do |pf|
      = pf.input :subject_class, as: :hidden
      = pf.input :can_create, as: :boolean, label: 'Create new wiki page spaces', wrapper: false
  %dt
    %h3 Default Values
    %p
      These are the permissions that will be applied to new wiki page spaces and wiki pages that are created.
      - if current_community.page_spaces.any?
        You can also set permissions for individual wiki page spaces further below.
  %dd
    - defaults = role.permissions_defaults_for_resource("PageSpace")
    - child_index = 'pagespace' + (defaults.persisted? ? defaults.id : Time.zone.now.to_i).to_s
    = f.simple_fields_for :permission_defaults, defaults, child_index: child_index do |pf|
      = pf.input :object_class, as: :hidden
      %label The space itself
      = pf.input :permission_level, as: :radio_buttons, wrapper: :slider, collection: [['×',''], ['View','View'], ['Edit','Update'], ['Delete','Delete']]
      %label Wiki pages in the space
      = pf.input :nested_permission_level, as: :radio_buttons, wrapper: :slider, collection: [['×',''], ['Edit','Update'], ['Add','Create'], ['Delete','Delete']]
  - if current_community.page_spaces.any?
    %hr
    - current_community.page_spaces.each do |space|
      %dt
        %h3= space.name
      %dd
        = f.simple_fields_for :permissions, role.permissions_for_resource(space) do |pf|
          = pf.input :subject_class, as: :hidden
          = pf.input :id_of_subject, as: :hidden
          %label The space itself
          = pf.input :permission_level, as: :radio_buttons, wrapper: :slider, collection: [['×',''], ['View','View'], ['Edit','Update'], ['Delete','Delete']]
        = f.simple_fields_for :permissions, role.nested_permissions_for_resource(space) do |pf|
          = pf.input :subject_class, as: :hidden
          = pf.input :id_of_parent, as: :hidden
          = pf.input :parent_association_for_subject, as: :hidden
          %label Wiki pages in the space
          = pf.input :permission_level, as: :radio_buttons, wrapper: :slider, collection: [['×',''], ['Edit','Update'], ['Add','Create'], ['Delete','Delete']]
