- if current_community.page_spaces.any?
  %dl
    - current_community.page_spaces.each do |space|
      %dt
        %h3= space.name
      %dd
        = f.simple_fields_for :permissions, role.permissions_for_resource(space) do |pf|
          = pf.input :subject_class, :as => :hidden
          %label Space
          .slider_with_none
            = pf.input :_destroy, :as => :boolean, :label => '×', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
            = pf.collection_radio :permission_level, [['View', 'View'], ['Update', 'Edit'], ['Delete', 'Delete']], :first, :last
        = f.simple_fields_for :permissions, role.nested_permissions_for_resource(space) do |pf|
          = pf.input :subject_class, :as => :hidden
          = pf.input :id_of_parent, :as => :hidden
          = pf.input :parent_association_for_subject, :as => :hidden
          %label Pages
          .slider_with_none
            = pf.input :_destroy, :as => :boolean, :label => '×', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
            = pf.collection_radio :permission_level, [['Update', 'Edit'], ['Create', 'Add'], ['Delete', 'Delete']], :first, :last