%h1 Sent Messages

%table
  - if @messages.size > 0
    %thead
      %tr
        %th.subject Message Subject
        %th.name To
        %th.date Sent
        %th.edit
    %tbody
      - for message in @messages
        %tr
          %td= link_to message.subject, sent_path(message)
          %td
            - if message.recipients
              - message.recipients.each do |profile|
                = link_to profile.name, profile
          %td= distance_of_time_in_words(message.created_at, Time.now) + ' ago'
          %td.edit
            - if current_user.can_delete(message)
              = link_to 'Delete Message', message_path(message), :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 4 } No messages.
  %tfoot
    %tr
      %td{ :colspan => 4 }
        - if logged_in? and current_user.can_create('Message') or 1
          = link_to 'New Message', new_sent_path, :class => 'button'
