%p#bcrumb
  = link_to 'Messages', inbox_path
  %span Sent

%h1 Sent Messages

%table
  - if @messages.size > 0
    %thead
      %tr
        %th.subject Message Subject
        %th.to To
        %th.date Sent
        %th.actions
    %tbody
      - @messages.each do |message|
        %tr
          %td.subject
            = link_to message.subject, sent_path(message)
          %td.to
            - if message.recipients
              %ul
                - message.recipients.each do |profile|
                  %li= link_to profile.name, profile
          %td.date
            = distance_of_time_in_words(message.created_at, Time.now) + ' ago'
          %td.actions
            - if current_user.can_delete(message)
              = link_to 'Delete Message', message_path(message), :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td.empty{ :colspan => 4 } No messages.
  %tfoot
    %tr
      %td{ :colspan => 4 }
        = link_to 'New Message', new_sent_path, :class => 'button'
