%p#bcrumb
  = link_to 'Messages', inbox_path
  %span New

%h1 New Message To

- simple_form_for :message, :url => {:controller => "sent", :action => "create"} do |f|
  %fieldset.suggest
    .medium
      %input{ :type => 'text' }
      %ul.suggestions
        - users = current_user.address_book.collect {|u| [u.user_id, u.name]}
        = f.collection_check_boxes :to, users, :first, :last, :item_wrapper_tag => :li
  %fieldset
    %ol
      = f.input :subject, :wrapper_class => 'medium'
      = f.input :body, :as => :text
      = f.button :submit