%p#bcrumb
  = link_to 'Messages', inbox_path
  %span New

%h1 New Message To
- form_for :message, :url => {:controller => "sent", :action => "create"} do |f|
  #recipients
    %ul.users
      - for user in UserProfile.active_profiles
        %li{ :title => user.name , :class => @message.to.include?(user.id.to_s) && "show"}
          = check_box_tag "message[to][]", user.id, @message.to.include?(user.id.to_s)
          = user.name
    %p
      %input{ :type => 'text' }
  %p.field
    = f.label 'Subject'
    = f.text_field :subject
  %p.field
    = f.label 'Body'
    = f.text_area :body
  %p.field
    %button{ :type => 'submit' } Send
