%h1 New Message To
- form_for :message, :url => {:controller => "sent", :action => "create"} do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  #recipients
    %ul.users
      - for user in UserProfile.active_profiles
        %li{ :title => user.name }
          = check_box_tag "message[to][]", user.id, @message.to.include?(user.id)
          = user.name
    %p
      %input{ :type => 'text' }
  %p.field
    = f.label 'Subject'
    = f.text_field :subject
  %p.field
    = f.label 'Body'
    = f.text_area :body
  %p.field
    %button{ :type => 'submit' } Send
