%h1 New Message To
- form_for :message, :url => {:controller => "sent", :action => "create"} do |f|
  %ul.recipientchecklist
    - for user in UserProfile.active_profiles
      %li
        = check_box_tag "message[to][]", user.id, @message.to.include?(user.id)
        =h user.name
  %br/
  %p.field
    = f.label 'Subject'
    = f.text_field :subject
  %p.field
    = f.label 'Body'
    = f.text_area :body
  %p.field
    = submit_tag "Send"
