<%= div_for text_question do %>
  <h3>
    <%= text_question.content %> 
		<br />
		<%= application.fields_for :registration_answers do |answer| %>
      <%= answer.text_field :content %>
			<%= answer.hidden_field(:question_id, :value => text_question.id) %>
    <% end %>
  </h3>
<% end %>