= div_for text_question do
  %h3
    = text_question.content
    %br/
    = submission.fields_for :answers do |answer|
      = answer.text_field :content
      = answer.hidden_field(:question_id, :value => text_question.id)
