- title "Compose Mail | #{current_user.display_name}"

= simple_form_for @message, url: { controller: "sent_messages", action: "create" }, html: { novalidate: true } do |f|
  #message.compose

    %header
      %fieldset
        %ol
          %li
            %label{ for: 'message_to' } To
            = text_field_tag 'term', '', id: 'message_to', tabindex: 2, placeholder: 'Player or character name', data: { url: sent_autocomplete_url }
          %li
            = f.input :subject, wrapper: false, input_html: { tabindex: 1, maxlength: Message::MAX_SUBJECT_LENGTH }
          %li.to_list

    = f.input :body, as: :text, label: false, wrapper_tag: :article, input_html: { tabindex: 3 }
    %button{ type: ':submit', tabindex: 4 } Send