- title 'Minecraft'

#body
  = render 'communities/submenu'
  %h1= 'Minecraft Communities'
  - if @communities.any?
    = paginate @communities
    = render "communities/table", :communities => @communities
    = paginate @communities
  -else
    %p
      This game has no active communities.
      - if (can? :create, Community)
        = link_to 'Create a community', new_community_url(:subdomain => false)
