= div_for page_space do
  %h3= page_space.name
  %span.actions
  %td= (logged_in? and current_user.can_update(page_space)) ? link_to( 'Edit', edit_page_space_path(page_space)) : "No Edit Permissions"
  %td= (logged_in? and current_user.can_delete(page_space)) ? link_to( 'Delete', page_space, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions"
  %h4 Pages
  %ul
    - page_space.pages.each do |page|
      %li= link_to page.title, page
  %p NEED TO NEST AND ADD NEW PAGES LINK!
