%h1 Listing page_spaces
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @page_spaces.each do |page_space|
    %tr
      %td= page_space.name
      %td= link_to( 'Show', page_space)
      %td= (logged_in? and current_user.can_update(page_space)) ? link_to( 'Edit', edit_page_space_path(page_space)) : "No Edit Permissions"
      %td= (logged_in? and current_user.can_delete(page_space)) ? link_to( 'Delete', page_space, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions"
%br/
= (logged_in? and current_user.can_create("PageSpace")) ? link_to( 'New Page Space', new_page_space_path) : "No Create Permissions"
