%p#bcrumb
  = link_to 'Management', management_path
  = link_to 'Site Forms', management_site_forms_path
  %span= @site_form.name

#page

  %h1= @site_form.name

  %table#form_settings
    %thead
      %tr
        %th.name Field Name
        %th.text Values
        %th.actions
          - if logged_in? and current_user.can_update(@site_form)
            = link_to 'Edit', edit_management_site_form_path(@site_form), :class => 'edit', :title => 'Edit Form'
          - if logged_in? and current_user.can_delete(@site_form)
            = link_to 'Delete', @site_form, :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete Form'
    %tbody
      %tr
        %th.name Welcome Message
        %td.text{ :colspan => 2 }= @site_form.message
      %tr
        %th.name Thank You Message
        %td.text{ :colspan => 2 }= @site_form.thankyou
      %tr
        %th.name Published
        %td.text{ :colspan => 2 }
          = @site_form.published ? 'Yes' : 'No'
      %tr
        %th.name Notifications Sent To
        %td.text{ :colspan => 2 }
          - if !@site_form.profile_notifications.empty?
            %ul
              - @site_form.profile_notifications.each do |profile|
                %li= profile.name
          - else
            Nobody

  %h2 Form Questions
  %table#form_questions
    - if @site_form.questions.size > 0
      %thead
        %tr
          %th.name Question
          %th.text Answers
          %th.actions
      %tbody
        - @site_form.questions.each do |question|
          %tr
            %th.name= question.content
            %td.text
              - if question.predefined_answers.size > 0
                %ul
                  - question.predefined_answers.each do |answer|
                    %li= answer.content
            %td.actions
              - if logged_in? and current_user.can_update(question)
                = link_to 'Edit', edit_question_path(question), :class => 'edit', :title => 'Edit'
              - if logged_in? and current_user.can_delete(question)
                = link_to 'Delete', question, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
    - else
      %tbody
        %td{ :colspan => 3 } This form has no questions.
    %tfoot
      %tr
        %td{ :colspan => 3 }
          = form_tag new_question_path(:format => :js), :remote => true, :class => 'new_question_link', :method => 'get'
          = hidden_field_tag :site_form_id, @site_form.id
          = select_tag :q_type, options_for_select(Question::select_options_human)
          = submit_tag 'Add Question', :class => 'add', :title => 'Add Question'
