= div_for combo_box_question do
  %h3
    = combo_box_question.content
  %p
    = select_tag("answer_helper[#{combo_box_question.id}][#{(actual_submission.contains_predefined_answer_from_collection(combo_box_question.predefined_answers) != nil ? actual_submission.contains_predefined_answer_from_collection(combo_box_question.predefined_answers).id : -combo_box_question.id)}]",options_from_collection_for_select(combo_box_question.predefined_answers, 'content', 'content', (actual_submission.contains_predefined_answer_from_collection(combo_box_question.predefined_answers) != nil ? actual_submission.contains_predefined_answer_from_collection(combo_box_question.predefined_answers).content : nil)), :class =>"predefined_answer")
