= f.simple_fields_for :permissions, @permission, :index => Time.now.to_f.to_s do |p|
  %tr
    %td.actions
      - if @permission.id and current_user.can_delete(@permission)
        = link_to 'Remove Permission', management_role_permission_path(@role, @permission), :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'delete', :title => 'Remove this permission'
      - else
        = link_to 'Cancel Permission', 'javascript:;', :onclick => 'remove_fields($(this).parents("tr"));', :class => 'cancel', :title => 'Clear new permission'
    %td
      - if @permission.id
        = p.input :id, :as => 'hidden', :wrapper => false
        = p.object.permissionable_name
      - else
        %fieldset.suggest
          %input{ :type => 'text' }
          %ul.suggestions
            = p.collection_radio :magic_polymorphic_helper, @permissionables, :first, :last, :item_wrapper_tag => :li

    %td{ :colspan => 4 }
      %fieldset.slider
        = p.collection_radio :permission_level, [['show_p', 'View'], ['update_p', 'Update'], ['create_p', 'Add'], ['delete_p', 'Delete']], :first, :last, :checked => 'show_p'
