%p#notice= notice
%p
  %b Name:
  = @permission.name
%p
  %b Role:
  = @permission.role_id
%p
  %h4 Resource
  = @permission.permissionable_name
  %p
    = "Create Permission"
    = @permission.create_p
  %p
    = "Show Permission"
    = @permission.show_p
  %p
    = "Update Permission"
    = @permission.update_p
  %p
    = "Delete Permission"
    = @permission.delete_p
= link_to 'Edit', edit_management_role_permission_path(@role,@permission)
|
\#{link_to 'Back', [:management,@role]}
