= form_for(@check_box_question, :remote => true) do |f|
  = f.hidden_field :site_form_id
  %h2 New Checkbox Question
  %p.field
    = f.label :content, "Question"
    = f.text_area :content, :rows => 3
  %p
    %label Answers
  %ul
    = f.fields_for :predefined_answers do |builder|
      %li
        = render 'predefined_answer_fields', :f => builder
  %p
    = link_to_add_fields "Add Answer", f, :predefined_answers
  %p.actions
    %button{ :type => 'submit' } Add Question