<h1>Listing site_forms</h1>

<table>
  <tr>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @site_forms.each do |site_form| %>
  <tr>
    <td><%= site_form.message %></td>
    <td><%= link_to 'Show', site_form %></td>
    <td><%= link_to 'Edit', edit_site_form_path(site_form) %></td>
    <td><%= link_to 'Destroy', site_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site form', new_site_form_path %>
