= form_for [role,permission] do |f|
  -if permission.errors.any?
    #error_explanation
      %h2= "#{pluralize(permission.errors.count, "error")} prohibited this permission from being saved:"
      %ul
        - permission.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :action
    = f.text_field :action
  .field
    = f.label :permission_level
    = collection_select(:permission, :permission_level, Permission::VALID_PERMISSION_LEVELS, :to_s, :to_s)
  .field
    = f.label :subject_class
    = collection_select(:permission, :subject_class, Permission::VALID_SUBJECT_CLASSES, :to_s, :to_s)
  .field
    = f.label :id_of_subject
    = f.text_field :id_of_subject
  .actions
    = f.submit 'Save'
