= f.simple_fields_for :permissions, permission do |p|
  %tr.permission
    %td.slider{ :colspan => 4 }
      %fieldset.slider
        = p.collection_radio :permission_level, [['View', 'View'], ['Update', 'Update'], ['Create', 'Add'], ['Delete', 'Delete']], :first, :last, :checked => 'show_p'
    %td
      - if permission.id
        = p.input :id, :as => 'hidden', :wrapper => false
        %h3= permission.subject_class
      - else
        %fieldset.suggest
          %input{ :type => 'text' }
          %ul.suggestions
            = p.collection_radio :subject_class, Permission::VALID_SUBJECT_CLASSES, :first, :last, :item_wrapper_tag => :li
    %td.actions
      %div
        - if permission.id and (can? :destroy, permission)
          = link_to 'Remove Permission', role_permission_path(@role, permission), :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'delete', :meta => 'Remove this permission'
        - else
          = link_to 'Cancel Permission', 'javascript:;', :onclick => 'remove_fields($(this).parents("tr"));', :class => 'cancel', :meta => 'Clear new permission'