%h1 Listing permissions
%h2= @role.name.to_s
- unless @permissions.blank?
  %table
    %tr
      %th Role
      %th Action
      %td Permission Level
      %th Subject class
      %th ID of Subject
      %th
      %th
      %th

    - @permissions.each do |permission|
      %tr
        %td= permission.role_id
        %td= permission.action
        %td= permission.permission_level
        %td= permission.subject_class
        %td= permission.id_of_subject
        %td= link_to_if (can? :show, permission), 'Show', [@role, permission]
        %td= link_to_if (can? :update, permission), 'Edit', edit_role_permission_path(@role,permission)
        %td= link_to_if (can? :destroy, permission), 'Destroy', [@role, permission], :confirm => 'Are you sure?', :method => :delete
%br
= link_to_if (can? :create, @role.permissions.new), 'New Permission', new_role_permission_path(@role)
