%p#notice= notice

%p
  %b Role:
  = @permission.role_id
%p
  %b Action:
  = @permission.action
%p
  %b Permission Level
  = @permission.permission_level
%p
  %b Subject class:
  = @permission.subject_class
%p
  %b Subject:
  = @permission.id_of_subject

= link_to_if (can? :update, @permission), 'Edit', edit_role_permission_path(@role, @permission)
\|
= link_to 'Back', role_permissions_path(@role)
