<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<div>
  <h3>User Profile</h3>
  <%= link_to "Show", profile_path(@user.user_profile) %>
</div>

<div>
  <h3>Game Profiles</h3>
  <% if @user.game_profiles != nil %>
  	<%= render @user.game_profiles %>
  <% end %>
</div>
<%= link_to 'New Profile', profiles_newgame_path %> |
<%= link_to 'Back', users_path %>
