<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div>
  <h3>Announcements</h3>
  <%= render @acknowledgment_of_announcements %>
</div>

<div>
  <h3>
  <%= link_to "User Profile", user_profile_path(@user.user_profile) %>
  </h3>
</div>

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
