%ul.accountlinks
  %li= link_to_unless_current 'Edit my account', edit_user_registration_url
  %li= link_to_unless_current 'Edit my profile', edit_user_profile_url(current_user.user_profile)
  %li= link_to_unless_current 'Add a new WoW Character', new_wow_character_url
  %li= link_to_unless_current 'Add a new SW:TOR Character', new_swtor_character_url
  %li= link_to_unless_current 'Create a new community', new_community_url