%fieldset
  %ol
    = f.input :title
    = f.input :body
    = f.input :start_time
    = f.input :end_time
    = f.input :supported_game_id, :label => 'Game', :collection => [['— None —','']].concat(current_community.supported_games.collect {|c| c = [c.smart_name, c.id]}), :as => :radio, :wrapper_html => { :class => 'select' }
    = f.input :is_public