= simple_form_for(event) do |f|
  = f.error_notification

  .inputs
    = f.input :title
    = f.input :body
    = f.input :start_time
    = f.input :end_time
    = f.input :game_id
    = f.input :invite_only

  .actions
    = f.button :submit
