%tr{ class: invitef.object.persisted? ? '' : 'dim' }
  %td.cinch
    = image_tag invitef.object.user_profile_avatar_url(:tiny), :class => 'avatar'
  %td.cinch
    %fieldset
      %ol
        = invitef.input :character_proxy_id, :as => :radio, :label => false, :collection => [[invitef.object.user_profile_display_name, '']]
  %td.characters
    = invitef.input :character_proxy_id, :as => :radio, :label => false, :wrapper => false, :collection => invitef.object.user_profile.available_character_proxies(community, supported_game).collect{|cp| cp = [image_tag(cp.character.avatar_url(:icon), :class => 'avatar icon') + cp.character.name, cp.character.id] }
  %td.actions
    %div
      %a{ class: "toggle #{invitef.object.persisted? ? 'approve' : 'reject'}" } Toggle
    = invitef.input :_destroy, :as => :hidden, :input_html => { value: invitef.object.persisted? ? false : true }
    = invitef.input :user_profile_id, :as => :hidden