.meta
  = image_tag (event.creator_avatar_url :small), :class => 'avatar'
  Created by
  %strong
    = link_to shorten_words(event.creator_display_name), event.creator
  %time= time_ago_in_words(event.created_at) + ' ago'
  %time.event
    %strong.day= l event.start_time, :format => :date_short
    at
    %strong.time= l event.start_time, :format => :time_12
    = '—'
    - unless event.start_time.day == event.end_time.day
      %strong.day= l event.end_time, :format => :date_short
      at
    %strong.time= l event.end_time, :format => :time_12