- has_invites = (current_user.events_invited_to & events).size > 0 ? true : false
= form_tag invites_batch_update_url, :method => :put do
  %table
    %thead
      %tr
        - if has_invites
          %th.check
        %th Event
        %th Start
        %th
        %th End
        %th
        %th.actions
    %tbody
      - events.each do |event|
        %tr
          - if has_invites
            %td.check
              - if current_user.invited? event
                = check_box_tag "ids[#{current_user.invites.find_by_event_id(event.id).id}]", true, false, :id => "event_id_#{event.id}"
                %label{ :for => "event_id_#{event.id}" }
          %td
            = link_to shorten_words(event.name, 21), event
            - if event.supported_game
              %rt= event.supported_game.smart_name
          %td
            %time= event.start_time.strftime("%A - %B %d, %Y")
          %td
            %time= event.start_time.strftime("%l:%M %p")
          %td
            %time= event.end_time.strftime("%A - %B %d, %Y")
          %td
            %time= event.end_time.strftime("%l:%M %p")
          %td.actions
            %div
              - if (can? :update, event)
                = link_to 'Edit', edit_event_path(event), :meta => 'Edit event', :class => 'edit'
              - if (can? :destroy, event)
                = link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete event', :class => 'delete'
    %tfoot
      %tr
        %td{ :colspan => has_invites ? 7 : 6 }
          - if has_invites
            .select.status
              %ul
                - Invite::VALID_STATUSES.each do |status|
                  %li
                    %input{ id: "batch_status_#{status.downcase}", type: 'radio', name: 'status', value: status }
                    %label{ for: "batch_status_#{status.downcase}" }= status
            %button{ type: 'submit' } Update Selected
          - if can? :create, Event
            = link_to 'Create New', new_event_path, :class => 'button'