- title "Events | #{current_community.name}"

= render 'submenu'

%h1 Events

- if @events.any?
  = paginate @events
  = render "table", :events => @events
  = paginate @events

-else
  %p There are no events.
  - if can? :create, Event
    %p= link_to 'Add New Event', new_event_url, :class => 'button'