- title "#{@date.strftime '%B %Y'} | Events | #{current_community.name}"
- week = @date.beginning_of_month.cweek
- day = 0

#calendar.month
  %table
    %thead
      %tr
        %th{ colspan: 8 }
          %h1= @date.strftime '%B %Y'
          = link_to "‹ #{Date::MONTHNAMES[@date.prev_month.month]}", month_events_url(year: @date.prev_month.year, month: @date.prev_month.month), class: 'prev'
          = link_to "#{Date::MONTHNAMES[@date.next_month.month]} ›", month_events_url(year: @date.next_month.year, month: @date.next_month.month), class: 'next'
      %tr
        %th
        %th.c Mon
        %th.c Tue
        %th.c Wed
        %th.c Thu
        %th.c Fri
        %th.c Sat
        %th.c Sun
    %tfoot
      %tr
        %td{ colspan: 8 }
          Month events for
          = link_to shorten_words(current_community.name), root_url(subdomain: current_community.subdomain)
    %tbody
      - if @date.beginning_of_month.cwday > 1
        %tr
          %td.week
            = link_to '', week_events_url(year: @date.year, week: week)
          - (1..(@date.beginning_of_month.cwday-1)).each do
            %td.empty
          - (@date.beginning_of_month.cwday..7).each do
            = render 'month_day', date: @date, day: day = day + 1, events: @events_by_day[day] ||= []
      - while day < @date.end_of_month.day
        - week = week + 1
        %tr
          %td.week
            = link_to '', week_events_url(year: @date.year, week: week)
          - (1..7).each do
            - if day < @date.end_of_month.day
              = render 'month_day', date: @date, day: day = day + 1, events: @events_by_day[day] ||= []
            - else
              %td.empty
  = render 'layouts/footer', current_layout: 'calendar'