- title "#{@date.strftime '%B %Y'} | Events | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to "Events", events_url
    %li
      %span= shorten_words @date.strftime('%B %Y'), 21

= render 'submenu'

%h1 
  = @date.strftime '%B %Y'

%table.calendar
  %thead
    %tr
      %th= link_to 'Previous Month', month_events_url(:year => @date.prev_month.year, :month => @date.prev_month.month)
      %th.c= @date.strftime '%B'
      %th.r= link_to 'Next Month', month_events_url(:year => @date.next_month.year, :month => @date.next_month.month)

- if @events.any?
  = render "table", :events => @events

-else
  %p There are no events.
  - if can? :create, Event
    %p= link_to 'New Event', new_event_url, :class => 'button'