- title "Events by Week | #{current_community.name}"

= render 'submenu'

%h1 
  = @date.strftime("Events %Y Week %U")
= link_to 'List', events_url
= link_to 'Month', month_events_url(:year => @date.year, :month => @date.month)
= link_to 'Week', week_events_url(:year => @date.year, :week => @date.cweek)
|
= link_to 'Today', week_events_url(:year => Date.today.year, :week => Date.today.cweek)
= link_to 'Previous Week', week_events_url(:year => @date.prev_week.year, :week => @date.prev_week.cweek)
= link_to 'Next Week', week_events_url(:year => @date.cweek == 52 ? @date.year+1 : @date.year, :week => @date.next_week.cweek)

- if @events.any?
  = render "table", :events => @events

-else
  %p There are no events.
  - if can? :create, Event
    %p= link_to 'New Event', new_event_url, :class => 'button'