- title "Events by Week | #{current_community.name}"

#calendar.week
  %header
    %h1= @date.at_beginning_of_week.strftime("%b %e#{@date.at_beginning_of_week.year == @date.at_end_of_week.year ? '' : ', %Y'}") + ' - ' + @date.at_end_of_week.strftime("#{(@date.at_beginning_of_week.year == @date.at_end_of_week.year and @date.at_beginning_of_week.month == @date.at_end_of_week.month) ? '' : '%b'} %e, %Y")
    = link_to '‹ Previous Week', week_events_url(:year => @date.prev_week.year, :week => @date.prev_week.cweek), :class => 'prev'
    = link_to 'Next Week ›', week_events_url(:year => @date.cweek == 52 ? @date.year+1 : @date.year, :week => @date.next_week.cweek), :class => 'next'
  %dl.times
    %dt &nbsp;
    - (0..23).each do |hour|
      %dd
        %time= l Time.at(hour*3600).utc, :format => :time_12_short
  - @events_day_hour.each do |day,hours|
    %dl
      %dt
        %time= Date::DAYNAMES[day]
      - hours.each do |hour,events|
        %dd
          - if events.any?
            %ol
              - events.each do |event|
                %li{ style: "height: #{event.duration_hours * 21 - 7}px" }
                  = link_to shorten_words(event.name,13), event_url(event), style: "height: #{event.duration_hours * 21 - 17}px"