- title "Events by Week | #{current_community.name}"

#calendar.week
  %header
    %h1= @date.at_beginning_of_week.strftime("%b %e#{@date.at_beginning_of_week.year == @date.at_end_of_week.year ? '' : ', %Y'}") + ' - ' + @date.at_end_of_week.strftime("#{(@date.at_beginning_of_week.year == @date.at_end_of_week.year and @date.at_beginning_of_week.month == @date.at_end_of_week.month) ? '' : '%b'} %e, %Y")
    = link_to '‹ Previous Week', week_events_url(year: @date.prev_week.year, week: @date.prev_week.cweek), class: 'prev'
    = link_to 'Next Week ›', week_events_url(year: @date.cweek == 52 ? @date.year+1 : @date.year, week: @date.next_week.cweek), class: 'next'
  .pane
    %dl.times
      %dt &nbsp;
      - (0..23).each do |hour|
        %dd
          %time= l Time.at(hour*3600).utc, format: :time_12_short
    - @events_by_cwday_by_hour.each do |cwday,hours|
      %dl.day
        %dt
          %time= (@date + (cwday-1).days).strftime "%a - %b %e"
        - hours.each do |hour,events|
          %dd
            - events.each do |event|
              - max_duration_hours = 24 - hour
              - duration_hours = event.duration_hours < max_duration_hours ? event.duration_hours : max_duration_hours
              - data = { start_hour: hour, end_hour: hour + duration_hours }
              = link_to shorten_words(event.name,13), event_url(event), data: data, style: "height: #{(duration_hours * 25) - 17}px#{(duration_hours==1)?';padding-top:0;padding-bottom:10px':''}"