= simple_form_for role do |f|
  %fieldset
    %ol
      = f.input :name

  - if @role.persisted?
  
    %h2 Permissions

    %table
      %thead
        %tr
          %th.actions
          %th.permresource Resource
          %th View
          %th Edit
          %th Add
          %th Delete
      %tbody
        - if @role.permissions.size > 0
          - @role.permissions.each do |permission|
            - @permission = permission
            = render :partial => 'subdomains/permissions/form_fields', :f => f
        -else
          %tr.temp
            %td &nbsp;
            %td{ :colspan => 5 } This role has no permissions.
      %tfoot
        %tr
          %td{ :colspan => 6 }
            = link_to "Add Permission", new_role_permission_path(@role, :format => :js), :remote => true, :class => 'button'

    - unless @role.system_generated
      %h2 Users
      - if current_community.user_profiles.size > 0
        %fieldset#usercheckboxes
          %ol
            - current_community.community_profiles.each do |profile|
              %li.boolean
                = check_box_tag 'role[community_profile_ids][]', profile.id, @role.community_profiles.include?(profile), :id => dom_id(profile)
                = label_tag dom_id(profile), profile.user_profile_name, :class => "check_box_label"
      - else
        %p No users

  %p
    %button{ :type => 'submit' } Save