= javascript_include_tag "permissions"

= simple_form_for role do |f|
  - if role.is_system_generated
    %h2= role.name
  - else
    %p= f.input :name, :wrapper => false

  - if role.persisted?
    %h2 Permissions
    %dl#permissions
      %dt Comments
      %dd= render 'subdomains/roles/permissions/comments', :f => f, :role => role
      %dt Community Applications
      %dd= render 'subdomains/roles/permissions/community_applications', :f => f, :role => role
      %dt Custom Forms
      %dd= render 'subdomains/roles/permissions/custom_forms', :f => f, :role => role
      %dt Discussion Spaces
      %dd= render 'subdomains/roles/permissions/discussion_spaces', :f => f, :role => role
      %dt Page Spaces
      %dd= render 'subdomains/roles/permissions/page_spaces', :f => f, :role => role

  - unless role.is_system_generated
    %h2 Users
    - if current_community.member_profiles.size > 0
      %fieldset#usercheckboxes
        %ol
          - current_community.community_profiles.each do |profile|
            %li.boolean
              = check_box_tag 'role[community_profile_ids][]', profile.id, role.community_profiles.include?(profile), :id => dom_id(profile)
              = label_tag dom_id(profile), profile.user_profile_name, :class => "check_box_label"
  %p.submit
    %button{ :type => 'submit' } Save Changes
