- title "Roles & Permissions | #{current_community.name}"
- content_for :header do
  = javascript_include_tag "permissions"

%h1 User Roles & Permissions

%p
  %strong This is a grant only permission system.
  This means you cannot take away permissions, only give them.

#roles
  %ul
    - @roles.each do |role|
      - if role.persisted?
        %li= link_to shorten_words(role.name), edit_role_path(role), data: { remote: true, type: :text, id: role.id }, class: ((@role and role == @role) or (!@role and role == @roles.first) ? 'active' : '')
  - if (can? :create, @community.roles.new)
    = link_to 'Add a role', new_role_path, remote: true, data: { type: :text }, class: 'button'
  - if current_user == current_community.admin_profile_user and !current_community.is_paid_community?
    %p Need custom roles?
    = link_to 'Upgrade to Pro', edit_subscription_path(current_community), class: 'button'
#role
  = render 'form', role: @role ? @role : @roles.first