- title "Roles & Permissions | #{current_community.name}"
= javascript_include_tag "permissions"

%h1 User Roles & Permissions

%p
  %strong This is a grant only permission system.
  This means you cannot take away permissions from users, only give them.

#roles
  %ul
    - @roles.each do |role|
      - if role.persisted?
        %li= link_to shorten_words(role.name), edit_role_path(role), :remote => true, 'data-type' => :text, :class => ((@role and role == @role) or (!@role and role == @roles.first) ? 'active' : '')
  - if (can? :create, @community.roles.new)
    = link_to 'Add a role', new_role_path, :remote => true, 'data-type' => :text, :class => 'button'
#role
  = render 'form', :role => @role ? @role : @roles.first