%p#notice= notice

%p
  %b Community:
  = @role.community_id
%p
  %b Name:
  = @role.name
%p
  %b System generated:
  = @role.system_generated

= link_to 'Edit', edit_role_path(@role)
\|
= link_to 'Back', roles_path
