%p#notice= notice

%p
  %b Community:
  = @role.community_id
%p
  %b Name:
  = @role.name
%p
  %b System generated:
  = @role.is_system_generated

- if @role.permissions.size > 0
  %ul
    - @role.permissions.each do |permission|
      %li=permission.to_yaml

= link_to 'Edit', edit_role_path(@role) if can? :edit, @role
= link_to 'Permissions', role_permissions_path(@role)
