%li.leagueoflegends.character
  %h3= link_to_if (can? :update, character), character.name, edit_character_url(character)
  .avatar= image_tag character.avatar_url :small
  %dl.attributes
    %dt Region
    %dd= character.region
    %dt Level
    %dd= character.level
    %dt Champ.
    %dd= character.champions.join ', '
