%p#bcrumb
  = link_to 'Management', management_path
  = link_to 'Applications', registration_applications_path
  %span= @registration_application.name

#page
  %h1 #{@registration_application.name} - #{@registration_application.status_string}
  
  %p#actions
    - if @registration_application.status != 2
      = link_to 'Accept Application', accept_management_registration_application_path(@registration_application), :method => :post, :confirm => 'Accept this application?', :class => 'accept', :title => 'Accept Application'
    - if @registration_application.status != 4
      = link_to 'Reject Application', reject_management_registration_application_path(@registration_application), :method => :post, :confirm => 'Reject this application?', :class => 'reject', :title => 'Reject Application'
    - if @registration_application.discussion.can_user_lock(current_user)
      - if @registration_application.discussion.has_been_locked
        = link_to 'Unlock Discussion', unlock_discussion_path(@registration_application.discussion), :method => :post, :class => 'unlock', :title => 'Unlock discussion'
      - else
        = link_to 'Lock Discussion', lock_discussion_path(@registration_application.discussion), :method => :post, :class => 'lock', :title => 'Lock Discussion'

  
  %h2 Application Answers
  %p= render :partial => "questions/question_answer", :collection => @registration_application.all_questions, :locals => {:submission =>  @registration_application}
  
  - if @registration_application.discussion.has_been_locked
    %h2 Closed for comment
  - else
    %h2 Comments
    #comments
      - if @registration_application.discussion.comments.size > 0
        %ol
          - @registration_application.discussion.comments.each do |comment|
            = render comment
    #reply
      %h2 Leave a Comment
      %p= link_to 'New Comment', new_comment_path(:format => :js, :commentable_id => @registration_application.discussion.id, :commentable_type => @registration_application.discussion.class, :form_target => '#reply', :comment_target => '#comments'), :remote => true, :class => 'button' if current_user.can_create('Comment')