= form_for(@site_announcement) do |f|
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :body
    = f.text_area :body
  %p.field
    = f.label :comments_enabled
    = f.check_box :comments_enabled
  %p.actions
    = submit_or_cancel(f)
