= form_for(@site_announcement) do |f|
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :body
    = f.text_area :body
  %p{ :class => 'field checkbox' }
    = f.label :comments_enabled, (f.check_box :comments_enabled) + 'Enable comments?'
  = submit_or_cancel(f)
