= form_tag (mailbox_view_state == 'trash' ? mail_batch_delete_path : mail_batch_move_path(current_user.trash)), :method => (mailbox_view_state == 'trash' ? :delete : :put) do

  #mailbox-menu
    %dl
    
      %dt Mail
      %dd{ :class => 'inbox' + (mailbox_view_state == 'inbox' ? ' current' : '') }
        = link_to 'Inbox', inbox_path, :meta => "Inbox - #{pluralize(current_user.inbox.messages.size, 'message') + (current_user.inbox.messages.size > 0 ? ', ' + current_user.unread_messages.size.to_s + ' new' : '')}"
      %dd{ :class => 'compose' + (mailbox_view_state == 'compose' ? ' current' : '') }
        = link_to 'Compose', compose_mail_path, :meta => 'New message'
      %dd{ :class => 'sent' + (mailbox_view_state == 'sent' ? ' current' : '') }
        = link_to 'Sent', sent_mailbox_path, :meta => "Sent messages"
      %dd{ :class => 'trash' + (mailbox_view_state == 'trash' ? ' current' : '') }
        = link_to 'Trash', trash_path, :meta => "Trash - #{pluralize(current_user.trash.messages.size, 'message')}"
      
      - if !['compose','sent'].include?(mailbox_view_state)
        %dt Actions
        -# TODO Doug - I need Joe's help here
        - if mailbox_view_state == 'trash'
          %dd.move
            = link_to 'Move to inbox', '#', :method => :put, :meta => 'Move selected messages to the inbox.'
        %dd.delete
          - if mailbox_view_state == 'trash'
            = button_tag 'Delete forever', :method => :delete, :confirm => 'Are you sure?', :meta => 'Delete selected messages for forever.'
          - else
            = button_tag 'Move to trash', :meta => 'Trash selected messages.'
  
  #mailbox
    - if (@todays_messages && @todays_messages.size > 0) || (@older_messages && @older_messages.size > 0)
      %dl
        - if @todays_messages.size > 0
          %dt Today
          - @todays_messages.sort_by!{|m| m.created_at}.reverse!.each do |message|
            = render 'mailbox/row', :message => message
          - if @older_messages.size > 0
            %dt Older
        - @older_messages.sort_by!{|m| m.created_at}.reverse!.each do |message|
          = render 'mailbox/row', :message => message
          
    - elsif @messages && @messages.size > 0
      %dl
        - @messages.sort_by!{|m| m.created_at}.reverse!.each do |message|
          = render 'mailbox/row', :message => message
          
    - elsif @folder
      %p= "#{@folder.name} is empty."
      
    - elsif @current_user.sent_messages.size > 0 && (!@message || @message.id)
      %dl
        - current_user.sent_messages.sort_by!{|m| m.created_at}.reverse!.each do |message|
          = render 'mailbox/row', :message => message
    