= form_tag (@folder == current_user.trash ? mail_batch_delete_path : mail_batch_move_path(current_user.trash)), :method => (@folder == current_user.trash ? :delete : :put) do

  #mailbox-menu
    %dl
    
      %dt Mail
      %dd{ :class => 'inbox' + (@folder == current_user.inbox ? ' current' : '') }
        = link_to 'Inbox', inbox_path, :meta => "Inbox - #{pluralize(current_user.inbox.messages.size, 'message') + (current_user.inbox.messages.size > 0 ? ', ' + current_user.unread_messages.size.to_s + ' new' : '')}"
      %dd{ :class => 'compose' + (@message && !@message.id ? ' current' : '') }
        = link_to 'Compose', compose_mail_path, :meta => 'New message'
      -#HACK Joe - Is there a better way to detect that we are viewing sent messages? -DW
      %dd{ :class => 'sent' + (!@folder && (!@message || (@message.id && !@message.respond_to?('folder'))) ? ' current' : '') }
        = link_to 'Sent', sent_mailbox_path, :meta => "Sent messages"
      %dd{ :class => 'trash' + (@folder == current_user.trash || (@message && @message.respond_to?('folder') && @message.folder == current_user.trash) ? ' current' : '') }
        = link_to 'Trash', trash_path, :meta => "Trash - #{pluralize(current_user.trash.messages.size, 'message')}"
        
      %dt Actions
      %dd.move
        = link_to 'Move to folder', '#', :meta => 'Move selected messages.'
      %dd.delete
        - if @folder == current_user.trash
          = button_tag 'Delete forever', :confirm => 'Are you sure?', :meta => 'Delete messages for forever.'
        - else
          = button_tag 'Move to trash', :meta => 'Trash selected messages.'
  #mailbox
    - if (@todays_messages && @todays_messages.size > 0) || (@older_messages && @older_messages.size > 0)
      %dl
        - if @todays_messages.size > 0
          %dt Today
          - @todays_messages.each do |message|
            = render 'mailbox/row', :message => message
          - if @older_messages.size > 0
            %dt Older
        - @older_messages.each do |message|
          = render 'mailbox/row', :message => message
          
    - elsif @messages && @messages.size > 0
      %dl
        - @messages.each do |message|
          = render 'mailbox/row', :message => message
          
    - elsif @folder
      %p= "#{@folder.name} is empty."
      
    - elsif @current_user.sent_messages.size > 0 && (!@message || @message.id)
      %dl
        - current_user.sent_messages.each do |message|
          = render 'mailbox/row', :message => message
    