%dd{ :class => (message.respond_to?('folder_name') ? message.folder_name.downcase.gsub(/[^a-z0-9]/,'') : '') }

  - if message.respond_to?('deleted') && !message.deleted?
    %p.meta
      = check_box_tag "ids[#{message.id}]", true, false, :id => "message_id_#{message.id}"
      %label{ :for => "message_id_#{message.id}" }

  %time
    = l message.created_at, :format => (message.created_at.today? ? :time_12 : :date_monthday)
    
  %h3
    = link_to message.subject, mail_path(message)
  
  = image_tag(message.author_avatar_url(:tiny), :class => 'avatar')
  
  %p.author
    %strong= message.author.name
    to me
    - if message.recipients.size > 1
      = " and #{pluralize(message.recipients.size-1,'other')}"
      
  %p.body
    = truncate message.body, :length => 100, :separator => ' '