%p#bcrumb
  = link_to 'Announcements', :announcements
  = link_to 'Community Announcements', :community_announcement
  %span= @community_announcement.name

#page
  %h1= @community_announcement.name

  %span#actions
    = link_to 'Edit', edit_community_announcement_path(@community_announcement), :class => 'edit', :title => 'Edit'
    = link_to 'Delete', @community_announcement, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'

  %p#announcement= @community_announcement.body
  -if @community_announcement.acknowledgment_of_announcements.size > 0
    %ul
      - @community_announcement.acknowledgment_of_announcements.each do |acknowledgment_of_announcement|
        %li="#{acknowledgment_of_announcement.profile_name} has #{(acknowledgment_of_announcement.acknowledged ? "" : "not ")}accepted the announcement."
