= form_for [:management,@role,@permission] do |f|
  %p.field
    = f.label 'Resource'
    = f.select(:magic_polymorphic_helper, @permissionables)
  %p.field
    %label
      = f.check_box :create_p
      Create
  %p.field
    %label
      = f.check_box :show_p
      View
  %p.field
    %label
      = f.check_box :update_p
      Edit
  %p.field
    %label
      = f.check_box :delete_p
      Delete
  = submit_or_cancel(f)