= form_for [:management,@role,@permission] do |f|
  %h2 Resource
  -#grouped_options_for_select(@pageOptions) if @pageOptions
  -#grouped_options_for_select(@discussionOptions) if @discussionOptions
  -#options_for_select(@permissionables)
  =f.select(:magic_polymorphic_helper, options_for_select(@permissionables) + options_for_select(@discussionHeader) + grouped_options_for_select(@discussionOptions)+ options_for_select(@pageHeader) + grouped_options_for_select(@pageOptions))
  %p.field
    = f.label "Create Permission"
    = f.check_box :create_p
  %p.field
    = f.label "Show Permission"
    = f.check_box :show_p
  %p.field
    = f.label "Update Permission"
    = f.check_box :update_p
  %p.field
    = f.label "Delete Permission"
    = f.check_box :delete_p
  = submit_or_cancel(f)