= form_for [:management,@role,@permission] do |f|
  %h2 Resource
  = collection_select(:permission, :permissionable_id, @permissionables, :id, :name)
  = collection_select(:permission, :permissionable_type, @permissionables, :class, :name)
  %p.field
    = f.label "Create Permission"
    = f.check_box :create_p
  %p.field
    = f.label "Show Permission"
    = f.check_box :show_p
  %p.field
    = f.label "Update Permission"
    = f.check_box :update_p
  %p.field
    = f.label "Delete Permission"
    = f.check_box :delete_p
  = submit_or_cancel(f)