%p#bcrumb
  = link_to 'Management', management_path
  = link_to 'Roles', management_roles_path
  = link_to @role.name, [:management, @role]
  %span Permissions

%h1 Permissions

%table
  %thead
    %tr
      %th Name
      %th Role
      %th
      %th
      %th
  %body
    - @permissions.each do |permission|
      %tr
        %td= permission.permissionable_name
        %td= permission.role_id
        %td= link_to 'Show', [:management,@role,permission]
        %td= link_to 'Edit', edit_management_role_permission_path(@role,permission)
        %td= link_to 'Destroy', [:management,@role,permission], :confirm => 'Are you sure?', :method => :delete
  %tfoot
    %tr
      %td{ :colspan => 5 }
        = link_to 'New Permission', new_management_role_permission_path(@role), :class => 'button'