<h1>Listing permissions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.permissionable_name %></td>
    <td><%= permission.role_id %></td>
    <td><%= link_to 'Show', [:management,@role,permission] %></td>
    <td><%= link_to 'Edit', edit_management_role_permission_path(@role,permission) %></td>
    <td><%= link_to 'Destroy', [:management,@role,permission], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission', new_management_role_permission_path(@role) %>
