%p#bcrumb
  = link_to 'Management', management_path
  = link_to 'Roles', management_roles_path
  = link_to @role.name, [:management, @role]
  = link_to 'Permissions', management_role_permissions_path(@role)
  %span New

%h1 New permission
= render 'form'
= link_to 'Back', [:management,@role]
