<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @permission.name %>
</p>

<p>
  <b>Role:</b>
  <%= @permission.role_id %>
</p>
<p>
  <h4>Resource</h4>
  <%= @permission.permissionable_name %>
  <p>
    <%= "Create Permission" %>
    <%= @permission.create_p %>
  </p>
  <p>
    <%= "Show Permission" %>
    <%= @permission.show_p %>
  </p>
  <p>
    <%= "Update Permission" %>
    <%= @permission.update_p %>
  </p>
  <p>
    <%= "Delete Permission" %>
    <%= @permission.delete_p %>
  </p>    
</p>

<%= link_to 'Edit', edit_management_role_permission_path(@role,@permission) %> |
<%= link_to 'Back', [:management,@role] %>
