- if announcements.any?
  = form_tag batch_destroy_announcements_url, :method => :delete do
    %table
      %thead
        %tr
          - if can? :destroy, Announcement
            %th.check
          %th Announcement
          %th Last Reply
          %th Comments?
          %th.actions
      %tbody
        - announcements.each do |announcement|
          %tr
            - if can? :destroy, Announcement
              %td.check
                = check_box_tag "ids[#{announcement.id}]", true, false, :id => "announcement_id_#{announcement.id}"
                %label{ :for => "announcement_id_#{announcement.id}" }
            %td= link_to shorten_words(announcement.name, 21), announcement
            %td= link_to shorten_words(announcement.comments.last.poster_name), announcements.comments.last.poster if announcement.comments.size > 0
            %td= announcement.is_locked ? 'Closed' : announcement.number_of_comments
            %td.actions
              %div
                - if announcement.is_locked
                  - if can? :unlock, announcement
                    = link_to 'Unlock', unlock_announcement_url(announcement), :method => :post, :meta => 'Unlock announcement', :class => 'unlock'
                - else
                  - if can? :lock, announcement
                    = link_to 'Lock', lock_announcement_url(announcement), :method => :post, :meta => 'Lock announcement', :class => 'lock'
                - if (can? :destroy, announcement)
                  = link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete announcement', :class => 'delete'
      %tfoot
        %tr
          %td{ :colspan => (can? :destroy, Announcement) ? 5 : 4 }
            - if can? :destroy, Announcement
              %button{ :type => :submit } Remove Selected
            - if can? :create, Announcement
              = link_to 'Create New', new_announcement_url, :class => 'button'
-else
  %p No announcements to display.
  - if can? :create, Announcement
    %p= link_to 'Create New', new_announcement_url, :class => 'button'