- title "#{@announcement.name} | #{@announcement.context_name} | #{@community.name}"
- content_for :header do
  = javascript_include_tag "comments"

#breadcrumb
  %ol
    %li= link_to "Announcements", announcements_url(subdomain: current_community.subdomain)
    - if @announcement.supported_game
      %li= link_to @announcement.supported_game_smart_name, announcements_url(supported_game: @announcement.supported_game)
    - else
      %li= link_to 'Community Announcements', community_announcements_url
    %li
      %span= shorten_words @announcement.name, 21

#actions.actions
  - if @announcement.is_locked
    - if can? :unlock, @announcement
      = link_to 'Unlock', unlock_announcement_url(@announcement), method: :post, meta: 'Unlock announcement', class: 'unlock'
  - else
    - if can? :lock, @announcement
      = link_to 'Lock', lock_announcement_url(@announcement), method: :post, meta: 'Lock announcement', class: 'lock'
    - if (can? :destroy, @announcement)
      = link_to 'Destroy', @announcement, confirm: 'Are you sure?', method: :delete, meta: 'Remove announcement', class: 'delete'

%article
  %h1= shorten_words @announcement.name, 21
  %p= @announcement.body

- if can? :create, Announcement and (@user_profiles_have_seen.any? or @user_profiles_have_not_seen.any?)
  %table
    %thead
      %tr
        %th.half Have Not Seen This
        %th.half Have Seen This
    %tfoot
      %tr
        %td{ colspan: 2 }
    %tbody
      %tr
        %td.half
          - if @user_profiles_have_not_seen.any?
            %ul
              - @user_profiles_have_not_seen.each do |user_profile|
                %li= link_to shorten_words(user_profile.display_name), user_profile
        %td.half
          - if @user_profiles_have_seen.any?
            %ul
              - @user_profiles_have_seen.each do |user_profile|
                %li= link_to shorten_words(user_profile.display_name), user_profile

- if @announcement.comments.any? or can? :comment, @announcement
  %aside.comments
    - if @comments.any?
      = paginate @comments
      %ol
        - @comments.each do |comment|
          = render "subdomains/comments/comment", comment: comment
      = paginate @comments
    - if can? :comment, @announcement
      .newcomment
        %h3 Post a New Comment
        = render 'subdomains/comments/form', comment: @announcement.comments.new