- title "#{@announcement.name} | #{@announcement.discussion_space_name} | #{@community.name}"
= javascript_include_tag "comments"

%nav
  %h1
    = link_to "Announcement Spaces", announcement_spaces_url
    = link_to @announcement.discussion_space_name, announcement_space_url(@announcement.discussion_space)
    %strong= @announcement.name

#actions.actions
  - if (can? :update, @announcement)
    = link_to 'Edit', edit_discussion_path(@announcement), :meta => 'Edit announcement', :class => 'edit'
  - if (can? :destroy, @announcement)
    = link_to 'Destroy', @announcement, :confirm => 'Are you sure?', :method => :delete, :meta => 'Remove announcement', :class => 'delete'

%article
  %p
    = @announcement.body

- if @announcement.comments.any? or can? :comment, @announcement
  %aside.comments
    - if @announcement.comments.any?
      %ol
        - @announcement.comments.each do |comment|
          = render "subdomains/comments/comment", :comment => comment
    - if can? :comment, @announcement
      %h3 Post a New Comment
      = render 'subdomains/comments/form', :comment => @announcement.comments.new