- title "#{@announcement.name} | #{@announcement.context_name} | #{@community.name}"
= javascript_include_tag "comments"

#breadcrumb
  %ol
    %li= link_to "Announcements", announcements_url(:subdomain => current_community.subdomain)
    - if @announcement.supported_game
      %li= link_to @announcement.supported_game_smart_name, announcements_url(:supported_game => @announcement.supported_game)
    - else
      %li= link_to 'Community Announcements', community_announcements_url
    %li
      %span= @announcement.name

#actions.actions
  - if (can? :update, @announcement)
    = link_to 'Edit', edit_discussion_path(@announcement), :meta => 'Edit announcement', :class => 'edit'
  - if (can? :destroy, @announcement)
    = link_to 'Destroy', @announcement, :confirm => 'Are you sure?', :method => :delete, :meta => 'Remove announcement', :class => 'delete'

%article
  %h1= @announcement.name
  %p= @announcement.body

- if @announcement.comments.any? or can? :comment, @announcement
  %aside.comments
    - if @announcement.comments.any?
      %ol
        - @announcement.comments.each do |comment|
          = render "subdomains/comments/comment", :comment => comment
    - if can? :comment, @announcement
      %h3 Post a New Comment
      = render 'subdomains/comments/form', :comment => @announcement.comments.new