= form_for @multi_select_question do |f|
  -if @multi_select_question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@multi_select_question.errors.count, "error")} prohibited this multi_select_question from being saved:"
      %ul
        - @multi_select_question.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
