= form_for(@answer) do |f|
  %p.field
    = f.label :question_id
    = f.text_field :question_id
  %p.field
    = f.label :registration_application_id
    = f.text_field :registration_application_id
  %p.field
    = f.label :content
    = f.text_area :content
  = submit_or_cancel(f)
