- title "Community Application | #{current_community.name}"
- content_for(:controller_css){ stylesheet_link_tag("subdomains/community_applications") }

%p
  %b Community:
  = @community_application.community_id
%p
  %b User profile:
  = @community_application.user_profile_id
%p
  %b Submission:
  = @community_application.submission_id
%p
  %b Status:
  = @community_application.status
%p
  %b Characters
  - if  @community_application.character_proxies.size > 0
    %ul
      - @community_application.character_proxies.each do |proxy|
        %li = proxy.to_yaml
- if can? :accept, @community_application and @community_application.pending?
  = link_to 'Accept', accept_community_application_path, :method => :post, :class => 'button'
- if can? :reject, @community_application and @community_application.pending?
  = link_to 'Reject', accept_community_application_path, :method => :post, :class => 'button'



%pre=YAML::dump @community_application.submission.answers



- if @community_application.comments.size > 0 or can? :comment, @community_application
  %aside.comments
    - if @community_application.comments.size > 0
      %ol
        - @community_application.comments.each do |comment|
          = render "subdomains/comments/comment", :comment => comment
    - if can? :comment, @community_application
      #newcomment
        %h3 Post a New Comment
        = render 'subdomains/comments/form', :comment => @community_application.comments.new