#menu
  .container
    -if !logged_in?
      = form_tag(session_url(:subdomain => false), :class => 'login') do
        = label_tag :email
        = text_field_tag(:email, '', {:title => 'Email address', :spellcheck => false})
        = password_field_tag(:password, '', {:title => 'Password', :spellcheck => false})
        %p.remember
          %label.checked
            = check_box_tag 'remember', 1, true
            Remember Me
        %button{ :type => 'submit' } Login
        %p.apply
          -if @community.accepting
            -if @community.community_application_form.nil?
              %span Is seeking applications, but do not have a form setup yet.
            -else
              or
              = link_to 'Sign up', new_registration_application_path
          -else
            Is Not Accepting
    %ul
      %li
        = link_to 'Info', :page_spaces, { :class => 'main' }
        %ul
          - nav_featured_pages.each do |page| 
            %li= link_to page.title, [page.page_space, page]
          -if logged_in? and not current_user.is_a_member_of(@community)
            -if @community.accepting
              %li= link_to "Apply To #{@community.display_name}", new_registration_application_path
            -else
              %li Is not accepting applicants
      -if logged_in?
        %li
          =link_to 'Members', user_profiles_path
          %ul
            %li= link_to 'Announcements', announcements_path
            - if current_user.can_show("DiscussionSpace")
              %li= link_to 'Discussions', :discussion_spaces
            - if logged_in? and current_user.can_update('RegistrationApplication')
              %li.new
                = link_to '+ Applications', registration_applications_path
      %li
        = link_to 'Resources', page_spaces_path, { :class => 'main' }
        - if dynamic_page_spaces
          %ul
            - dynamic_page_spaces.each do |page_space| 
              %li= link_to page_space.name, page_space
            - if logged_in? and current_user.can_create('PageSpace')
              %li.new
                = link_to '+ New', new_page_space_path
      - if logged_in?
        %li
          = link_to 'Discussions', :discussion_spaces, { :class => 'main' }
          - if dynamic_discussions
            %ul
              - dynamic_discussions.each do |discussion_space| 
                %li= link_to '(' + discussion_space.discussions.size.to_s + ') ' + discussion_space.name, discussion_space
              - if logged_in? and current_user.can_create('DiscussionSpace')
                %li.new
                  = link_to '+ New', new_discussion_space_path
      - if logged_in? and @management_items.size > 0
        %li
          = link_to 'Admin', :management, { :class => 'main' }
          %ul
            -@management_items.each do |nav_item|
              %li= link_to nav_item[:title], nav_item[:link]
      %li.search
        %a.main
          Search
        = render :partial => "search/form"