= form_for(@game_announcement) do |f|
  - if @game_announcement.errors.any?
    #error_explanation
      %h2
        = pluralize(@game_announcement.errors.count, "error")
        prohibited this game_announcement from being saved:
      %ul
        - @game_announcement.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :game_id
    %br/
    = f.collection_select(:game_id, Game.where("is_active = ?", true), :id, :name, options ={:prompt => "Select a game"}, :class =>"game")
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .field
    = f.label :comments_enabled
    %br/
    = f.check_box :comments_enabled
  .actions
    = submit_or_cancel(f)
