<h1>Listing Game Announcements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_announcements.each do |announcement| %>
  <tr>
    <td><%= announcement.name %></td>
    <td><%= announcement.body %></td>
    <td><%= Game.find(announcement.game_id).name %></td>
    <td><%= current_user.can_show(announcement) ? link_to('Show', announcement) : "No Show Permissions" %></td>
    <td><%= current_user.can_update(announcement) ? link_to('Edit', edit_announcement_path(announcement)) : "No Edit Permissions" %></td>
    <td><%= current_user.can_delete(announcement) ? link_to('Destroy', announcement, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions" %></td>
  </tr>
<% end %>
</table>

<br />

<%= current_user.can_create("GameAnnouncement") ? link_to('New Game Announcement', new_game_announcement_path) : "No Create Permissions" %> |
<%= link_to 'All Announcements', announcements_path %>
