%h1 Listing Game Announcements
%table
  %tr
    %th Title
    %th Body
    %th Game
    %th
    %th
    %th
  - @game_announcements.each do |announcement|
    %tr
      %td= announcement.name
      %td= announcement.body
      %td= Game.find(announcement.game_id).name
      %td= current_user.can_show(announcement) ? link_to('Show', announcement) : "No Show Permissions"
      %td= current_user.can_update(announcement) ? link_to('Edit', edit_announcement_path(announcement)) : "No Edit Permissions"
      %td= current_user.can_delete(announcement) ? link_to('Destroy', announcement, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions"
%br/
= current_user.can_create("GameAnnouncement") ? link_to('New Game Announcement', new_game_announcement_path) : "No Create Permissions"
|
\#{link_to 'All Announcements', announcements_path}
