<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game_announcement.name %>
</p>

<p>
  <b>Body:</b>
  <%= @game_announcement.body %>
</p>

<p>
  <b>Game:</b>
  <%= render @game %>
</p>

<p>
  <b>Acknowledgments:</b>
  <table>
  <tr>
    <th>Character Name</th>
    <th>Acknowledged</th>
  </tr>

<% @acknowledgments.each do |ack| %>
  <tr>
    <td><%= ack.displayname %></td>
	<td><%= ack.acknowledged %></td>
  </tr>
<% end %>
</table>
</p>

<%= link_to 'Edit', edit_game_announcement_path(@game_announcement) %> |
<%= link_to 'Game Announcements', game_announcements_path %> |
<%= link_to 'All Announcements', announcements_path %>
