= form_for([@page_space, @page]) do |f|
  %p.field
    = f.label :title
    = f.text_field :title
  %p.field
    = f.label :featured_page
    = f.check_box :featured_page
  %p.field
    = f.label :body
    = f.text_area :body, :class => "mceEditor"
  = submit_or_cancel(f)