= div_for page do
  %h3= page.title
  - if page.featured_page
    %h4 Featured Page
  %span.actions
  %td= (logged_in? and current_user.can_update(page)) ? link_to( 'Edit', edit_page_path(page)) : "No Edit Permissions"
  %td= (logged_in? and current_user.can_delete(page)) ? link_to( 'Delete', page, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions"
  %p
    = page.body
