%h1 Listing pages
%span= link_to "Back to #{@page_space.name}", @page_space
%table
  %tr
    %th Title
    %th
    %th
    %th
  - @pages.each do |page|
    %tr
      %td= page.title
      %td= link_to( 'Show', [page.page_space, page])
      %td= (logged_in? and current_user.can_update(page)) ? link_to( 'Edit', edit_page_space_page_path(page.page_space,page)) : "No Edit Permissions"
      %td= (logged_in? and current_user.can_delete(page)) ? link_to( 'Delete', [page.page_space,page], :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions"
