= simple_form_for user_profile, :html => {:multipart => true} do |f|
  = f.input :avatar_cache, :as => :hidden
  %fieldset
    %ol
      = f.input :first_name
      = f.input :last_name
      = f.input :display_name
      = f.input :title
      %li.avatar
        = image_tag user_profile.avatar_url :small
        = f.input :avatar, :as => :file
        = f.input :remote_avatar_url, :title => 'or a link to an image'
      %li
        %button{ :type => 'submit' } Save
