= form_for user_profile, :html => {:multipart => true} do |f|
  -if user_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(user_profile.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - user_profile.errors.full_messages.each do |msg|
          %li= msg
  =f.hidden_field :avatar_cache
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :display_name
    = f.text_field :display_name
  .avatar
    = image_tag(user_profile.avatar_url) if user_profile.avatar_url
    .field
      = f.file_field :avatar
    .field
      =f.label :remote_avatar_url, "or image URL"
      = f.text_field :remote_avatar_url
  .actions
    = f.submit 'Save'
