%table
  %thead
    %tr
      %th Name
      %th
      %th.r Location
      %th.r Characters
      %th.r Communities
      %th.actions
  %tbody
    - user_profiles.each do |user_profile|
      - cache user_profile do
        %tr
          %td
            %strong= link_to user_profile.display_name, user_profile
          %td.pitch
            - unless user_profile.description.to_s.strip == ""
              %p= user_profile.description
          %td.r
            = user_profile.location
          %td.r
            = user_profile.character_proxies.size
          %td.r
            = user_profile.community_profiles.size
          %td.actions
            %div= link_to 'Recruit', root_url, :meta => 'Recruit this user'
  %tfoot
    %tr