%p#bcrumb
  = link_to 'Profiles', profiles_path
  %span User Profiles

%h1 User Profiles

%table
  - if @profiles.size > 0
    %thead
      %tr
        %th.name Name
        %th.actions
    %tbody
      - @profiles.each do |profile|
        %tr
          %td.name
            = link_to profile.name, profile
          %td.actions
            = link_to 'Edit', edit_profile_path(profile), :class => 'edit', :title => 'Edit'
            = link_to 'Delete', profile, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 2 } There are currenty no user profiles.
  %tfoot
    %tr
      %td{ :colspan => 2 }
        - if logged_in? and current_user.can_create('UserProfile')
          = link_to 'New User Profile', profiles_newgame_path, :class => 'button'
