- title "Users"

#body
  %h1 Crumblin Users
  = form_tag user_profiles_url, :method => 'get', :id => 'searchbox' do
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]
    %p
      = text_field_tag :search, params[:search]
      %button{ type: 'submit' } Search
  - if @user_profiles.any?
    = paginate @user_profiles
    = render "user_profiles/table", :user_profiles => @user_profiles
    = paginate @user_profiles
  -else
    %p
      There are no user profiles to display.