%h1 New profile
= form_for(@profile) do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@profile.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg
  - if false
    / This will enable the selection of the type of profile to create. We are not using this now.
    .field
      Type:
      %br/
      = f.select( :type_helper, Profile.select_options)
  Type: #{@profile.type_helper}
  \#{f.hidden_field :type_helper, :value => @profile.type_helper}
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
= link_to 'Back', profiles_path
