- title "Profile: #{@user_profile.display_name}"
= stylesheet_link_tag "top_level/user_profiles"
= javascript_include_tag "user_profiles", "activities"

#body{ class: @user_profile == (user_signed_in? and current_user.user_profile) ? 'myprofile' : '' }
  %header
    %h1= shorten_words @user_profile.display_name.to_s, 21
    - if @user_profile.title?
      %p= "“#{@user_profile.title}”"
  %aside
    .avatar= image_tag @user_profile.avatar_url :large
    %ul.actions
      - if can? :update, @user_profile
        %li= link_to "Settings", edit_user_registration_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :icon => '✲'
        %li= link_to 'Edit Profile', edit_user_profile_url(@user_profile), :icon => '✎'
      - else
        - if user_signed_in? and current_user.address_book.include? @user_profile
          %li.message= link_to 'Message', compose_mail_to_url(@user_profile), :icon => '✉'
          -#%li.message= link_to 'Recruit', '#', :icon => '✍'
    - if @user_profile.publicly_viewable or (user_signed_in? and @user_profile == current_user.user_profile)
      %h3 My Communities
      - if @user_profile.communities.any?
        %ul.communities
          - @user_profile.communities.each do |community|
            %li= link_to shorten_words(community.name), community, (@user_profile == community.admin_profile ? { :meta => '✭' } : {})
      - elsif user_signed_in? and @user_profile == current_user.user_profile
        %p
          You don't have any memberships yet.
          = link_to 'Find a community ›', communities_url
          %br
          = link_to 'Create a community ›', new_community_url
      - else
        %p
          This user is not a member of any communities.
      - unless @user_profile.location.to_s.strip == ''
        %h3 Location
        %p= shorten_words @user_profile.location
      - unless @user_profile.description.to_s.strip == ''
        %h3 About Me
        %p= shorten_words @user_profile.description
      %h3 Stats
      %p.stats
        = "User since #{l @user_profile.created_at, :format => :date_short}."
        %br
        = pluralize(Discussion.where(:user_profile_id => @user_profile.id).size, 'discussion') + ' created.'
        %br
        = pluralize(Comment.where(:user_profile_id => @user_profile.id).size, 'comment') + ' made.'
  %article
    - if @user_profile.publicly_viewable or (user_signed_in? and @user_profile.id == current_user.user_profile_id)
      %dl#tabs.tabs
        %dt{ :class => 'activities current' }
          = link_to 'Recent Activity', activities_user_profile_url(@user_profile, :format => :js), :remote => true, :class => 'dynload wait', 'data-type' => :text, 'data-target' => '#tabs dt.activities + dd', 'data-error' => 'Error: unable to load recent activity.'
        %dd
        - if user_signed_in? and @user_profile == current_user.user_profile
          %dt{ :class => 'announcements' }
            = link_to 'Announcements', announcements_user_profile_url(@user_profile, :format => :js), :remote => true, :class => 'dynload wait', 'data-type' => :text, 'data-target' => '#tabs dt.announcements + dd', 'data-error' => 'Error: unable to load announcements.'
          %dd
        %dt{ :class => 'characters' }
          = link_to 'Characters', characters_user_profile_url(@user_profile, :format => :js), :remote => true, :class => 'dynload wait', 'data-type' => :text, 'data-target' => '#tabs dt.characters + dd', 'data-error' => 'Error: unable to load characters.'
        %dd
    - else
      %p This user's profile is private.