%p#bcrumb
  = link_to 'User Profiles', :user_profiles
  %span= @profile.name

%p#notice= notice

#page
  %h1= @profile.name
    
  %h2 Characters
  #actions
    = link_to 'Edit User Profile', edit_profile_path(@profile), :class => 'edit', :title => 'Edit'
  
  - if @profile.characters != nil
    %table
      - if @profile.characters.size > 0
        %thead
          %tr
            %th.name Name
            %th.edit
        %tbody
          - @profile.characters.each do |character|
            %tr
              %td.name
                = link_to character.name, character
              %td.edit
                = link_to 'Edit', character, :class => 'edit', :title => 'Edit'
                = link_to 'Delete', character, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
      - else
        %tbody
          %tr
            %td{ :colspan => 2 } There are no characters yet.
      %tfoot
        %tr
          %td{ :colspan => 2 }
            = form_tag(new_base_character_path, :method => :get) do
              = collection_select(:game, :game_id, Game.active, :id, :name, options ={:prompt => "Select a game"}, :class =>"game")
              %button{ :type => 'submit', :class => 'add', :title => 'Add Character to Game' } Add Character to Game