<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<div>
  <h3>Characters</h3>	
  	<%= render @profile.all_characters %>
</div>

<%= link_to 'New Character', new_character_path %> |
<%= link_to 'Edit User Profile', edit_profile_path(@profile) %> |
<%= js_back %>
