- is_my_profile = (user_signed_in? and @user_profile == current_user.user_profile)
- is_private = !(@user_profile.publicly_viewable or (user_signed_in? and @user_profile.id == current_user.user_profile_id))

- title "Profile: #{@user_profile.display_name}"

- content_for :header do
  = stylesheet_link_tag "top_level/user_profiles"

- content_for :footer do
  = javascript_include_tag "user_profiles"
  = javascript_include_tag "activities"

%header{ class: is_my_profile ? 'myprofile' : '' }
  %h1= shorten_words @user_profile.display_name.to_s, 21
  - if @user_profile.title?
    %p= @user_profile.title

%aside
  .avatar= image_tag @user_profile.avatar_url :large
  .actions
    - if can? :update, @user_profile
      = link_to "Settings", edit_user_registration_url, class: 'settings'
      = link_to 'Edit Profile', edit_user_profile_url(@user_profile), class: 'edit'
    - elsif user_signed_in?
      - if current_user.address_book.include? @user_profile
        = link_to 'Message', compose_mail_to_url(@user_profile), class: 'message'
      - if @communities_to_invite_to.any?
        .recruit
          Recruit to&hellip;
          %ul
            - @communities_to_invite_to.each do |community|
              %li= link_to community.name, community_invites_url(community_invite: {applicant_id: @user_profile.id, community_id: community.id, sponsor_id: current_user.user_profile_id}), method: :post
  - if @user_profile.publicly_viewable or is_my_profile
    %h3 My Communities
    - if @user_profile.communities.any?
      %ul.communities
        - @user_profile.communities.includes(:admin_profile).each do |community|
          %li= link_to shorten_words(community.name), root_url(subdomain: community.subdomain)
    - elsif is_my_profile
      %p
        You do not have any memberships yet.
        = link_to 'Find a community ›', search_url
        %br
        = link_to 'Create a community ›', new_community_url
    - else
      %p
        This user is not a member of any communities.
    - unless @user_profile.location.to_s.strip == ''
      %h3 Location
      %p= shorten_words @user_profile.location
    - unless @user_profile.description.to_s.strip == ''
      %h3 About Me
      %p= shorten_words @user_profile.description
    %h3 Stats
    %p.stats
      = "User since #{l @user_profile.created_at, format: :date_short}."
      %br
      = pluralize(Discussion.where(user_profile_id: @user_profile.id).size, 'discussion') + ' created.'
      %br
      = pluralize(Comment.where(user_profile_id: @user_profile.id).size, 'comment') + ' made.'

%article
  %dl#tabs.tabs
    - if is_my_profile
      %dt{ class: 'invites', 'data-hint' => 'Invitations' }
        = link_to 'Invites', invites_user_profile_url(@user_profile, format: :js), remote: true
      %dd
      %dt{ class: 'announcements', 'data-hint' => 'Announcements' }
        = link_to 'Announcements', announcements_user_profile_url(@user_profile, format: :js), remote: true
      %dd
    - if is_my_profile or !is_private
      %dt{ class: 'games', 'data-hint' => 'Games & Characters' }
        = link_to 'Games & Characters', user_profile_played_games_url(@user_profile, format: :js), remote: true
      %dd
      %dt{ class: 'activities current', 'data-hint' => 'Recent Activity' }
        = link_to 'Recent Activity', activities_user_profile_url(@user_profile, format: :js), remote: true
      %dd
