- title "Profile: #{@user_profile.display_name}"
= javascript_include_tag "activities"

#body
  %header
    %h1= @user_profile.display_name.to_s
    - if @user_profile.title
      %p= "“#{@user_profile.title}”"

  %aside
    .avatar= image_tag @user_profile.avatar_url :large
    %ul.actions
      - if can? :update, @user_profile
        %li.settings= link_to "Settings", edit_user_registration_url
        %li.edit= link_to 'Edit Profile', edit_user_profile_path(@user_profile)
      - else
        - if user_signed_in? and current_user.address_book.include? @user_profile
          %li.message= link_to 'Message', compose_mail_to_url(@user_profile)
        -# TODO Doug - Add this link once we add the friends feature %li.friend= link_to 'Friend', '#'
    %h3 My Communities
    - if @user_profile.communities.any?
      %ul.communities
        - @user_profile.communities.each do |community|
          %li= link_to community.name, community
    - else
      %p No memberships.
    %h3 About Me
    %p= @user_profile.description ||= 'No description given.'
    %h3 Stats
    %p.stats
      = "Crumblin since #{l @user_profile.created_at, :format => :date_short}."
      %br/
      = pluralize(Discussion.where(:user_profile_id => @user_profile.id).size, 'discussion') + ' created.'
      %br/
      = pluralize(Comment.where(:user_profile_id => @user_profile.id).size, 'comment') + ' made.'

  %dl#tabs.tabs

    %dt{ :class => 'activity active' } Recent Activity
    %dd
      - if defined? @activities and @activities.any?
        %ol.activities
          = render "activities/activities", :activities => @activities, :user_profile => @user_profile
        - unless @activities.size < @activities_count_initial
          %p.submit
            = link_to 'Load more', activities_url('activity[user_profile_id]' => @user_profile.id, :max_items => @activities_count_increment), :remote => true, 'data-type' => :text, :class => 'button more_activites', :initial => @activities_count_initial, :increment => @activities_count_increment
      - else
        %em No recent activity

    %dt{ :class => 'characters' } Characters
    %dd
      - if @user_profile.swtor_characters.any? or (user_signed_in? and @user_profile == current_user.user_profile)
        %h2
          Star Wars: The Old Republic
          - if user_signed_in? and @user_profile == current_user.user_profile
            = link_to '+ add new', new_swtor_character_path
      - if @user_profile.swtor_characters.any?
        = render 'swtor_characters/list', :characters => @user_profile.swtor_characters
      - else
        %p No characters.
      - if @user_profile.wow_characters.any? or (user_signed_in? and @user_profile == current_user.user_profile)
        %h2
          World of Warcraft
          - if user_signed_in? and @user_profile == current_user.user_profile
            = link_to '+ add new', new_wow_character_path
      - if @user_profile.wow_characters.any?
        = render 'wow_characters/list', :characters => @user_profile.wow_characters
      - else
        %p No characters.
