%p#bcrumb
  = link_to 'Profiles', profiles_path
  = link_to 'User Profiles', user_profiles_path
  %span= @profile.name

%p#notice= notice

#page
  %h1= @profile.name
  
  %p#actions
    - if logged_in?
      - if current_user.can_update(@profile)
        = link_to 'Edit', edit_user_profile_path(@profile), :class => 'edit', :title => 'Edit'
      - if current_user.can_delete(@profile)
        = link_to 'Delete', @profile, :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete'
    
  %h2 Characters
  #actions
    - if logged_in?
      - if current_user.can_update(@profile)
        = link_to 'Edit', edit_profile_path(@profile), :class => 'edit', :title => 'Edit Profile'
      - if current_user.can_delete(@profile)
        = link_to 'Delete', @profile, :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete Profile'
    
  
  - if @profile.characters != nil
    %table
      - if @profile.characters.size > 0
        %thead
          %tr
            %th.name Name
            %th.actions
        %tbody
          - @profile.characters.each do |character|
            %tr
              %td.name
                = link_to character.name, character
              %td.actions
                -# TODO: need to have something similar to edit_character_path(character) that automatically routes to the correct game's controller based on the character
                = link_to 'Edit', '#', :class => 'edit', :title => 'Edit'
                = link_to 'Delete', character, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
      - else
        %tbody
          %tr
            %td.empty{ :colspan => 2 } There are no characters yet.
      - if logged_in? and @profile == current_user.user_profile
        %tfoot
          %tr
            %td{ :colspan => 2 }
              = form_tag(new_base_character_path, :method => :get) do
                = collection_select(:game, :game_id, Game.active, :id, :name, options ={:prompt => "Select a game"}, :class =>"game")
                %button{ :type => 'submit', :class => 'add', :title => 'Add Character to Game' } Add Character to Game