%p#bcrumb
  = link_to 'Donations', donations_path
  %span= "##{@donation.id}"

#page
  %h1= "Donation ##{@donation.id}"
  
  %p#actions
    - if logged_in? and current_user.can_update(@donation)
      = link_to 'Edit', edit_management_site_form_path(@donation), :class => 'edit', :title => 'Edit Donation'
    - if logged_in? and current_user.can_delete(@donation)
      = link_to 'Delete', @donation, :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete Donation'