%p#notice= notice

%p
  %b Type:
  = @document.type
%p
  %b Body:
  = @document.body
%p
  %b Version:
  = @document.version

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
