%p#bcrumb
  = link_to 'Crumblin', root_path(:subdomain => false)
  = link_to 'Communities', communities_path
  %span= @game.name

%h1 #{@game.name} Communities

- if @game.communities != nil
  %table
    %thead
      %tr
        %th.name Communities
        %th.characters Characters
    %tbody
      - for community in @game.communities
        %tr
          %td.name
            = link_to community.display_name, community
          %td.characters
            = community.get_characters_for_game(@game.class).size.to_s