%p
  %h1= @submission.site_form.name
  %b Username:
  = @submission.name
  %p= render :partial => "questions/question_answer", :collection => @submission.all_questions, :locals => {:submission =>  @submission}
  
  = link_to "Forms", site_forms_path
  |
  = link_to "Back", site_form_submissions_path(@submission.site_form)