= form_for([@site_form, @submission]) do |submission|
  - if @submission.errors.any?
    #error_explanation
      %h2
        = pluralize(@submission.errors.count, "error")
        prohibited this submission from being saved:
      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg
  = submission.hidden_field :site_form_id    
  - if @site_form != nil
    %h1= @site_form.name
    %h2= @site_form.message  
    - @site_form.questions.each do |question|
      = render :partial => question, :locals => {:submission => submission}
  .actions
    = submission.submit  'Submit Form', :disable_with => 'Please Wait...'