= form_for([@site_form, @submission]) do |f|
  = submission.hidden_field :site_form_id    
  - if @site_form != nil
    %h1= @site_form.name
    %h2= @site_form.message  
    - @site_form.questions.each do |question|
      = render :partial => question, :locals => {:submission => f}
  = submit_or_cancel(f)