%p
  %h1= @submission.site_form.name
  %h3= @submission.thankyou_message
  %b Username:
  = @submission.name
  %p= render :partial => "questions/question_answer", :collection => @submission.all_questions, :locals => {:submission =>  @submission}
  
  = link_to "Forms", site_forms_path
