<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h4>Associated Role</h4>
    <%= @permission.role_name %>
  </div>
  <div class="field">
    <h4>Resource</h4>
    <%= @permission.permissionable_name %>
    <p>
      <%= f.label "Create Permission" %>
      <%= f.check_box :create_p %>
    </p>
    <p>
      <%= f.label "Show Permission" %>
      <%= f.check_box :show_p %>
    </p>
    <p>
      <%= f.label "Update Permission" %>
      <%= f.check_box :update_p %>
    </p>
    <p>
      <%= f.label "Delete Permission" %>
      <%= f.check_box :delete_p %>
    </p>    
  </div>
  <div class="actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>
