%p#bcrumb
  = link_to 'Page Spaces', :page_spaces
  - if page_space.game
    = link_to page_space.game_name, page_space.game
  %span= page_space.name
  
%table
  %thead
    %tr
      %th.name
        = page_space.name
      %th.edit
        - if logged_in? and current_user.can_update(page_space)
          = link_to 'Edit', edit_page_space_path(page_space), :class => 'edit', :title => 'Edit'
        - if logged_in? and current_user.can_delete(page_space)
          = link_to 'Delete', page_space, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  %tbody
    - if page_space.pages.size > 0
      - page_space.pages.each do |page|
        %tr
          %td.name= link_to page.title, [page_space,page]
          %td.edit
            - if logged_in? and current_user.can_update(page)
              = link_to 'Edit', edit_page_path(page), :class => 'edit', :title => 'Edit'
            - if logged_in? and current_user.can_delete(page)
              = link_to 'Delete', '#', :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
    - else
      %tr
        %td{ :colspan => 3 } This page space has no active pages.
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if logged_in? and current_user.can_create("PageSpace")
          = link_to 'Create a Page', new_page_space_page_path(page_space), :class => 'button'