%p#notice= notice

%p
  %b Name:
  = @page_space.name
%p
  %b User profile:
  = @page_space.user_profile_id
%p
  %b Game:
  = @page_space.game_id
%p
  %b Community:
  = @page_space.community_id

= link_to 'Edit', edit_page_space_path(@page_space)
\|
= link_to 'Back', page_spaces_path
