= form_for(@radio_button_question) do |f|
  %p.field
    = f.label :content, "Question"
    = f.text_area :content, :rows => 3
  - f.fields_for :predefined_answers do |builder|
    = render 'predefined_answer_fields', :f => builder
  %p
    = link_to_add_fields "Add Answer", f, :predefined_answers
  = submit_or_cancel(f)