= form_for(@radio_button_question, :remote => true) do |f|
  - if @radio_button_question.errors.any?
    #error_explanation
      %h2
        = pluralize(@radio_button_question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @radio_button_question.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :site_form_id
  .field
    = f.label :content, "Question"
    %br/
    = f.text_area :content, :rows => 3
  = f.fields_for :predefined_answers do |builder|
    = render 'predefined_answer_fields', :f => builder
  %p= link_to_add_fields "Add Answer", f, :predefined_answers
  .actions
    = f.submit
