= div_for radio_button_question do
  %h3
    = radio_button_question.content
    %br/
  %ul
    = submission.fields_for :answers do |answer|
      - for panswer in radio_button_question.predefined_answers
        = answer.radio_button :content, panswer.content
        = label_tag panswer.content
        = answer.hidden_field(:question_id, :value => radio_button_question.id)
