= div_for radio_button_question do
  %h3
    = radio_button_question.content
    %br/
  %ul
    - for panswer in radio_button_question.predefined_answers
      %li.radio
        = label_tag "answer_helper_#{radio_button_question.id}_#{(actual_submission.contains_predefined_answer_from_collection(radio_button_question.predefined_answers) != nil ? actual_submission.contains_predefined_answer_from_collection(radio_button_question.predefined_answers).id : -radio_button_question.id)}_#{panswer.content}", radio_button_tag("answer_helper[#{radio_button_question.id}][#{(actual_submission.contains_predefined_answer_from_collection(radio_button_question.predefined_answers) != nil ? actual_submission.contains_predefined_answer_from_collection(radio_button_question.predefined_answers).id : -radio_button_question.id)}]",panswer.content,actual_submission.contains_predefined_answer(panswer) != nil) + ' ' + panswer.content