%h1 Editing #{@character.game_name.to_s} Character

= simple_form_for @character, html: {novalidate: true} do |f|
  %fieldset
    %ol
      = render "characters/#{@character.game_type.downcase}/fields", f: f, character: @character
    .submit
      %button{ type: 'submit' } Update character
      = link_to 'Remove Character', @character, method: :delete, confirm: 'This cannot be undone. Are you sure you want to remove this character?', class: 'secondary'