= form_for [:management, @site_form] do |f|
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :message, "Welcome Message"
    = f.text_area :message
  %p.field
    = f.label :thankyou, "Submission Thank You Message"
    = f.text_area :thankyou
  %p.field
    = f.label :published, "Publish Form"
    = f.check_box :published
  %p.field
    = f.label "Send Submission Notifications To" 
    #recipientchecklist
      - for profile in UserProfile.active_profiles
        = check_box_tag 'notifications[]', profile.id , @site_form.profile_notifications.include?(profile)
        =h profile.name
  %p.field
    = #select_tag(:q_type, options_for_select(Question::select_options))
    = #link_to_add_question "Add Question", f, :questions, :q_type
     
  .actions
    = submit_or_cancel(f)
