%h1 Listing Forms
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @site_form.each do |site_form|
    %tr
      %td= site_form.name
      %td= link_to 'Show', [:management, site_form]
      %td= link_to 'Edit', edit_management_site_form_path(site_form)
      %td= link_to 'Destroy', [:management, site_form], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Form', new_management_site_form_path
