%p#bcrumb
  = link_to 'Management', :management
  %span Forms

%h1 Forms Management

%table
  %thead
    %tr
      %th.name Name
      %th.edit
  - if @site_form.size > 0
    %tbody
      - @site_form.each do |site_form|
        %tr
          %td.name
            = link_to site_form.name, [:management, site_form]
          %td.edit
            = link_to 'Edit', edit_management_site_form_path(site_form), :class => 'edit', :title => 'Edit'
            = link_to 'Delete', [:management, site_form], :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  %tfoot
    %tr
      %td{ :colspan => 2 }
        = link_to 'New Form', new_management_site_form_path, :class => 'button'
