<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site_form.name %>
</p>

<p>
  <b>Welcome Message:</b>
  <%= @site_form.message %>
</p>

<p>
  <b>Thank You Message:</b>
  <%= @site_form.thankyou %>
</p>

<div id="questions">
  <b>Questions:</b>
  <% @site_form.questions.each do  |question| %>
    <%= render question %>
  <% end %>
</div>

<h5>New Question</h5>

<%= form_tag( new_question_path(:format => :js), :remote => true, :class => 'new_question_link', :method => 'get')   %>
<%= hidden_field_tag(:site_form_id, @site_form.id ) %>
<%= select_tag(:q_type, options_for_select(Question::select_options)) %>

<%= submit_tag 'Add Question' %>

</form>

<br />

<%= link_to 'Edit', edit_management_site_form_path(@site_form) %> |
<%= link_to 'Back', management_site_forms_path %>
