= javascript_include_tag "activities"

- if current_user.user_profile == current_community.admin_profile and !Page.find_by_id(current_community.home_page_id)
  %p
    %strong You do not have a home page setup yet.
    = (link_to 'Create a wiki page', page_spaces_url) + ','
    and set it as your home page in
    = link_to 'community settings', edit_community_settings_url
    %hr

%h1 Recent Activity
- if defined? @activities and @activities.any?
  %ol.activities
    = render "activities/activities", :activities => @activities, :user_profile => @user_profile
  - unless @activities.size < @activities_count_initial
    %p.submit
      = link_to 'Load more', activities_url('activity[community_id]' => current_community.id, :max_items => @activities_count_increment), :remote => true, 'data-type' => :text, :class => 'button more_activites', :initial => @activities_count_initial, :increment => @activities_count_increment
- else
  %p No recent activity