%p#notice= notice

%p
  %b Name:
  = @community.name
%p
  %b Subdomain:
  = @community.subdomain
%p
  %b Slogan:
  = @community.slogan
%p
  %b Label:
  = @community.label
%p
  %b Accepting:
  = @community.accepting

