%h1 Subdomains#index
%p#notice= notice

%p
  %b Name:
  = @community.name
%p
  %b Slogan:
  = @community.slogan
%p
  %b Accepting members:
  = @community.accepting_members
%p
  %b Email notice on application:
  = @community.email_notice_on_application
%p
  %b Subdomain:
  = @community.subdomain

%p
  %b Theme Background Image
  = @community.theme.background_image_url
%p
  %b Admin Profile:
  =link_to @community.admin_profile.full_name, @community.admin_profile
=link_to "HOME", root_url(:subdomain => false)
