- title "Submissions for \"#{@form.name}\" | #{current_community.name}"

%h1= "Submissions for \"#{@form.name}\""

- if @submissions.any?
  %table
    %thead
      %tr
        %th Date
        %th Submitted by
        %th
    %tbody
      - @submissions.each do |submission|
        %tr
          %td.cinch
            %time= l submission.created_at, :format => :date_short
          %td
            = link_to submission.user_profile_display_name, submission.user_profile
          %td.actions
            %div
              - if can? :show, submission
                = link_to submission.user_profile_display_name, custom_form_submission_path(@form,submission), :class => 'submission', :meta => 'Review submission'
              - if can? :destroy, submission
                = link_to 'Delete', submission, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :meta => 'Delete submission'
    %tfoot
      %tr
        %td{ :colspan => 3 }
          = link_to 'New Submission', new_custom_form_submission_path(@form), :class => 'button'
- else
  %p
    There are no submissions.
    = link_to 'Create one?', new_custom_form_submission_path(@form)