- title "#{@submission.custom_form_name} | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to 'Forms', custom_forms_url
    %li
      %span= shorten_words @submission.custom_form_name, 21

= render 'form', :submission => @submission