- title "Submission | #{@submission.custom_form_name} | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to 'Forms', custom_forms_url
    %li= link_to @form.name, edit_custom_form_url(@form)
    %li= link_to 'Submissions', custom_form_submissions_url(@form)
    %li
      %span= shorten_words(@submission.user_profile_display_name, 21)

.submission
  .sidebar
    .submitter
      %h2 Submitted by
      %a{ href: user_profile_url(@submission.user_profile, subdomain: "www") }
        = image_tag @submission.user_profile_avatar_url(:tiny), class: 'avatar'
        = @submission.user_profile_display_name
  - if @submission.answers.size > 0
    .questions
      %h2 Question Answers
      %dl
        - @submission.answers.each do |answer|
          %dt= answer.question_body
          %dd= format_content answer.body

  - if can? :destroy, @submission
    %p.submit
      = link_to 'Delete Submission', @submission, confirm: 'Are you sure?', method: :delete, class: 'button'
