= javascript_include_tag "subscriptions"

- title 'Edit Subscription'

#body
  %h1 Subscriptions#edit

  #stripe_error

  = simple_form_for @community, url: subscription_url(@community), html: {novalidate: true, id: "edit_subscription"} do |f|
    %h2=@community.name
    = hidden_field_tag :stripe_card_token
    = f.association :community_plan, :collection => @available_plans, :prompt => "Choose a Plan", as: :radio_buttons
    = f.simple_fields_for :current_community_upgrades do |cuf|
      .community_upgrade
        =cuf.input :community_upgrade_id, as: :hidden
        .upgrade_information
          %h3=cuf.object.community_upgrade.title
          .description=cuf.object.community_upgrade.description
          .cost="#{number_to_currency(cuf.object.community_upgrade.price_per_month_in_dollars)} per upgrade."
        -if cuf.object.persisted?
          =cuf.input :number_in_use, collection: 1..(cuf.object.community_upgrade.max_number_of_upgrades), include_blank: false, label: "Number of upgrades"
          =cuf.input :_destroy, as: :boolean, label: "Remove this upgrade"
          .current_cost="Current Cost: #{number_to_currency(cuf.object.total_price_per_month_in_dollars)}"
        -else
          =cuf.input :number_in_use, collection: 0..(cuf.object.community_upgrade.max_number_of_upgrades), include_blank: false, label: "Number of upgrades"
    %hr
    - if @stripe_card_token.present? or current_user.stripe_customer_token.present?
      - # TODO Should add the abillity to change payment method.
      Credit card has been provided
    - else
      = render partial: 'credit_card_form'
    %p.submit
      = f.button :submit, 'Update Subscription'