- title 'Edit Subscription'

- card_is_present = (@stripe_card_token.present? or current_user.stripe_customer_token.present?)

- content_for :header do
  %meta{ name: "stripe-key", content: STRIPE_PUBLIC_KEY }
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "subscriptions"
  = stylesheet_link_tag "top_level/subscriptions"

#body
  %h1= "Subscription for \"#{shorten_words @community.name}\""

  - if @invoice.errors.any?
    = @invoice.errors.messages.to_yaml
    - @invoice.invoice_items.each do |ii|
      = ii.errors.messages.to_yaml if ii.errors.any?

  = simple_form_for @invoice, url: subscription_url(@community, subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), method: :put, html: {novalidate: true, id: "form_with_subscription"} do |f|
    %fieldset
      = hidden_field_tag :stripe_card_token
      %ol
        %li.plans
          =f.simple_fields_for :invoice_items, @current_plan_invoice_item do |sf|
            =sf.input :community_id, as: :hidden
            =sf.input :item_type, as: :hidden
            =sf.input :quantity, as: :hidden
            =sf.input :item_id, as: :radio, collection: @available_plans, label: "Plan"
          %hr

      = render "communities/population", community: @community
      #upgrades.section
        %h1 Upgrades
        %ol
          =f.simple_fields_for :invoice_items, @all_upgrades_invoice_items do |sf|
            =sf.input :community_id, as: :hidden
            =sf.input :item_type, as: :hidden
            =sf.input :item_id, as: :hidden
            =sf.input :quantity
          %hr

      #cc_input.section{ class: card_is_present ? '' : 'show_fields' }
        %h1 Payment

        - if card_is_present
          %p
            Your card information is on file.
            %br
            = link_to 'Enter new card info?', 'javascript:;', class: 'newcard'
            = link_to 'Use card on file', 'javascript:;', class: 'onfile'

        - else
          %fieldset{ id: 'cc_fields', class: card_is_present ? 'hide' : '' }
            %ol
              %li
                = label_tag :card_name, "Name on Card "
                = text_field_tag :card_name, nil, name: nil
              %li
                = label_tag :card_number, "Card Number "
                = text_field_tag :card_number, nil, name: nil
              %li.selects
                %label Card Expiration
                .select{ id: 'card_exp_month', class: 'month', data: {placeholder: 'Month'} }
                  %ul
                    - (1..12).each do |m|
                      %li
                        %input{ type: 'radio', name: 'card_month', id: "card_exp_month_#{m}", value: m }
                        %label{ for: "card_exp_month_#{m}" }= Date::MONTHNAMES[m]
                .select{ id: 'card_exp_year', class: 'year', data: {placeholder: 'Year'} }
                  %ul
                    - (Date.today.year .. Date.today.year+15).each do |y|
                      %li
                        %input{ type: 'radio', name: 'card_year', id: "card_exp_year_#{y}", value: y }
                        %label{ for: "card_exp_year_#{y}" }= y
              %li
                = label_tag :card_cvc, "Security Code"
                = text_field_tag :card_cvc, nil, name: nil, style: 'width: 100px'
                %dfn.hint 3 or 4 digit number on the back of your card
              %li
                = label_tag :card_address_zip, "Billing Zip/Postal Code"
                = text_field_tag :card_address_zip, nil, name: nil, style: 'width: 150px'

      %p.submit
        = f.button :submit, 'Update Subscription'