- title 'Edit Subscription'

- content_for :header do
  %meta{ name: "stripe-key", content: STRIPE_PUBLIC_KEY }
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "subscriptions"
  = stylesheet_link_tag "top_level/subscriptions"

#body
  %h1= "Subscription for \"#{shorten_words @community.name}\""
  = render "communities/population", community: @community

  = simple_form_for @community, url: subscription_url(@community, subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), html: {novalidate: true, id: "form_with_subscription"} do |f|
    = render 'fields', f: f, community: @community, available_plans: @available_plans, stripe_card_token: @stripe_card_token
    %p.submit
      = f.button :submit, 'Update Subscription'