- title 'Subscriptions'

%h1 Subscriptions

= render 'shared/subscriptions_submenu', current: 'subscriptions'

- if @owned_communities.size > 0
  %table
    %thead
      %tr
        %th Community Name
        %th Current Plan
        %th Next Cycle
        %th Cost
    %tbody
      - @owned_communities.each do |community|
        - recurring = @invoice.plan_invoice_item_for_community(community)
        %tr
          %td= link_to shorten_words(community.name, 21), edit_subscription_path(community)
          %td.nowrap
            = community.current_community_plan_title
          %td.nowrap
            = community.recurring_community_plan_title
            %time
              = recurring.start_date.strftime '%b %e, %Y'
              &mdash;
              = recurring.end_date.strftime '%b %e, %Y'
          %td.r= number_to_currency(@invoice.total_recurring_price_per_month_in_dollars(community))
    %tfoot
      %tr
        %td.r{ colspan: 3 }
          Recurring Monthly Cost:
          %br
          Your Next Bill:
        %td.r
          = number_to_currency(current_user.total_recurring_price_per_month_in_dollars)
          %br
          = $x
  %p.r
    = link_to 'View Statement', current_user.invoices.last, meta: 'Current statement', class: 'button'

- else
  %p You don't have any active subscriptions.