- title 'Subscriptions'

#body
  %h1 Subscriptions

  #submenu
    = link_to 'Add a Community', new_community_url, class: 'button'

  - if @owned_communities.size > 0
    %table
      %thead
        %tr
          %th Community Name
          %th Current Plan
          %th Recurring Plan
          %th Cost
          %th.actions
      %tbody
        - @owned_communities.each do |community|
          %tr
            %td= link_to shorten_words(community.name, 21), edit_subscription_path(community)
            %td= community.current_community_plan_title
            %td= community.recurring_community_plan_title
            %td.r= number_to_currency(current_user.total_recurring_price_per_month_in_dollars(community))
            %td.actions
              %div
                = link_to 'View', root_url(subdomain: community.subdomain), meta: 'View Community', class: 'view'
                = link_to 'Edit', edit_subscription_path(community), meta: 'Edit Subscription', class: 'edit'
      %tfoot
        %tr
          %td.r{ colspan: 3 } Monthly Total
          %td.r= number_to_currency(current_user.total_recurring_price_per_month_in_dollars)
          %td
  - else
    %p You don't have any active subscriptions.