- title 'Subscriptions'

#body
  %h1 Subscriptions#index
  -if @owned_communities.size > 0
    %table
      %thead
        %tr
          %th Name
          %th Plan
          %th Cost
          %th.actions
      %tbody
        - @owned_communities.each do |community|
          %tr
            %td
              = link_to shorten_words(community.name, 21), community
            %td
              = community.community_plan_title
            %td
              = number_to_currency(community.total_price_per_month_in_dollars)
            %td.actions
              %div
                = link_to 'Edit', edit_subscription_path(community), meta: 'Edit community plan', class: 'edit'
      %tfoot
        %tr
          %td{ colspan: 4 }
            = "Total #{number_to_currency(@user.total_price_per_month_in_dollars)}"