- title 'Sign in'

#body
  %h1 Login to Guild.io&trade;

  = simple_form_for(resource, as: resource_name, url: session_url(resource_name, subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://"))) do |f|
    %fieldset
      %ol
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean
        %li
          %button{ type: 'submit' } Login

  = render "devise/shared/links"
