= form_for(@game_announcement) do |f|
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :game_id
    = f.collection_select(:game_id, Game.where("is_active = ?", true), :id, :name, options ={:prompt => "Select a game"}, :class =>"game")
  %p.field
    = f.label :body
    = f.text_area :body
  %p{ :class => 'field checkbox' }
    = f.label :comments_enabled, (f.check_box :comments_enabled) + 'Enable comments?'
  = submit_or_cancel(f)