%p#bcrumb
  = link_to 'Announcements', :announcements
  %span Game Announcements

%h1 Game Announcements

%table
  - if @game_announcements.size > 0
    %thead
      %tr
        %th.amount Comments
        %th.name Title
        %th.text Message
        %th.actions
    %tbody
      - @game_announcements.each do |announcement|
        - if current_user.can_show(announcement)
          %tr
            %td.amount= announcement.comments.size > 0 ? announcements.comments.size : 'None'
            %td.name= link_to announcement.name, announcement
            %td.text= announcement.body
            %td.actions
              - if current_user.can_update(announcement)
                = link_to 'Edit', edit_announcement_path(announcement), :class => 'edit', :title => 'Edit'
              - if current_user.can_delete(announcement)
                = link_to 'Delete', announcement, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 4 } There are no game announcements.
  %tfoot
    %tr
      %td{ :colspan => 4 }
        - if logged_in? and current_user.can_create('GameAnnouncement')
          = link_to 'New Announcement', new_game_announcement_path, :class => 'button'
