%table
  %thead
    %tr
      %th.cinch{ colspan: 2 } Invitee List
      %th Has seen it?
      %th RSVP
      %th.actions
  %tbody
    - invites.each do |invite|
      %tr
        %td.cinch
          = image_tag invite.invitee_avatar_url(:icon), alt: invite.invitee_name, class: 'avatar icon'
        %td
          = link_to invite.invitee_name, invite.user_profile
        %td
          = invite.is_viewed ? 'Yes' : '—'
        %td
          = invite.status ||= '—'
        %td.actions
          %div
            -if can? :update, invite
              = link_to 'Update', edit_invite_url(invite), class: 'edit', meta: 'Update your RSVP'
  %tfoot
    %tr
      %td{ colspan: 5 }