- title "RSVP | #{@invite.event_name} | Events | #{@community.name}"

#breadcrumb
  %ol
    %li= link_to "Events", events_url
    %li= link_to shorten_words(@invite.event_name, 21), event_url(@invite.event)
    %li
      %span RSVP

#actions.actions
  = link_to "Event Details", event_url(@invite.event), meta: 'Event details & comments', class: 'event'
  = link_to "Attendee List", invites_event_url(@invite.event), meta: 'View other invitees', class: 'invitees'
  - if can? :update, @event
    = link_to 'Edit', edit_event_url(@event), meta: 'Edit event', class: 'edit'
  - if can? :destroy, @event
    = link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete, meta: 'Remove event', class: 'delete'

%article.event
  %h1= "RSVP to #{shorten_words @invite.event_name}"
  .meta
    = image_tag @invite.invitee_avatar_url(:small), class: 'avatar'
    You have been invited as
    %strong= @invite.invitee_name
    %time.event
      %strong.day= l @invite.event_start_time, format: :date_short
      at
      %strong.time= l @invite.event_start_time, format: :time_12
      = '—'
      - unless @invite.event_start_time.day == @invite.event_end_time.day
        %strong.day= l @invite.event_end_time, format: :date_short
        at
      %strong.time= l @invite.event_end_time, format: :time_12

  = render 'form', invite: @invite