%h1 Listing roles
%h2=current_community.roles
%h2="HERP #{can? :view, @community.roles.first}"
- if @roles and @roles.size > 0
  %table
    %tr
      %th Community
      %th Name
      %th System generated
      %th
      %th
      %th
    - @roles.each do |role|
      %tr
        %td= role.community_id
        %td= role.name
        %td= role.system_generated
        %td= link_to_if (can? :show, role), 'Show', role
        %td= link_to_if (can? :update, role), 'Edit', edit_role_path(role)
        %td= link_to_if (can? :destroy, role), 'Destroy', role, :confirm => 'Are you sure?', :method => :delete
%br
= link_to_if (can? :create, @community.roles.new), 'New Role', new_role_path
