= form_for([@comment], :remote => true) do |f|
  = hidden_field(:comment, :character_proxy_id)
  = hidden_field(:comment, :user_profile_id)
  = hidden_field(:comment, :commentable_id)
  = hidden_field(:comment, :commentable_type)
  = hidden_field(:comment, :form_target)
  = hidden_field(:comment, :comment_target)
  .field
    = f.text_area :body, { :title => 'Comment text' }
  .actions
    = f.submit 'Comment'
    = link_to 'Cancel', '#', :onClick => "$($('#new_comment').data('form_link')).show(); $('#new_comment').hide(); return false;"