<%= form_for(@discussion_space) do |f| %>
  <% if @discussion_space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion_space.errors.count, "error") %> prohibited this discussion_space from being saved:</h2>

      <ul>
      <% @discussion_space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :system %><br />
    <%= f.check_box :system %>
  </div>
  <div class="actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>
