= form_for @discussion_space do |f|
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :game_id, 'For'
    = f.select(:game_id, grouped_options_for_select(@option_hash), :include_blank => 'General Discussion', :class =>"game")
  = submit_or_cancel(f, 'Create')