= div_for discussion do
  = link_to 'All Applications', registration_applications_path
  .discussion_body= discussion.body
  %span.actions
  %h2 Comments
  .comments
    -if discussion.comments.size > 0
      %ol
        - discussion.comments.each do  |comment|
          = render comment
  .reply
    %h2 Leave a Comment
    %p= link_to 'New Comment', new_comment_path(:format => :js, :commentable_id => discussion.id, :commentable_type => discussion.class, :form_target => '#discussion_' + discussion.id.to_s + ' .reply', :comment_target => '#discussion_' + discussion.id.to_s + ' .comments'), :remote => true, :class => 'new_comment_link'

