%h1 Discussion Spaces

%table
  - if @discussion_spaces.size > 0
    %thead
      %tr
        %th.amount Discussions
        %th.name Name
        %th.actions
    %tbody
      - @discussion_spaces.each do |discussion_space|
        - if current_user.can_show(discussion_space)
          %tr
            %td.amount= discussion_space.discussions.size if discussion_space.discussions.size > 0
            %td.name= link_to discussion_space.name, discussion_space
            %td.actions
              - if current_user.can_update(discussion_space)
                = link_to 'Edit', edit_discussion_space_path(discussion_space), :class => 'edit', :title => 'Edit'
              - if current_user.can_delete(discussion_space)
                = link_to 'Delete', discussion_space, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 3 } There are no discussion spaces yet.
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if logged_in? and current_user.can_create("DiscussionSpace")
          = link_to 'New Space', new_discussion_space_path, :class => 'button'
