%h1 Discussions
%table
  %tbody
    - @discussion_spaces.each do |discussion_space|
      %tr
        %td.amount= discussion_space.discussions.size if discussion_space.discussions.size > 0
        %td.edit
          = link_to 'Edit', edit_discussion_space_path(discussion_space), :class => 'edit', :title => 'Edit' if current_user.can_update(discussion_space)
          = link_to 'Delete', discussion_space, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete' if current_user.can_delete(discussion_space)
        %td.name= link_to discussion_space.name, discussion_space if current_user.can_show(discussion_space)
  %thead
    %tr
      %th.amount #
      %th.edit
      %th.name Name
  %tfoot
    - if current_user.can_create("DiscussionSpace")
      %tr
        %th{ :colspan => 2 }
          = link_to( 'New Space', new_discussion_space_path)
        %td
    - else
      %th{ :colspan => 3 }
