<h1>Listing discussion_spaces</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussion_spaces.each do |discussion_space| %>
  <tr>
    <td><%= discussion_space.name %></td>
    <td><%= !discussion_space.system %></td>
    <td><%= current_user.can_show(discussion_space) ? link_to( 'Show', discussion_space) : "No Show Permissions" %></td>
    <td><%= current_user.can_update(discussion_space) ? link_to( 'Edit', edit_discussion_space_path(discussion_space)) : "No Edit Permissions" %></td>
    <td><%= current_user.can_delete(discussion_space) ? link_to( 'Delete', discussion_space, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions" %></td>
  </tr>
<% end %>
</table>

<br />

<%= current_user.can_create("DiscussionSpace") ? link_to( 'New Discussion Space', new_discussion_space_path) : "No Create Permissions" %>
