%p#bcrumb
  = link_to 'Discussion Spaces', discussion_spaces_path
  %span= @discussion_space.name

#page
  %h1= @discussion_space.name
  
  %p#actions
    - if logged_in? and current_user.can_update(@discussion_space)
      = link_to 'Edit', edit_discussion_space_path(@discussion_space), :class => 'edit', :title => 'Edit'
    - if logged_in? and current_user.can_delete(@discussion_space)
      = link_to 'Delete', @discussion_space, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  
  %table
    - if @discussion_space.discussions.size > 0
      %thead
        %tr
          %th.amount Comments
          %th.name Discussion
          %th.edit
      %tbody
        - @discussion_space.discussions.each do |discussion|
          %tr
            %td.amount= discussion.comments.size if discussion.comments.size > 0
            %td.name
              = link_to discussion.name, discussion
            %td.edit
              - if current_user.can_update(discussion)
                = link_to 'Edit', edit_discussion_path(discussion), :class => 'edit', :title => 'Edit'
              - if current_user.can_delete(@discussion_space)
                = link_to 'Delete', discussion, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
    - else
      %tr
        %td{ :colspan => 3 } This discussion space has no active discussions.
    %tfoot
      %tr
        %td{ :colspan => 3 }
          - if logged_in? and current_user.can_create("DiscussionSpace")
            = link_to 'Add New', new_discussion_space_discussion_path(@discussion_space), :class => 'button', :title => 'Add a new discussion page'