<h1>Management</h1>
<td><%= link_to 'Applications', registration_applications_path %></td>
<br />
<td><%= link_to 'Users', management_users_path %></td>
<br />
<td><%= link_to 'Games', management_games_path %></td>
<br />
<td><%= link_to 'Roles', management_roles_path %></td>
<br />
<td><%= link_to 'Newsletters', management_newsletters_path %></td>
<br />
<td><%= link_to 'Page Spaces', management_page_spaces_path %></td>
<br />
<td><%= link_to 'Discussion Spaces', management_discussion_spaces_path %></td>
<br />
<td><%= link_to 'Themes', management_themes_path %></td>
<br />
<td><%= link_to 'TeamSpeak', management_teamspeaks_path %></td>
<br />
<td><%= link_to 'Forms', management_site_forms_path %></td>
