.acceptedcards
  %h2 Accepted Cards
  %ul
    %li
      = image_tag 'application/card-visa@48.png'
      Visa
    %li
      = image_tag 'application/card-mastercard@48.png'
      MasterCard
    %li
      = image_tag 'application/card-americanexpress@48.png'
      American Express
    %li
      = image_tag 'application/card-discover@48.png'
      Discover
    %li
      = image_tag 'application/card-jcb@48.png'
      JCB
    %li
      = image_tag 'application/card-dinersclub@48.png'
      Diners Club