%li
  = label_tag :card_name, "Name on Card "
  = text_field_tag :card_name, nil, name: nil

%li
  = label_tag :card_number, "Card Number "
  = text_field_tag :card_number, nil, name: nil

%li.selects
  %label Card Expiration
  .select{ id: 'card_exp_month', class: 'month', data: {placeholder: 'Month'} }
    %ul
      - (1..12).each do |m|
        %li
          %input{ type: 'radio', name: 'card_month', id: "card_exp_month_#{m}", value: m }
          %label{ for: "card_exp_month_#{m}" }= Date::MONTHNAMES[m]
  .select{ id: 'card_exp_year', class: 'year', data: {placeholder: 'Year'} }
    %ul
      - (Date.today.year .. Date.today.year+15).each do |y|
        %li
          %input{ type: 'radio', name: 'card_year', id: "card_exp_year_#{y}", value: y }
          %label{ for: "card_exp_year_#{y}" }= y

%li
  = label_tag :card_cvc, "Security Code"
  = text_field_tag :card_cvc, nil, name: nil, style: 'width: 100px'
  %dfn.hint 3 or 4 digit number on the back of your card

%li
  = label_tag :card_address, "Billing Address"
  = text_field_tag :card_address, nil, name: nil

%li
  = label_tag :card_city, "City"
  = text_field_tag :card_city, nil, name: nil

%li
  = label_tag :card_zip, "State / Zip"

  .select{ data: {placeholder: 'State'}, style: 'float: left; margin-right: 22px; width: 200px' }
    %ul
      - us_states.each do |state|
        %li
          = radio_button_tag "card_state", state[1], false
          = label_tag "card_state_#{state[1]}", state[0]

  = text_field_tag :card_zip, nil, name: nil, style: 'float: left; width: 150px', placeholder: 'Zip/Postal Code'

  %br