= form_for @page do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :markup
    = f.text_area :markup
  .field
    = f.label :show_in_navigation
    = f.check_box :show_in_navigation
  .actions
    = f.submit 'Save'
