- title "Editing Page | #{@community.name}"

= javascript_include_tag "Markdown.Converter","Markdown.Sanitizer","Markdown.Editor"
= stylesheet_link_tag "application/fluid"

%h1 Editing Page

.sidemenu
  #wmd-button-bar

.full
  = simple_form_for @page do |f|
    = render 'fields', :page => @page, :f => f
  #wmd-preview{ :class => "wmd-panel" "wmd-preview" }

:javascript
  (function () {
    $('body').addClass('fluid')

    var help = function () { alert("Do you need help?"); }

    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1, "", { handler: help });
    
    /*
    editor1.hooks.set("insertImageDialog", function (callback) {
      alert("Please click okay to start scanning your brain...");
      setTimeout(function () {
        var prompt = "We have detected that you like cats. Do you want to insert an image of a cat?";
        if (confirm(prompt))
          callback("http://icanhascheezburger.files.wordpress.com/2007/06/schrodingers-lolcat1.jpg")
        else
          callback(null);
      }, 2000);
      return true; // tell the editor that we'll take care of getting the image url
    });
    */

    editor1.run();
  })();