%h1 Listing pages

%table
  %tr
    %th Name
    %th Body
    %th Character proxy
    %th User profile
    %th Page space
    %th Show in navigation
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.name
      %td= page.body
      %td= page.character_proxy_id
      %td= page.user_profile_id
      %td= page.page_space_id
      %td= page.show_in_navigation
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Page', new_page_path
