- title "#{@page.name} | #{@page.page_space_name} | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to "Page Spaces", page_spaces_path
    %li= link_to shorten_words(@page.page_space_name, 21), @page.page_space
    %li
      %span= shorten_words @page.name, 21

#actions.actions
  - if (can? :update, @page)
    = link_to 'Edit', edit_page_path(@page), meta: 'Edit page', class: 'edit'
  - if (can? :destroy, @page)
    = link_to 'Destroy', @page, confirm: 'Are you sure?', method: :delete, meta: 'Remove page', class: 'delete'

%section
  %h1= shorten_words @page.name, 21
  = @page.body