%p
  %strong Hello #{@user_profile.display_name},
%p
  #{@acknowledgement.poster_display_name} created a new #{@acknowledgement.community_name} announcement on Tabard&trade;!
%hr

%font{ color: '#333' }
  %h2
    #{@acknowledgement.announcement_name}

%hr
%p Checkout the complete announcement here:
%p= link_to 'View Announcement', @url, style: 'color: #BE4124'