%h2
  %font{ color: '#333' } Hello #{@user_profile.display_name},
%p
  - if @message_association.is_system_sent
    You have a new message on Tabard!
  - else
    #{@message_association.author_name} sent you a message on Tabard!
%hr

%font{ color: '#333' }
  %h2 #{@message_association.subject}

%p
  %strong= link_to 'View Message on Tabard', mail_url(@message_association), style: 'color: #BE4124'

%hr
- if @message_association.is_system_sent
  :markdown
    #{@message_association.body}
- else
  = simple_format @message_association.body