= javascript_include_tag "custom_forms"
= simple_form_for custom_form do |f|
  %fieldset
    %ol
      = f.input :name
      = f.input :instructions, :wrapper_html => { :class => 'instructions' }
      = f.input :thankyou, :label => 'Thank you message', :hint => 'This message will be displayed to users upon submission of the form.'
    %h2 Questions
    - if custom_form.questions.any?
      %ul.questions
        - custom_form.questions.each do |question|
          = render 'question', :f => f, :question => question
      %p.add
        = add_question_link 'Add a question', f
    - else
      %ul.questions
      %p.add
        This form has no questions.
        = (add_question_link 'Add a question', f) + '.'
    %p.submit
      %button{ :type => 'submit' }= custom_form.persisted? ? 'Save Form' : 'Create Form'