- content_for :footer do
  = javascript_include_tag "custom_forms"

= simple_form_for custom_form, html: {novalidate: true, class: 'custom_form'} do |f|
  %fieldset
    %ol
      = f.input :name, input_html: { maxlength: CustomForm::MAX_NAME_LENGTH }
      = f.input :thankyou, as: :text, label: 'Thank you message', hint: "Displayed to applicants after they submit the form. Max #{CustomForm::MAX_THANKYOU_LENGTH} characters.", wrapper_html: { class: 'thankyou' }, input_html: { maxlength: CustomForm::MAX_THANKYOU_LENGTH }
      = f.input :instructions, hint: "Displayed in the sidebar to the right of the form. Max #{CustomForm::MAX_INSTRUCTIONS_LENGTH} characters.", wrapper_html: { class: 'instructions' }, input_html: { maxlength: CustomForm::MAX_INSTRUCTIONS_LENGTH }
      = f.input :is_published, label: 'Publish this form?' unless custom_form == current_community.community_application_form
    %h2 Questions
    %ul.questions
      - if custom_form.questions.any?
        - custom_form.questions.each_with_index do |question,q|
          = render 'question', f: f, question: question, q: q
    %p.add
      = add_question_link 'Add a question', f
    %p.submit
      %button{ type: 'submit' }= custom_form.persisted? ? 'Save Form' : 'Create Form'