- title "Editing Custom Form | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to 'Custom Forms', custom_forms_url
    %li
      %span= "Editing \"#{@custom_form.name}\""

%h1= @custom_form.application_form? ? "Editing Community Application Form" : "Editing Custom Form"

= render 'form', :custom_form => @custom_form