- title "Custom Forms | #{current_community.name}"
%h1 Custom Forms

%table
  %thead
    %tr
      %th Name
      %th Instructions
      %th Submissions
      %th 
  %tbody
    - @custom_forms.each do |custom_form|
      %tr
        %td.cinch= link_to custom_form.name, custom_form.application_form? ? new_community_application_path : custom_form
        %td= custom_form.instructions
        %td= custom_form.submissions.size
        %td.actions
          %div
            - if can? :update, custom_form
              = link_to 'Edit', edit_custom_form_path(custom_form), :class => 'edit', :meta => 'Edit form'
            - if can? :delete, custom_form
              = link_to 'Destroy', custom_form, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :meta => 'Delete form'
  %tfoot
    %tr
      %td{ :colspan => 4 }= link_to 'New form', new_custom_form_path, :class => 'button'