- title "Custom Forms | #{current_community.name}"
%h1 Custom Forms

%table
  %thead
    %tr
      %th Name
      %th Instructions
      %th
  %tbody
    - @custom_forms.each do |custom_form|
      %tr
        %td.cinch= link_to custom_form.name, custom_form.application_form? ? new_community_application_path : new_custom_form_submission_path(custom_form)
        %td= custom_form.instructions
        %td.actions
          %div
            - if can? :update, custom_form
              = link_to 'Edit', edit_custom_form_path(custom_form), :class => 'edit', :meta => 'Edit form'
            - if can? :view_submissions, custom_form and custom_form.submissions.any?
              = link_to 'Submissions', custom_form_submissions_path(custom_form), :class => 'submission', :meta => pluralize(custom_form.submissions.size,'submission')
            - if can? :delete, custom_form
              = link_to 'Destroy', custom_form, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :meta => 'Delete form'
  %tfoot
    %tr
      %td{ :colspan => 4 }
        - if (can? :create, current_community.custom_forms.new)
          = link_to 'New form', new_custom_form_path, :class => 'button'
