%p#notice= notice

%p
  %b Name:
  = @custom_form.name
%p
  %b Message:
  = @custom_form.message
%p
  %b Thankyou:
  = @custom_form.thankyou
%p
  %b Community:
  = @custom_form.community_id

= link_to 'Edit', edit_custom_form_path(@custom_form)
\|
= link_to 'Back', custom_forms_path
