<%= form_for(@registration_application) do |application| %>
  <% if @registration_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_application.errors.count, "error") %> prohibited this registration_application from being saved:</h2>

      <ul>
      <% @registration_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<%= fields_for :user do |user| %>
		<div class="field">
	    <%= user.label :email %><br />
	    <%= user.text_field :email %>
	  </div>
	  <div class="field">
	    <%= user.label :password %><br />
	    <%= user.password_field :password %>
	  </div>
	  <div class="field">
	    <%= user.label :password_confirmation %><br />
	    <%= user.password_field :password_confirmation %>
	  </div>
	<% end %>
  
  <%= fields_for :user_profile do |profile| %>
	  <div class="field">
	    <%= profile.label :name %><br />
	    <%= profile.text_field :name %>
	  </div>
	<% end %>
	
	
	<% if @form != nil %>
	 <% @form.questions.each do |question|  %>
	   <%= render :partial => question, :locals => {:application => application} %>
	 <% end %>
	<% end %>

  <div class="actions">
    <%= application.submit %>
  </div>
<% end %>
