<%= form_for(@registration_application) do |f| %>
  <% if @registration_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_application.errors.count, "error") %> prohibited this registration_application from being saved:</h2>

      <ul>
      <% @registration_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render 'users/form' %>
  
  <%= render 'game_profiles/form' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
