-#= fields_for :user_profile do |profile|
= semantic_form_for :user_profile do |profile|
  = profile.inputs do
    = profile.input :name
    = image_tag(@profile.avatar_url) if @profile.avatar?
    = profile.input :avatar, :as => 'file'
    -#= profile.hidden :avatar_cache
    = profile.input :remove_avatar, :as => 'boolean'

= semantic_form_for :user do |user|
  = user.inputs do
    = user.input :email
    = user.input :password, :as => 'password'
    = user.input :password_confirmation, :as => 'password'