= simple_fields_for @profile do |profile|
  = hidden_field_tag 'user_profile_avatar_cache', @profile.avatar_cache
  %fieldset
    %ol
      = profile.input :name
      = profile.input :avatar, :as => 'file', :hint => (image_tag @profile.avatar_url if @profile.avatar?)
      = profile.input :remove_avatar, :as => 'boolean' if @profile.avatar?
      = simple_fields_for @user do |user|
        = user.input :email
        = user.input :password, :as => 'password'
        = user.input :password_confirmation, :as => 'password', :title => 'Confirm password'
        