- if @wowCharacters or @swtorCharacters
  %ul#characters
    - if @wowCharacters
      - @wowCharacters.each do |character|
        %li
          - @character = character
          = fields_for :wow_character, @character, :index => Time.now.to_f.to_s do |f|
            = render :file => 'wow_characters/_form_fields.html.haml', :locals => { :f => f }
    - if @swtorCharacters
      - @swtorCharacters.each do |character|
        %li
          - @character = character
          = fields_for :swtor_character, @character, :index => Time.now.to_f.to_s do |f|
            = render :file => 'swtor_characters/_form_fields.html.haml', :locals => { :f => f }

- if @games
  %p
    - @games.each do |game|
      = link_to "New #{game.type} Character", new_base_character_path(:format => :js, :game => {:game_id => game.id}), :remote => true, :class => 'button'