= fields_for :user_profile do |profile|
  .medium
    %p.field
      = profile.label :name
      = profile.text_field :name, :value => @profile.name
    %p.field
      = profile.label :avatar, "Avatar"
      = image_tag(@profile.avatar_url) if @profile.avatar?
      = profile.file_field :avatar
      = profile.hidden_field :avatar_cache

= fields_for :user do |user|
  .medium
    %p.field
      = user.label :email
      = user.text_field :email
    %p.field
      %span.half
        = user.label :password
        = user.password_field :password
      %span.half
        = user.label :password_confirmation
        = user.password_field :password_confirmation