%p#bcrumb
  = link_to 'Crumblin', root_url(:subdomain => false)
  %span My Account

#page
  %p#actions
    - if logged_in? and current_user.can_update(@account)
      = link_to 'Edit account details', edit_account_path(@account), :class => 'edit', :title => 'Edit account details'

  %h1= "#{current_user.name}"

  %dl.tabs

    %dt{ :class => 'active activity' } Activity Stream
    %dd{ :class => 'active activity' }

    %dt.communities My Communities
    %dd.communities
      %table
        - if current_user.communities.size > 0
          %thead
            %tr
              %th.name Name
              %th.slogan Slogan
              %th.size Members
          %tbody
            - current_user.communities.each do |community|
              %tr
                %td= link_to community.display_name, root_url(:subdomain => community.subdomain)
                %td= community.slogan
                %td= community.all_users.size
        - else
          %tbody
            %tr
              %td.empty{ :colspan => 3 } You are not a member of any communities.
      %p
        = link_to 'Find a Community', communities_path, :class => "button"
        or
        = link_to 'Create a New Community', new_community_path

    %dt.characters My Characters
    %dd.characters
      = form_tag(edit_account_path, :method => "put", :multipart => true) do |f|
        = render :partial => 'form_characters', :locals => {:f => f}

    %dt{ :class => 'settings' + (params[:tab] == 'settings' or @settings_tabs_active ? ' active' : '') } Account Settings
    %dd{ :class => 'settings' + (params[:tab] == 'settings' or @settings_tabs_active ? ' active' : '') }
      = form_tag(edit_account_path, :method => "put", :multipart => true) do |f|
        = render :partial => 'form_account'
        %p.submit= submit_tag('Save Changes')
