%p#bcrumb
  = link_to 'Crumblin', root_url(:subdomain => false)
  %span My Account

#page
  %p#actions
    - if logged_in? and current_user.can_update(@account)
      = link_to 'Edit account details', edit_account_path(@account), :class => 'edit', :title => 'Edit account details'
  
  %h1= "#{current_user.name}"
  
  %dl.tabs
  
    %dt{ :class => 'active activity' } Activity Stream
    %dd{ :class => 'active activity' }
    
    %dt.communities My Communities
    %dd.communities
      
    
    %dt.characters My Characters
    %dd.characters
      = form_tag(edit_account_path, :method => "put", :multipart => true) do |f|
        = render :partial => 'form_characters', :locals => {:f => f}
    
    %dt{ :class => 'settings' + (params[:tab] == 'settings' ? ' active' : '') } Account Settings
    %dd{ :class => 'settings' + (params[:tab] == 'settings' ? ' active' : '') }
      = form_tag(edit_account_path, :method => "put", :multipart => true) do |f|
        = render :partial => 'form_account', :locals => {:f => f}
        %p= submit_tag('Save Changes')