= f.input :name, input_html: { maxlength: SwtorCharacter::MAX_NAME_LENGTH }
= f.input :server_name, as: :radio_buttons, label: 'Server', required: true, collection: Swtor.server_names, wrapper_html: { class: 'select with-label' }
= f.input :advanced_class, as: :radio_buttons, label: 'Class', collection: SwtorCharacter.all_advanced_classes, wrapper_html: { class: 'select with-label', affects: 'species' }
= render partial: 'shared/affected_dropdown', locals: { f: f, affected_by: 'advanced_class', affected_by_value: character.advanced_class, label: 'Species', field: 'species', field_value: character.species, collection: SwtorCharacter.species_class_collection }
= f.input :level, as: :string, input_html: { maxlength: 2 }, wrapper_html: { class: 'short' }
= f.input :gender, as: :radio_buttons, required: true, collection: SwtorCharacter::VALID_GENDERS
-#= f.input :about, as: :text, label: 'Optional Description', input_html: { rows: 5 }
%li.avatar{ class: object_has_avatar_errors(f.object) ? 'with-errors' : '' }
  - if !character.persisted? or !character.avatar_url.to_s or f.object.errors.any?
    = image_tag 'avatars/avatar@240.png', width: 240, height: 240
  - else
    = image_tag character.avatar_url(:large), width: 240, height: 240
  = f.input :remove_avatar, as: :boolean, label: "Remove avatar", wrapper: false unless character[:avatar].blank?
  %br
  = f.input :avatar, wrapper: false, hint: 'Maxium file size of 2mb. GIF, JPG, PNG.'
  = f.input :remote_avatar_url, label: "or image URL", wrapper: false
