= form_for @single_select_question do |f|
  -if @single_select_question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@single_select_question.errors.count, "error")} prohibited this single_select_question from being saved:"
      %ul
        - @single_select_question.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
