- activities.each do |activity|
  - if activity.target.is_a? Comment
    - if user_signed_in? and current_user.in_community(activity.community).can? :read, activity.target.original_commentable
      = render "activities/comment", comment: activity.target, user_profile: activity.user_profile
    - else
      %li{ class: 'activity', created_at: activity.target.created_at }
        = link_to activity.target.user_profile_display_name, user_profile_url(activity.user_profile, subdomain: 'www', format: :js), remote: true, class: 'profile'
        Posted a
        %strong comment
        - if user_signed_in? and current_user.in_community(activity.community).can? :read, activity.target.original_commentable
          to
          = link_to activity.target.original_commentable_name, activity.target.original_commentable
        - elsif !defined?(community) or activity.community != community
          in
          = link_to shorten_words(activity.target.community_name), root_url(subdomain: activity.target.community_subdomain)
        &mdash;
        %time= "#{time_ago_in_words(activity.created_at)} ago"
  - else
    - partial_name = activity.target_type.gsub(/(.)([A-Z])/,'\1_\2').downcase
    %li{ class: "activity #{partial_name} #{activity.action} #{(user_signed_in? and activity.user_profile == current_user.user_profile ? 'owned' : '')}", created_at: activity.created_at }
      = link_to shorten_words(activity.user_profile_display_name), user_profile_url(activity.user_profile, subdomain: 'www', format: :js), remote: true, class: 'profile'
      = render "activities/#{partial_name}", activity: activity
      &mdash;
      %time= "#{time_ago_in_words(activity.created_at)} ago"