%h1 Activities#index
%p Find me in app/views/activities/index.html.haml

#body
  %ul
    - if @items.size > 0
      - @items.each do |item|
        - if item.is_a?(Comment)
          %li
            = l item.created_at, :format => :date_short
            = ","
            = l item.created_at, :format => :time_12
            = link_to item.user_profile.name, item.user_profile
            = "created comment"
            = truncate item.body, :length => 30, :separator => ' '
            = "— "
            = link_to item.community.name, item.community 
        - elsif item.target.is_a?(CharacterProxy)
          %li
            = l item.created_at, :format => :date_short
            = ","
            = l item.created_at, :format => :time_12
            = link_to item.user_profile.name, item.user_profile
            = item.action
            = link_to item.target.name, item.target.character if item.target.respond_to?(:name)
            = "— " if item.community
            = link_to item.community.name, item.community if item.community
        - else
          %li
            = l item.created_at, :format => :date_short
            = ","
            = l item.created_at, :format => :time_12
            = link_to item.user_profile.name, item.user_profile
            = item.action
            = link_to item.target.name, item.target if item.target.respond_to?(:name)
            = "— " if item.community
            = link_to item.community.name, item.community if item.community      
    - else
      %li
        No recent activity.