- title 'World of Warcraft'

#body
  = render 'communities/submenu'
  %h1= 'World of Warcraft Communities'
  #search
    = form_tag wows_url, :method => 'get' do
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :sort, params[:sort]
      %p
        = text_field_tag :search, params[:search]
        = submit_tag "Search", :name => nil
  - if @communities.any?
    = paginate @communities
    = render "communities/table", :communities => @communities
    = paginate @communities
  -else
    %p
      This game has no active communities.
      - if (can? :create, Community)
        = link_to 'Create a community', new_community_url(:subdomain => false)