%fieldset
  %ol
    - if not f.object.persisted?
      = f.input :name, :input_html => { :maxlength => Community::MAX_NAME_LENGTH }
    = f.input :slogan, :input_html => { :maxlength => Community::MAX_SLOGAN_LENGTH }
    = f.input :is_accepting_members, :label => "Accepting new members?"
    = f.input :email_notice_on_application, :label => "Notify me when an application is submitted."
    = f.input :is_public_roster, :as => :boolean, :label => "Make the community roster public."
    = f.input :is_protected_roster, :as => :boolean, :label => "Roster changes require approval."

- if community.theme
  %h2 Appearance
  %fieldset
    %ol
      = f.simple_fields_for :theme do |af|
        %li
          .select= af.input :predefined_theme, :as => :radio, :wrapper => false, :label => 'Color Scheme', :collection => Theme::VALID_THEMES, :required => true
        %li
          = image_tag(community.theme_background_image_url :thumbnail)
          = af.input :background_image, :as => :file
          = af.input :remote_background_image_url, :as => :string, :label => ' — or a link to an image'