= form_for @community do |f|
  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :slogan
    = f.text_field :slogan
  %p.field
    = f.label :label
    = f.select(:label, options_for_select(Community::acceptable_labels, @community.label))
  %p{ :class => 'field checkbox' }
    = f.label :accepting, (f.check_box :accepting) + 'Accepting new members?'
  = submit_or_cancel(f)
