= form_for community do |f|
  -if community.errors.any?
    #error_explanation
      %h2= "#{pluralize(community.errors.count, "error")} prohibited this community from being saved:"
      %ul
        - community.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slogan
    = f.text_field :slogan
  .field
    = f.label :label
    = f.text_field :label
  .field
    = f.label :accepting_members
    = f.check_box :accepting_members
  .field
    = f.label :email_notice_on_application
    = f.check_box :email_notice_on_application
  .field
    = f.label :subdomain
    = f.text_field :subdomain
  .actions
    = f.submit 'Save'
