%table
  %thead
    %tr
      %th Community
      %th.r Members
      %th.r Characters
      %th.actions
  %tbody
    - communities.each do |community|
      %tr
        %td
          %strong= link_to community.name, community
          %br/
          = "\"#{community.slogan}\"" unless community.slogan.to_s.strip == ""
        %td.r
          = community.community_profiles.size
        %td.r
          = community.get_current_community_roster.size
        %td.actions
          %div= link_to 'Apply', new_community_application_url(:subdomain => community.subdomain), :meta => 'Join this community', :class => 'apply'
  %tfoot
    %tr
      %td{ :colspan => 4 }
        - if (can? :create, Community)
          = link_to 'New Community', new_community_path, :class => 'button primary'