%table
  %thead
    %tr
      %th= sortable 'name', 'Community' if communities.size > 1
      %th
      %th.r Members
      %th.r Characters
      %th.actions
  %tbody
    - communities.each do |community|
      - cache community do
        %tr
          %td
            %strong= link_to shorten_words(community.name), root_url(:subdomain => community.subdomain)
            %br/
            = "\"#{shorten_words community.slogan}\"" unless community.slogan.to_s.strip == ""
          %td.pitch
            - unless community.pitch.to_s.strip == ""
              %p= shorten_words community.pitch
          %td.r
            = community.community_profiles.size
          %td.r
            = community.get_current_community_roster.size
          %td.actions
            %div
              = link_to 'Apply', new_community_application_url(:subdomain => community.subdomain), :meta => 'Apply to this community', :class => 'apply'
  %tfoot
    %tr
      %td{ :colspan => 5 }
        - if (can? :create, Community)
          = link_to 'Create a Community', new_community_path, :class => 'button'
        - else
          = link_to 'Create a Community', new_user_registration_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :class => 'button'