- title "Editing Community"

#body
  %h1= "Editing #{@community.name} Community"

  = simple_form_for @community, :html => {:novalidate => true} do |f|
    = render 'fields', :f => f
    %p.submit
      = f.button :submit, 'Save Changes'  