%p#bcrumb
  = link_to 'Crumblin', root_path(:subdomain => false)
  %span Communities

%h1 Crumblin Communities

%table
  - if @communities.size > 0
    %thead
      %tr
        %th.name Name
        %th.slogan Slogan
        %th.size Members
        %th.accepting Applications
    %tbody
      - @communities.each do |community|
        %tr
          %td= link_to community.display_name, root_url(:subdomain => community.subdomain)
          %td= community.slogan
          %td= community.all_users.size
          %td
            - if community.accepting
              - if !logged_in? or !current_user.is_a_member_of(community)
                = link_to 'Apply Now', new_registration_application_url(:subdomain => community.subdomain), :class => 'button'
              - else
                Currently a Member
            - else
              Private
  - else
    %tbody
      %tr
        %td.empty{ :colspan => 4 } There are no communities.
  -if logged_in?
    %tfoot
      %tr
        %td{ :colspan => 4 }
          = link_to 'Create a New Community', new_community_path, :class => "button"
