%h1 Listing communities

%table
  %tr
    %th Name
    %th Subdomain
    %th Slogan
    %th Label
    %th Accepting

  - @communities.each do |community|
    %tr
      %td= community.name
      %td= community.subdomain
      %td= community.slogan
      %td= community.label
      %td= community.accepting
      %td= link_to 'Show', root_url(:subdomain => community.subdomain)
%br
-if logged_in?
  = link_to 'Create a new Community', new_community_path
