%h1 Listing communities

%table
  %tr
    %th Name
    %th Slogan
    %th Roster Count
    %th Accepting members
    %th Email notice on application
    %th Subdomain
    %th
    %th
    %th

  - @communities.each do |community|
    %tr
      %td= community.name
      %td= community.slogan
      %td= community.get_current_community_roster.size
      %td= community.accepting_members
      %td= community.email_notice_on_application
      %td= community.subdomain
      %td= link_to_if (can? :show, community), 'Show', community
      %td= link_to_if (can? :update, community), 'Edit', edit_community_path(community)
      %td= link_to_if (can? :destroy, community), 'Destroy', community, :confirm => 'Are you sure?', :method => :delete

%br

= link_to_if (can? :create, Community), 'New Community', new_community_path
