%p#bcrumb
  = link_to 'Crumblin', root_path(:subdomain => false)
  %span Communities

%h1 Crumblin Communities

%table
  - if @communities.size > 0
    %thead
      %tr
        %th.name Name
        %th.slogan Slogan
        %th.accepting Applications
    %tbody
      - @communities.each do |community|
        %tr
          %td= link_to community.display_name, community_url(community, :subdomain => community.subdomain)
          %td= community.slogan
          %td
            - if community.accepting
              = link_to 'Apply Now', new_registration_application_url(:subdomain => community.subdomain), :class => 'button'
            - else
              Private
  - else
    %tbody
      %tr
        %td.empty{ :colspan => 3 } There are no communities.
  -if logged_in?
    %tfoot
      %tr
        %td{ :colspan => 3 }
          = link_to 'Create a new Community', new_community_path, :class => "button"