- title "New Community"

- card_on_file = !!@stripe
- card_is_present = (@stripe_card_token.present? or current_user.stripe_customer_token.present?)

- content_for :header do
  %meta{ name: "stripe-key", content: STRIPE_PUBLIC_KEY }
  = stylesheet_link_tag "top_level/subscriptions"

- content_for :footer do
  %script{ type: 'text/javascript' }
    :plain
      var requireConfirmation = true;
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "community_new"

%h1 Create a Community


= simple_form_for @community, html: {novalidate: true, id: "form_with_subscription"} do |f|
  %fieldset
    = hidden_field_tag :stripe_card_token
    %ol
      = f.input :name, label: 'Community name', input_html: {maxlength: Community::MAX_NAME_LENGTH}, wrapper_html: {class: 'community-name'}
      - if ENV["ENABLE_PAYMENT"]
        %li.plans
          - @available_plans.each do |plan|
            %input{ id: "community_plan_#{plan.id}", type: 'radio', name: 'plan_id', value: plan.id, data: {price: plan.price_per_month_in_cents}, checked: plan.price_per_month_in_cents == 0 ? 'checked' : nil }
            %label{ for: "community_plan_#{plan.id}", title: plan.description }
              %span.title= plan.title.gsub(/\s*community\s*/i, '')
              %span.price
                - if plan.price_per_month_in_cents > 0
                  = "$#{plan.price_per_month_in_cents/100}/month"
                - else
                  This one is on us
              %span.meta
                - if plan.price_per_month_in_cents > 0
                  100 members + custom roles
                - else
                  Up to 20 members

    - if ENV["ENABLE_PAYMENT"]
      #cc_input.section{ class: card_is_present ? '' : 'show_fields' }
        %h1 Payment

        - if card_is_present
          = render 'card/current', stripe: @stripe if card_on_file
          %menu
            = link_to 'Change card', 'javascript:;', class: 'newcard'
            = link_to 'Use card on file', 'javascript:;', class: 'onfile'

        %fieldset{ id: 'cc_fields', class: card_is_present ? 'hide' : '' }
          %ol= render 'card/fields'

    %p.submit
      = f.button :submit, 'Create Community'
