- title "New Community"

- content_for :header do
  %meta{ name: "stripe-key", content: STRIPE_PUBLIC_KEY }

- content_for :footer do
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "subscriptions"

%h1 Create a community

= simple_form_for @community, html: {novalidate: true, id: "form_with_subscription"} do |f|
  %fieldset
    %ol
      = f.input :name, hint: 'This can never be changed.', input_html: { maxlength: Community::MAX_NAME_LENGTH }
      = f.input :slogan, input_html: { maxlength: Community::MAX_SLOGAN_LENGTH }
    %p
      %button{ type: 'submit' } Create Community

= render 'shared/user_account_links'
