%p#notice= notice

%p
  %b Name:
  = @community.name
%p
  %b Slogan:
  = @community.slogan
%p
  %b Label:
  = @community.label
%p
  %b Accepting members:
  = @community.accepting_members
%p
  %b Email notice on application:
  = @community.email_notice_on_application
%p
  %b Subdomain:
  = @community.subdomain
= link_to "Their home page", root_url(:subdomain => @community.subdomain)

= link_to 'Edit', edit_community_path(@community)
\|
= link_to 'Back', communities_path
