%table
  %thead
    %tr
      %th Name
      %th Discussions
      %th.actions
  %tbody
    - discussion_spaces.each do |space|
      %tr
        %td
          = link_to shorten_words(space.name, 21), space
          - if space.supported_game
            %rt= space.supported_game.smart_name
        %td
          - if space.discussions.size > 0
            = space.discussions.size
        %td.actions
          %div
            - if can? :create, space.discussions.new
              = link_to 'New', new_discussion_space_discussion_path(space), :meta => 'New discussion', :class => 'new'
            - if (can? :update, space)
              = link_to 'Edit', edit_discussion_space_path(space), :meta => 'Edit discussion space', :class => 'edit'
            - if (can? :destroy, space)
              = link_to 'Delete', space, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete discussion space', :class => 'delete'
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if can? :create, current_community.discussion_spaces.new
          = link_to 'New Space', new_discussion_space_path, :class => 'button'