%table
  %thead
    %tr
      %th Name
      %th Discussions
      %th.actions
  %tbody
    - discussion_spaces.each do |space|
      %tr
        %td
          = link_to space.name, space
          - if space.game
            %rt= space.game.name
        %td
          - if space.discussions.size > 0
            = space.discussions.size
        %td.actions
          %div
            - if (can? :update, space)
              = link_to 'Edit', edit_discussion_space_path(space), :meta => 'Edit discussion space', :class => 'edit'
            - if (can? :destroy, space)
              = link_to 'Destroy', space, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete discussion space', :class => 'delete'
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if (can? :create, DiscussionSpace)
          = link_to 'New Space', new_discussion_space_path, :class => 'button primary'