- title "Discussion Spaces | #{@community.name}"

%h1 Discussion Spaces

- if @discussion_spaces.any?
  = paginate @discussion_spaces
  = render "table", :discussion_spaces => @discussion_spaces
  = paginate @discussion_spaces

-else
  %p There are no discussion spaces.
  - if can? :create, current_community.discussion_spaces.new
    %p= link_to 'New Space', new_discussion_space_path, :class => 'button'