- title "#{@discussion_space.name} | #{@community.name}"

#breadcrumb
  %ol
    %li= link_to "Discussion Spaces", discussion_spaces_url
    %li
      %span= @discussion_space.name

#actions.actions
  - if can? :create, Discussion.new({ discussion_space: @discussion_space }, :without_protection => true)
    = link_to 'Add', new_discussion_space_discussion_url(@discussion_space), :class => 'new', :meta => 'Add a discussion to this space'
  - if (can? :update, @discussion_space)
    = link_to 'Edit', edit_discussion_space_url(@discussion_space), :meta => 'Edit discussion space', :class => 'edit'
  - if (can? :destroy, @discussion_space)
    = link_to 'Destroy', @discussion_space, :confirm => 'Are you sure?', :method => :delete, :meta => 'Remove discussion space', :class => 'delete'

%h1= @discussion_space.name

- if @discussion_space.discussions.any?
  = render "subdomains/discussions/table", :discussion_space => @discussion_space

-else
  %p This discussion space has no viewable discussions.
  - if can? :create, Discussion.new({ discussion_space: @discussion_space }, :without_protection => true)
    %p= link_to 'Create new discussion', new_discussion_space_discussion_url(@discussion_space), :class => 'button'
