- title "#{@discussion_space.name} | #{@community.name}"

%nav
  %h1
    = link_to "Discussion Spaces", discussion_spaces_path
    - if @discussion_space.game
      %rt= " — #{@discussion_space.game_name}"
    —
    %strong= @discussion_space.name

= render "subdomains/discussions/table", :discussion_space => @discussion_space
