%p#notice= notice

%p
  %b Name:
  = @discussion_space.name
%p
  %b User profile:
  = @discussion_space.user_profile_id
%p
  %b Game:
  = @discussion_space.game_id
%p
  %b Community:
  = @discussion_space.community_id

= link_to 'Edit', edit_discussion_space_path(@discussion_space)
\|
= link_to 'Back', discussion_spaces_path
