%li.wow.character
  %h3= link_to_if (can? :update, character), shorten_words(character.name, 11), edit_wow_character_url(character)
  .avatar= image_tag character.avatar_url :small
  %dl.attributes
    - if defined? show_game and !!show_game
      %dt Game
      %dd= character.game_name
    %dt Level
    %dd= character.level
    %dt Race
    %dd= character.race
    %dt Class
    %dd= character.char_class