- title 'Account'

#body
  %h1 Account Details

  = form_for(@user, :url => registration_path(@user), :html => { :method => :put }) do |f|
    = devise_error_messages!
    %p
      = f.label :email
      = f.email_field :email
    %p
      = f.label :password
      (leave blank if you don't want to change it)
      = f.password_field :password
    %p
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %p
      = f.label :current_password
      (we need your current password to confirm your changes)
      = f.password_field :current_password
    -unless @user.has_accepted_current_terms_of_service?
      %p
        %p
          =@user.current_terms_of_service.body
        = f.label "Terms of Service"
        = f.check_box :accepted_current_terms_of_service
    -unless @user.has_accepted_current_privacy_policy?
      %p
        %p
          =@user.current_privacy_policy.body
        = f.label "Privacy Policy"
        = f.check_box :accepted_current_privacy_policy
    %p
      %button{ :type => 'submit' } Update
  %p
    -# TODO Joe - This link doesn't work - DW
    = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete