- title "Editing Community Game | #{current_community.name}"

%h1 Editing Community Game

= simple_form_for @community_game, html: {novalidate: true} do |f|
  = f.error_notification
  %fieldset
    %ol
      = f.input :name, label: "Game name"
      - if @community_game.game.respond_to?(:factions)
        = f.input :faction, as: :radio_buttons, collection: @community_game.factions, wrapper_html: { class: 'select with-label faction' }
      - if @community_game.game.respond_to?(:server_names)
        = f.input :server_name, as: :radio_buttons, label: 'Server', collection: @community_game.server_names, wrapper_html: { class: 'select with-label server' }
      - if @community_game.game.respond_to?(:server_types)
        = f.input :server_type, as: :radio_buttons, collection: @community_game.server_types, wrapper_html: { class: 'select with-label' }
      %li
        %button{ type: 'submit' } Save changes
