- title "Editing Community Game | #{current_community.name}"
- content_for :footer do
  = javascript_include_tag 'community_games'

%h1 Editing Community Game

= simple_form_for @community_game, html: {novalidate: true} do |f|
  = f.error_notification
  %fieldset
    %ol
      = f.input :game_name, input_html:{ data: {autocomplete_source: autocomplete_community_games_url}}
      = render "subdomains/community_games/fields/#{@community_game.game_type.downcase}", f: f, game: @community_game.game if @community_game.game.is_supported
      %li
        %button{ type: 'submit' } Save changes