- title "Editing Game | #{current_community.name}"

%h1 Editing Game

= simple_form_for @supported_game, :html => {:novalidate => true} do |f|
  = f.error_notification
  %fieldset
    %ol
      = f.input :name, :input_html => { :maxlength => SupportedGame::MAX_NAME_LENGTH }
      = f.input :faction, :as => :radio, :collection => @supported_game.all_factions, :wrapper_html => { class: 'select' }
      = f.input :server_name, :as => :radio, :label => 'Server', :collection => @supported_game.all_servers, :wrapper_html => { class: 'select' }
      %li
        %button{ :type => 'submit' } Save changes
