- title "Editing Game | #{current_community.name}"

%h1 Editing Game

= simple_form_for @supported_game do |f|
  = f.error_notification
  %fieldset
    %ol
      = f.input :name
      = f.input :faction, :as => :radio, :collection => @factions, :wrapper_html => { class: 'select' }
      = f.input :server_name, :as => :radio, :label => 'Server', :collection => @servers, :wrapper_html => { class: 'select' }
      %li
        %button{ :type => 'submit' } Save changes
