- title "Editing Game | #{current_community.name}"

%h1 Editing Game

= simple_form_for @supported_game do |f|
  = f.error_notification
  %fieldset
    %ol
    = f.input :faction, :collection => @factions
    = f.input :server_name, :label => 'Server', :collection => @servers
    = f.input :name
    %p.submit
      = f.button :submit, 'Update Game'

%br
= link_to 'Show', @supported_game
\|
= link_to 'Cancel', supported_games_path
