- title "Supported Games | #{current_community.name}"

%h1 Supported Games

- if @supported_games.any?

  %table
    %thead
      %tr
        %th Name
        %th.actions
    %tbody
      - @supported_games.each do |supported_game|
        %tr
          %td= link_to_if (can? :update, supported_game), supported_game.full_name, edit_supported_game_url(supported_game)
          %td.actions
            %div
              - if (can? :update, supported_game)
                = link_to 'Edit', edit_supported_game_url(supported_game), meta: 'Edit game', class: 'edit'
              - if (can? :destroy, supported_game)
                = link_to 'Destroy', supported_game, confirm: 'All characters, pages, discussions and comments related to this game will also be removed. Are you absolutely sure you want to do this?', method: :delete, meta: 'Remove supported game', class: 'delete'
    %tfoot
      %tr
        %td{ colspan: 3 }
          - if can? :create, SupportedGame
            = link_to 'Add Game', new_supported_game_url, class: 'button'

-else
  %p There are no supported games.
  - if can? :create, SupportedGame
    %p= link_to 'Add Game', new_supported_game_url, class: 'button'