- title "Adding Game | #{current_community.name}"

%h1 Add a Supported Game

= simple_form_for @supported_game, html: {novalidate: true} do |f|
  %fieldset
    %ol
      = f.input :name, hint: 'A unique name for this configuration (i.e. Main Server, Alpha Team, etc)', input_html: { maxlength: SupportedGame::MAX_NAME_LENGTH }
      = f.input :game_type, as: :radio_buttons, label: 'Game', collection: Game::VALID_GAMES, wrapper_html: { class: 'game_type select with-label', affects: 'faction server_name server_type' }
      = render partial: 'shared/affected_dropdown', locals: { f: f, affected_by: 'game_type', affected_by_value: @supported_game.game_type, label: 'Server', field: 'server_name', field_value: @supported_game.server_name, collection: [['Wow',Wow.all_servers],['Swtor',Swtor.all_servers]] }
      = render partial: 'shared/affected_dropdown', locals: { f: f, affected_by: 'game_type', affected_by_value: @supported_game.game_type, label: 'Faction', field: 'faction', field_value: @supported_game.faction, collection: [['Wow',Wow.all_factions],['Swtor',Swtor.all_factions]] }
      = render partial: 'shared/affected_dropdown', locals: { f: f, affected_by: 'game_type', affected_by_value: @supported_game.game_type, label: 'Server type', field: 'server_type', field_value: @supported_game.server_type, collection: [['Minecraft', Minecraft.all_server_types]] }
      %li
        %button{ type: 'submit' } Add this game
