- title "#{@supported_game.name} | #{current_community.name}"

%nav
  %h1
    = link_to "Games", supported_games_path
    %rt= " — #{@supported_game.game_name}"
    %strong= @supported_game.name

- # TODO Doug, Need to list the characters in this games roster. -MO
Need to list the characters in this games roster. We may want to list all the game DisussionSpaces, PageSpaces, and eventually Events here as well.
%br

- if can? :edit, @supported_game
  = link_to 'Edit', edit_supported_game_path(@supported_game)
  \|
- if can? :destroy, @supported_game # TODO Doug, We should have a second are you really sure box. This should list all the items that will be deleted. -MO
  = link_to 'Destroy', @supported_game, :confirm => 'Are you sure? This will destroy all Discussion Spaces, Page Spaces, and Rosters associated to this Game.', :method => :delete