%h3 New SWTOR Character
= fields_for :swtor_character, @character, :index => Time.now.to_f.to_s do |f|
  .field
    = f.hidden_field :game_id
  .field
    = f.label :name
    - if @character.errors[:name].any?
      = @character.errors[:name]    
    %br/
    = f.text_field :name
  .field
    = f.label :server
    %br/
    = f.text_field :server