= f.hidden_field :avatar_cache
= f.input :name
= f.input :server_name, :as => :radio, :label => 'Server', :collection => Swtor.all_servers, :wrapper_html => { class: 'select' }
= f.input :advanced_class, :as => :radio, :label => 'Class', :collection => SwtorCharacter.all_advanced_classes, :wrapper_html => { class: 'select', affects: 'advanced_class' }
%li{ :class => 'select tier', :tier => 'advanced_class' }
  %label Species
  - SwtorCharacter.species_class_collection.each do |class_species|
    = f.input :species, :as => :radio, :collection => class_species[1], :wrapper_tag => :div, :label => false, :wrapper_html => { class_name: class_species[0] }
= f.input :level, :as => :string
= f.input :about, :as => :text, :input_html => { :rows => 5 }
- if not swtor_character.default
  = f.input :default, :as => :boolean, :label => "Make this my default character for #{@swtor_character.game_name}"
%li.avatar
  = image_tag(swtor_character.avatar_url) if swtor_character.avatar_url and swtor_character.persisted?
  = f.input :avatar, :wrapper => false
  = f.input :remote_avatar_url, :label => "or image URL", :wrapper => false