= f.hidden_field :avatar_cache
= f.input :name, :input_html => { :maxlength => SwtorCharacter::MAX_NAME_LENGTH }
= f.input :server_name, :as => :radio, :label => 'Server', :required => true, :collection => Swtor.all_servers, :wrapper_html => { class: 'select' }
= f.input :advanced_class, :as => :radio, :label => 'Class', :collection => SwtorCharacter.all_advanced_classes, :wrapper_html => { class: 'select', affects: 'species' }
= render :partial => 'shared/affected_dropdown', :locals => { f: f, affected_by: 'advanced_class', affected_by_value: swtor_character.advanced_class, label: 'Species', field: 'species', field_value: swtor_character.species, collection: SwtorCharacter.species_class_collection }
= f.input :level, :as => :string, :input_html => { :maxlength => 2 }, :wrapper_html => { :class => 'short' }
= f.input :about, :as => :text, :input_html => { :rows => 5 }
%li.avatar
  = image_tag(swtor_character.avatar_url) if swtor_character.avatar_url and swtor_character.persisted?
  = f.input :avatar, :wrapper => false
  = f.input :remote_avatar_url, :label => "or image URL", :wrapper => false