= f.hidden_field :avatar_cache
= f.input :name
= f.input :server_name, :as => :radio, :label => 'Server', :collection => Swtor.all_servers, :wrapper_html => { class: 'select' }
= f.input :advanced_class, :as => :radio, :label => 'Class', :collection => SwtorCharacter.all_advanced_classes, :wrapper_html => { class: 'select' }
= f.input :species, :as => :radio, :label => 'Species', :collection => SwtorCharacter.all_species, :wrapper_html => { class: 'select' }
= f.input :level, :as => :string
= f.input :about, :as => :text, :input_html => { :rows => 5 }
- if not swtor_character.default # Can only edit a character to the default and not make it the default
  = f.input :default, :label => "Make this my default character for #{@swtor_character.game_name}", :as => :boolean
- else
  = "This is your default character for #{@swtor_character.game_name}"
.avatar
  = image_tag(swtor_character.avatar_url) if swtor_character.avatar_url and swtor_character.persisted?
  = f.input :avatar
  = f.input :remote_avatar_url, :label => "or image URL"