= f.hidden_field :game_id
%fieldset
  %ol
    = f.input :avatar, :as => 'file'
    - if @character.avatar?
      %li.avatar
        %p= image_tag @character.avatar_url(:standard)
    = f.input :remove_avatar, :as => 'boolean' if @character.avatar
    = f.input :name
    = f.input :server
    = f.input :default, :as => 'boolean', :title => 'Make default character'