= f.hidden_field :game_id
= f.inputs do
  = f.input :avatar, :as => 'file', :hint => (image_tag @character.avatar_url(:standard) if @character.avatar?)
  = f.input :remove_avatar, :as => 'boolean' if @character.avatar
  = f.input :name
  = f.input :server
  = f.input :default, :as => 'boolean', :title => 'Make default character'