= form_for swtor_character do |f|
  -if swtor_character.errors.any?
    #error_explanation
      %h2= "#{pluralize(swtor_character.errors.count, "error")} prohibited this swtor_character from being saved:"
      %ul
        - swtor_character.errors.full_messages.each do |msg|
          %li= msg
  =f.hidden_field :avatar_cache
  .field
    = f.label :faction
    = f.select :faction, Swtor::VALID_FACTIONS
  .field
    = f.label :server
    = f.select :server_name, Swtor.servers
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :class
    = f.select :char_class, SwtorCharacter.classes_for_faction("Republic") # TODO Doug, This needs to be updated dynamically using what is selected in the char_class field. -MO
  .field
    = f.label :race
    = f.select :race, SwtorCharacter.races_for_class("Jedi Knight") # TODO Doug, This needs to be updated dynamically using what is selected in the char_class field. 
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :about
    = f.text_area :about  
  - if not swtor_character.default # Can only edit a character to the default and not make it the default
    .field
      = f.label "Make Default For Game"
      = f.check_box :default
  - if swtor_character.default
    Character is default for this game  
  .avatar
    = image_tag(swtor_character.avatar_url) if swtor_character.avatar_url
    .field
      = f.file_field :avatar
    .field
      =f.label :remote_avatar_url, "or image URL"
      = f.text_field :remote_avatar_url
  .actions
    = f.submit 'Save'
