%h1 Listing swtor_characters

%table
  %tr
    %th Name
    %th Server
    %th Game
    %th Avatar
    %th
    %th
    %th

  - @swtor_characters.each do |swtor_character|
    %tr
      %td= swtor_character.name
      %td= swtor_character.server
      %td= swtor_character.game_id
      %td= swtor_character.avatar
      %td= link_to 'Show', swtor_character
      %td= link_to 'Edit', edit_swtor_character_path(swtor_character)
      %td= link_to 'Destroy', swtor_character, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Swtor character', new_swtor_character_path
