%p#notice= notice

%p
  = image_tag(@swtor_character.avatar_url)
%p
  %b Game:
  = @swtor_character.swtor.name  
%p
  %b Name:
  = @swtor_character.name
%p
  %b Default For Game:
  = @swtor_character.default

- if can? :edit, @swtor_character
  = link_to 'Edit', edit_swtor_character_path(@swtor_character)
