%p#bcrumb
  = link_to 'Games', games_path
  = link_to @game.name, @game
  %span= @character.name

#page
  %h1= @character.name
  
  %p#actions
    - if logged_in?
      - if current_user.can_update(@character)
        = link_to 'Edit', edit_game_swtor_character_path(@game, @character), :class => 'edit', :title => 'Edit Character'
      - if current_user.can_delete(@character)
        = link_to 'Delete', @character, :method => 'delete', :confirm => 'Are you sure?', :class => 'delete', :title => 'Delete Character'

  %dl#meta
    %dt Game:
    %dd= @game.name
    %dt Server:
    %dd= @character.server
    %dt Default:
    %dd= @character.default