- if not @swtor_character.is_disabled?
  - title "#{@swtor_character.name}"

  #body
    %p
      = image_tag(@swtor_character.avatar_url)
    %p
      %b Game:
      = @swtor_character.swtor.name
    %p
      %b Name:
      = @swtor_character.name
    %p
      %b Class:
      = @swtor_character.char_class
    %p
      %b Advanced Class:
      - if not @swtor_character.advanced_class?
        = "None"
      - else
        = @swtor_character.advanced_class
    %p
      %b Species:
      = @swtor_character.species
    %p
      %b Level:
      = @swtor_character.level
    %p
      %b About:
      = @swtor_character.about

    - if can? :edit, @swtor_character
      = link_to 'Edit', edit_swtor_character_path(@swtor_character)
    - if can? :destroy, @swtor_character
      = link_to 'Remove', @swtor_character, :confirm => 'Are you sure?', :method => :delete
- else
  #body
    %b This character has been removed
