#bar
  = link_to 'Crumblin', root_url(:subdomain => false), :class => 'logo'

  %ul.menu
    - if current_user.communities.size > 0
      %li
        %span My Communities
        %ul
          - current_user.communities.each do |community|
            %li= link_to community.name, actual_community_url(community)
          %li.extra
            = link_to 'Join a community', communities_url(:subdomain => false)
    - else
      %li= link_to 'Join a community', communities_url(:subdomain => false)
    %li{ :class => 'icon search' }
      -# TODO Doug, hook up the link
      = link_to 'Search', '#'
    %li
      %p
        = link_to "My Profile", edit_user_profile_url(current_user.user_profile, :subdomain => false)
        -# TODO Joe - This link doesn't work - DW
        = link_to "Logout", destroy_user_session_url(:subdomain => false)

  -# TODO Doug, hook up links
  %ul.characters
    %li{ :class => 'icon gear' }
      = link_to "Account", edit_user_registration_url(:subdomain => false)
    %li{ :class => 'icon notice' }
      -# TODO Doug, hook up the link
      = link_to "Announcements", '#', :meta => 7
    %li{ :class => 'icon envelope' }
      -# TODO Doug, hook up the link
      = link_to "Messages", '#', :meta => 34
    %li
      =(profile_active? ? link_to(current_profile.name, user_profile_path(current_user)) : link_to('My Profiles', '#'))
      %ul
        -if profiles
          - profiles.each do |profile|
            - unless profile[:is_current]
              %li
                = image_tag(profile[:type].find_by_id(profile[:profile_id]).avatar_url(:icon))
                = link_to( active_profile_path(:id => profile[:profile_id], :type => profile[:type])) do
                  = profile[:name]
          %li.extra
            - if profiles.size > 1
              = link_to 'View all characters', user_profile_path(current_user)
            - else
              = link_to 'Add new character', new_base_character_path
  -# TODO Doug, get the correct link for image avatar size from Joe. Also, this will need to link to the currently active characer edit view.
  = link_to image_tag(current_active_profile.avatar_url(:tiny)), current_active_profile, :class => 'avatar'
