= link_to 'Tabard™', root_url(subdomain: false), class: 'logo'

%ul.menu
  %li= link_to 'Features', top_level_features_url(subdomain: false)
  %li= link_to 'Pricing', top_level_pricing_url(subdomain: false)
  %li= link_to 'Search', search_url
  %li.login= link_to 'Login', new_user_session_url(subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), class: 'button'
  %li.signup= link_to 'Sign up', new_user_registration_url(subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), class: 'button'