= link_to 'Crumblin', user_profile_url(current_user.user_profile, :subdomain => false) + '#characters', :class => 'logo'

.communities
  - if current_user.communities.size > 0
    %span= (current_community and current_user.communities.include? current_community) ? current_community.name : 'My Communities'
    %ol
      - current_user.communities.each do |community|
        %li= link_to community.name, actual_community_url(community), :class => current_community == community ? 'current' : '', :icon => current_user.user_profile == community.admin_profile ? '♕' : '◎'
      %li.extra
        = link_to 'Find a community', communities_url(:subdomain => false), :icon => '✛'
  - else
    = link_to 'Find a community', communities_url(:subdomain => false)

%ul.dashboard
  %li{ :class => 'icon notice' }
    = link_to "Announcements", user_profile_url(current_user.user_profile, :subdomain => false) + '#announcements', (current_user.unread_announcements.size > 0 ? { :meta => current_user.unread_announcements.size } : {})
  %li{ :class => 'icon envelope' }
    = link_to "Messages", inbox_url(:subdomain => false), (current_user.unread_messages.size > 0 ? { :meta => current_user.unread_messages.size } : {})

.avatar
  = link_to image_tag(current_user.avatar_url :tiny), user_profile_url(current_user.user_profile, :subdomain => false) + '#characters'
  %ul
    %li.characters= link_to 'My Characters', user_profile_url(current_user.user_profile, :subdomain => false) + '#characters', :icon => 'Ξ'
    %li.activities= link_to 'Activity Stream', user_profile_url(current_user.user_profile(:subdomain => false)), :icon => '༄'
    %li.profile= link_to 'Edit User Profile', edit_user_profile_url(current_user.user_profile), :icon => '✎'
    %li.settings= link_to 'Account Settings', account_settings_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :icon => '✲'
    %li.logout= link_to 'Logout', destroy_user_session_url, :method => :delete, :icon => '✕'