#bar
  = link_to 'Crumblin', root_url(:subdomain => false), :class => 'logo'

  %ul.menu
    - if current_user.communities.size > 0
      %li
        %span My Communities
        %ul
          - current_user.communities.each do |community|
            %li= link_to community.name, actual_community_url(community)
          %li.extra
            = link_to 'Join a community', communities_url(:subdomain => false)
    - else
      %li= link_to 'Join a community', communities_url(:subdomain => false)
    -# TODO - Uncomment this section and hookup link once we actually ad the search feature
      %li{ :class => 'icon search' }
        = link_to 'Search', '#'
    %li
      %p
        = link_to "My Profile", user_profile_url(current_user.user_profile, :subdomain => false)
        = link_to "Logout", destroy_user_session_url

  %ul.characters
    %li{ :class => 'icon gear' }
      = link_to "Account", edit_user_registration_url
    %li{ :class => 'icon notice' }
      = link_to "Announcements", announcements_path, (current_user.recent_unread_announcements.size > 0 ? { :meta => current_user.recent_unread_announcements.size } : {})
    %li{ :class => 'icon envelope' }
      = link_to "Messages", inbox_url(:subdomain => false), (current_user.unread_messages.size > 0 ? { :meta => current_user.unread_messages.size } : {})
    %li
      =(profile_active? ? link_to(current_profile.name, user_profile_path(current_user)) : link_to('My Profiles', '#'))
      %ul
        -if profiles
          - profiles.each do |profile|
            - unless profile[:is_current]
              %li
                = image_tag profile[:type].find_by_id(profile[:profile_id]).avatar_url(:icon), :class => 'avatar'
                = link_to(active_profile_path(:id => profile[:profile_id], :type => profile[:type]), :method => :post) do
                  = profile[:name]
          - if profiles.size > 1
            %li.extra
              = link_to 'My characters', user_profile_path(current_user)
          - else
            %li.extra
              = link_to 'Add new WoW character', new_wow_character_path
            %li.extra
              = link_to 'Add new SWTOR character', new_swtor_character_path

  = link_to image_tag(current_profile.avatar_url(:tiny)), current_profile, :class => 'avatar'
