= link_to 'Crumblin', user_root_url(:subdomain => false), :class => 'logo'

%ul.menu
  - if current_user.communities.size > 0
    %li
      %span My Communities
      %ul
        - current_user.communities.each do |community|
          %li= link_to community.name, actual_community_url(community)
        %li.extra
          = link_to 'Find a community', communities_url(:subdomain => false)
  - else
    %li= link_to 'Find a community', communities_url(:subdomain => false)
  -# TODO - Uncomment this section and hookup link once we actually ad the search feature
    %li{ :class => 'icon search' }
      = link_to 'Search', '#'
  %li
    %p
      = link_to "Logout", destroy_user_session_url

%ul.dashboard
  %li{ :class => 'icon gear' }
    = link_to "Account", edit_user_registration_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://"))
  %li{ :class => 'icon notice' }
    = link_to "Announcements", announcements_url(:subdomain => false), (current_user.unread_announcements.size > 0 ? { :meta => current_user.unread_announcements.size } : {})
  %li{ :class => 'icon envelope' }
    = link_to "Messages", inbox_url(:subdomain => false), (current_user.unread_messages.size > 0 ? { :meta => current_user.unread_messages.size } : {})

= link_to image_tag(current_user.avatar_url :tiny), user_root_url(:subdomain => false) + '#characters', :class => 'avatar'