%ul#flash
  - if !hide_announcements? && defined? current_user.unread_announcements
    - current_user.unread_announcements.each do |discussion|
      %li{ :class => 'announcement' }
        = link_to (truncate discussion.body, :length => 100, :separator => ' '), discussion_url(discussion, :subdomain => discussion.subdomain), :class => 'link'
        %span.meta= "— #{discussion.community_name}"
        = link_to '✔', discussion_url(discussion, :subdomain => discussion.subdomain), 'data-type' => :jsonp, :remote => true, :class => 'read'
        
  - if !!flash[:alert]
    %li.alert
      :markdown
        #{flash[:alert]}
  - if !!flash[:messages]
    - flash[:messages].each do |message|
      %li{ :class => message[:class] }
        :markdown
          #{message[:body]}

- clear_flash_messages