- if flash[:messages] || has_announcements?
  != has_announcements? ? '<form method="post" action="' << announcement_acknowledgement_path << '" data-remote="true" id="announcements">' : '<div id="announcements">'
  %ul.container
    - if has_announcements?
      - current_user.unacknowledged_announcements.each do |announcement|
        %li{ :class => 'announcement_' << announcement.id.to_s }
          = link_to(announcement.path, { :class => 'msg', :title => 'Read the full announcement and comments.' }) do
            %strong= announcement.title
            &mdash;
            = announcement.snippet
          %button{ :type => 'submit', :name => 'id', :value => announcement.id, :title => 'Mark as seen.' } Mark as seen
    - if flash[:messages]
      - flash[:messages].each do |message|
        %li{ :class => message[:class] }
          %span.msg
            - if message[:title]
              %strong= message[:title]
              &mdash;
            = raw(message[:body])
  != has_announcements? ? '</form>' : '</div>'