- if !!flash[:alert] or  !!flash[:error] or !!flash[:notice] or !!flash[:messages] or (!hide_announcements? && user_signed_in? && announcements_to_display.size > 0 && !session[:hide_announcements])
  %ul#flash
    - if !hide_announcements? && user_signed_in? && announcements_to_display.size > 0 && !session[:hide_announcements]
      = render 'layouts/flash_message_announcement', :announcement => first_announcement_to_display
    - if !!flash[:alert]
      %li.alert
        :markdown
          #{flash[:alert]}
    - if !!flash[:error]
      %li.alert
        :markdown
          #{flash[:error]}
    - if !!flash[:notice]
      %li.notice
        :markdown
          #{flash[:notice]}
    - if !!flash[:messages]
      - flash[:messages].each do |message|
        %li{ :class => message[:class] }
          :markdown
            #{message[:body]}
  - clear_flash_messages