- if !!flash[:alert] or !!flash[:error] or !!flash[:notice] or !!flash[:messages] or (user_signed_in? && any_announcements_to_display?)
  %ul#flash
    - if user_signed_in? && any_announcements_to_display?
      = render 'layouts/flash_message_announcement', :announcement => announcements_to_display.first
    - if !!flash[:alert]
      %li.alert
        :markdown
          #{flash[:alert]}
    - if !!flash[:error]
      %li.alert
        :markdown
          #{flash[:error]}
    - if !!flash[:notice]
      %li.notice
        :markdown
          #{flash[:notice]}
    - if !!flash[:messages]
      - flash[:messages].each do |message|
        %li{ :class => message[:class] }
          :markdown
            #{message[:body]}
  - clear_flash_messages