- if (flash[:messages] and flash[:messages].size > 0) or (logged_in? and current_user.unacknowledged_announcements.size > 0)
  %form#announcements{ :method => 'post', :action => announcement_acknowledgement_path, :remote => true }
    %ul.container
      - if logged_in? and current_user.unacknowledged_announcements
        - current_user.unacknowledged_announcements.each do |a_o_a|
          %li{ :class => 'announcement_' << a_o_a.id.to_s }
            = link_to(a_o_a.announcement, { :class => 'msg', :title => 'Read the full announcement and comments.' }) do
              %strong= a_o_a.announcement.name
              &mdash;
              = truncate(a_o_a.body, :separator => ' ')
            %button{ :type => 'submit', :name => 'id', :value => a_o_a.id, :title => 'Mark as seen.' } Mark as seen
      - if flash[:messages]
        - flash[:messages].each do |message|
          %li{ :class => message[:class] }
            %span.msg
              - if !message[:title].blank?
                %strong= message[:title]
                &mdash;
              = raw(message[:body])
  - clear_flash_messages
