#footer
  .container
    - if nav_featured_pages
      .menu
        %h3 Brutal Venom
        %ul
          - nav_featured_pages.each do |page| 
            %li= link_to page.title, [page.page_space, page]
          %li= link_to 'Games', games_path
    .menu
      %h3 Resources
      - if dynamic_page_spaces
        %ul
          - dynamic_page_spaces.each do |page_space| 
            %li= link_to page_space.name, page_space
    
    -if logged_in?
      .menu
        %h3 Members
        %ul
          %li= link_to 'Announcements', announcements_path
          %li= link_to 'Events', :events
          %li= link_to 'Discussions', :discussion_spaces if current_user.can_show("DiscussionSpace")
          %li= link_to 'Donations', '#'
        
    %p.copyright
      = link_to t('general.privacy_policy'), '#'
      &nbsp;|&nbsp;
      = link_to t('general.terms_of_use'), '#'
      %br/
      &copy; Copyright digitalAugment Inc, 2010.