#footer
  © DigitalAugment, Inc.
  = Time.now.year
  = raw '&nbsp;|&nbsp;'
  = link_to 'Privacy', crumblin_privacy_policy_path
  = raw '&nbsp;|&nbsp;'
  = link_to 'Terms', crumblin_terms_of_service_path