#footer
  © DigitalAugment, Inc.
  = Time.now.year
  = raw '&nbsp;|&nbsp;'
  = link_to 'Privacy', top_level_privacy_policy_url
  = raw '&nbsp;|&nbsp;'
  = link_to 'Terms', top_level_terms_of_service_url