#menu
  .container
    -if !logged_in?
      = form_tag(session_path, :class => 'login') do
        = label_tag :email
        = text_field_tag(:email, '', {:title => 'Email address', :spellcheck => false})
        = password_field_tag(:password, '', {:title => 'Password', :spellcheck => false})
        %p.remember
          = check_box_tag('remember')
          = label_tag 'remember', 'Remember me'
        = submit_tag 'Sign in'
        %p.apply
          %span= 'Want to join?'
          = link_to 'Apply now', new_registration_application_path
    %ul
      %li
        = link_to 'Info', :page_spaces, { :class => 'main' }
        %ul
          - nav_featured_pages.each do |page| 
            %li= link_to page.title, [page.page_space, page]
          %li= link_to 'Games', games_path
      -if logged_in?
        %li
          =link_to 'Members', user_profiles_path
          %ul
            %li= link_to 'Announcements', announcements_path
            %li= link_to 'Events', :events
            %li= link_to 'Discussions', :discussion_spaces if current_user.can_show("DiscussionSpace")
            %li= link_to 'Newsletter', :newsletters
            %li= link_to 'Donations', '#'
      -if !logged_in?
        %li
          = link_to 'Events', :events, { :class => 'main' }
      %li
        = link_to 'Resources', page_spaces_path, { :class => 'main' }
        - if dynamic_page_spaces
          %ul
            - dynamic_page_spaces.each do |page_space| 
              %li= link_to page_space.name, page_space
      - if logged_in?
        %li
          = link_to 'Discussions', :discussion_spaces, { :class => 'main' }
          - if dynamic_discussions
            %ul
              - dynamic_discussions.each do |discussion_space| 
                %li= link_to discussion_space.name, discussion_space
      - if logged_in? and current_user.can_manage
        %li
          = link_to 'Management', :management, { :class => 'main' }
          %ul
            %li= link_to 'Applications', registration_applications_path
            %li= link_to 'Users', management_users_path
            %li= link_to 'Roles', management_roles_path
            %li= link_to 'Newsletters', management_newsletters_path
            %li= link_to 'Themes', management_themes_path
            %li= link_to 'TeamSpeak', management_teamspeaks_path
            %li= link_to 'Forms', management_site_forms_path
      %li.search
        %a.main
          Search
        %form
          %input
          %button{ :type => 'submit' }
            Search
      %li.locale
        %a.main
          Language
        %ul
          - locales.each do |locale|
            %li{ :class => locale[:locale] + (locale[:is_current] ? ' current' : '') }
              = link_to({ :locale => locale[:locale] }) do
                = image_tag '/images/locales/' + locale[:locale] + '.png', :alt => ''
                = locale[:language]