.userbox
  %p.name
  %p.avatar
    = image_tag '/images/avatars/default.png', :alt => ''
    = link_to 'Edit', '#'
  .profile
    = link_to (profile_active? ? current_profile.name : raw('&laquo; Select a Profile &raquo;')), user_profile_path(current_user), { :class => 'main' }
    %ul
      -if profiles
        - profiles.each do |profile|
          %li{ :class => profile[:is_current] ? 'current' : '' }
            = link_to( active_profile_url(:id => profile[:profile_id], :type => profile[:type])) do
              = profile[:name]
  %p.credits 28 Credits
  #mail
    %ul
      %li.inbox= link_to "Inbox", inbox_path, { :title => "Inbox" }
      %li.compose= link_to "New", new_sent_path, { :title => "New Message" }
      %li.sent= link_to "Sent", sent_messages_path, { :title => "Sent Items" }
      %li.trash= link_to "Trash", trash_path, { :title => "Trash" }
  %p.actions
    =link_to 'Account', user_profile_path(current_user), :class => 'button account'
    =link_to 'Logout', logout_path, :class => 'button logout'