.userbox
  %p.name
  %p.avatar
    = image_tag current_user.user_profile.avatar_url(:standard), :alt => ''
    = link_to 'Edit', account_settings_path
  %dl#community.selectbox
    - if @community
      %dt= @community.display_name
    - else
      %dt.unselected My Communities:
    - if @community
      %dd
        = link_to 'Crumbin Home Page', root_url(:subdomain => false)
    - current_user.communities.each do |community|
      %dd{ :class => (@community and @community == community) ? 'selected' : '' }
        = link_to community.display_name, root_url(:subdomain => community.subdomain)
      %dd.new= link_to "+ Find a community", root_url(:subdomain => false)
  %dl#profile.selectbox
    - if profile_active?
      %dt
        = link_to current_profile.name, user_profile_path(current_user)
    - else
      %dt.unselected My Profiles:
    -if profiles
      - profiles.each do |profile|
        %dd{ :class => profile[:is_current] ? 'selected' : '' }
          = link_to( active_profile_url(:id => profile[:profile_id], :type => profile[:type])) do
            = profile[:name]
  %p.credits 28 Credits
  #mail
    %ul
      %li.inbox= link_to "Inbox", inbox_path, { :title => "Inbox" }
      %li.compose= link_to "New", compose_mail_path, { :title => "New Message" }
      %li.sent= link_to "Sent", sent_mailbox_path, { :title => "Sent Items" }
      %li.trash= link_to "Trash", trash_path, { :title => "Trash" }
  %p.actions
    =link_to 'Account', account_path, :class => 'button account'
    =link_to 'Logout', logout_url(:subdomain => false), :class => 'button logout'