.userbox
  %p.name
  %p.avatar
    = image_tag '/images/avatars/default.png', :alt => ''
    = link_to 'Edit', '#'
  %dl#community.selectbox
    %dt
      = @community? @community.display_name : raw('&laquo; Select a Community &raquo;')
    - current_user.communities.each do |community|
      %dd{ :class => (@community and @community == community) ? 'selected' : '' }
        = link_to community.display_name, root_url(:subdomain => community.subdomain)
      %dd.new= link_to "+ Find a community", root_url(:subdomain => false)
  %dl#profile.selectbox
    %dt
      = link_to (profile_active? ? current_profile.name : raw('&laquo; Select a Profile &raquo;')), user_profile_path(current_user), { :class => 'main' }
    -if profiles
      - profiles.each do |profile|
        %dd{ :class => profile[:is_current] ? 'selected' : '' }
          = link_to( active_profile_url(:id => profile[:profile_id], :type => profile[:type])) do
            = profile[:name]
  %p.credits 28 Credits
  #mail
    %ul
      %li.inbox= link_to "Inbox", inbox_path, { :title => "Inbox" }
      %li.compose= link_to "New", compose_mail_path, { :title => "New Message" }
      %li.sent= link_to "Sent", sent_mailbox_path, { :title => "Sent Items" }
      %li.trash= link_to "Trash", trash_path, { :title => "Trash" }
  %p.actions
    =link_to 'Account', account_path, :class => 'button account'
    =link_to 'Logout', logout_url(:subdomain => false), :class => 'button logout'