<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:dir => 'ltr', :lang => 'en-US', 'xml:lang' => 'en-US', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title Brutal Venom
    = stylesheet_link_tag '/themes/' << current_theme << '/stylesheets/master.css'
    = javascript_include_tag 'jquery-1.5.min.js', 'rails', 'application'
    = csrf_meta_tag
  %body
    #bg
      
      #header
        .container
          .title= link_to 'Brutal Venom', root_path
          .slogan We need a slogan
      
      - if flash[:messages] || has_announcements?
        != has_announcements? ? '<form method="post" action="' << announcement_acknowledgement_path << '" data-remote="true" id="announcements">' : '<div id="announcements">'
        %ul.container
          - if has_announcements?
            - current_user.unacknowledged_announcements.each do |announcement|
              %li{ :class => 'announcement_' << announcement.id.to_s }
                = link_to(announcement.path, { :class => 'msg', :title => 'Read the full announcement and comments.' }) do
                  %strong= announcement.title
                  &mdash;
                  = announcement.snippet
                %button{ :type => 'submit', :name => 'id', :value => announcement.id, :title => 'Mark as seen.' } Mark as seen
          - if flash[:messages]
            - flash[:messages].each do |message|
              = render :partial => 'layouts/flash_message', :locals => { :message => message }
        != has_announcements? ? '</form>' : '</div>'
       
      #menu    
        .container              
          - if logged_in?
            #userbox
              %p.salutation= 'Hello, ' << current_user.user_profile.name
              - if profile_active?
                %p
                  - if character_active?
                    [#{current_character.name}]
                  = current_profile.name
                  = link_to 'Deactivate Profile', deactivate_profile_path, :class => 'button'
              - else
                = render :partial => 'active_profile/form', :locals => {:current_user => current_user }
              %p
                = link_to 'Edit User', edit_user_path(current_user), :class => 'button'
                = link_to 'Logout', logout_path, :class => 'button'
          - else
            = form_tag(session_path, :class => 'login') do
              = label_tag :email
              = text_field_tag(:email, '', {:title => 'Email address', :spellcheck => false})
              = password_field_tag(:password, '', {:title => 'Password', :spellcheck => false})
              %p.remember
                = check_box_tag('remember')
                = label_tag 'remember', 'Remember me'
              = submit_tag 'Sign in'
              %p.apply
                %span= 'Want to join?'
                = link_to 'Apply now', new_registration_application_path
          %ul
            %li= link_to 'Info', '#'
            %li= link_to 'Events', :events
            %li= link_to 'Resources', page_spaces_path
            %li= link_to 'Discussions', :discussion_spaces

      #body
        .container
          = yield

      #footer
        .container
          .menu
            %h3 Brutal Venom
            %ul
              %li= link_to 'Test Page 1', '#'
              %li= link_to 'Test Page 2', '#'
              %li= link_to 'Test Page 3', '#'
              %li= link_to 'Test Page 4', '#'
          .menu
            %h3 Resources
            %ul
              - PageSpace.all.each do |page_space| 
                %li= link_to page_space.name, page_space
          .menu
            %h3 Members
            %ul
              %li= link_to 'Events', :events
              %li= link_to 'Discussions', :discussion_spaces
              %li= link_to 'Newsletter', :newsletters
              %li= link_to 'Donations', '#'
          %p
            = language_selector
          %p.copyright
            = link_to 'Privacy Policy', '#'
            &nbsp;|&nbsp;
            = link_to 'Terms of Use', '#'
            %br/
            &copy; Copyright digitalAugment Inc, 2010.