!!!
%html
  %head
    %title= raw yield_for(:title, 'Guild.io™')
    %link{ href: "/stylesheets/fonts.css", media: "screen", rel: "stylesheet", type: "text/css" }
    = stylesheet_link_tag "top_level/top_level"
    = javascript_include_tag "application"
    = javascript_include_tag "top_level"
    = csrf_meta_tags unless @page_caching
    = favicon_link_tag asset_path 'favicon.png'
    = yield :header
    = render 'layouts/ie'
    = render 'layouts/analytics'

  %body{ class: "#{params[:controller].gsub(/\//,' ')} #{params[:action]} #{current_community ? '' : 'top_level'}" }
    #bar
      = link_to 'Guild.io™', root_url(subdomain: false), class: 'logo'
      = link_to 'load', bar_url(protocol: request.protocol, subdomain: request.subdomain, format: :js), remote: true, class: 'dynload', 'data-type' => 'text', 'data-target' => '#bar'
    = render 'layouts/flash_messages' unless @page_caching
    #content
      = yield
      = render 'layouts/footer', current_layout: 'application'
    = yield :footer