!!! 5
%html
  %head
    %title Crumblin: Gaming communities done right
    = stylesheet_link_tag '/stylesheets/application.css'
    = javascript_include_tag 'jquery-1.5.min.js', 'rails', 'application'
    = csrf_meta_tag
    = include_tiny_mce_if_needed
  %body{ :class => (logged_in? ? 'logged_in' : 'logged_out') + " #{params[:controller]}_view" }
    #bg
    
      #header
        .container
          .title= link_to (image_tag '/images/content/crumblin-logo.png', :alt => 'Crumblin: Gaming communities done right'), root_url(:subdomain => false)
          -if logged_in?
            = render :partial => "layouts/userbox"
          - else
            = render :partial => "layouts/loginbox"

      #menu
        .container
          %ul
            %li
              = link_to 'About', root_path(:subdomain => false)
            %li
              = link_to 'Communities', communities_path
              - if defined? @games and @games.size > 0
                %ul
                  - @games.each do |game|
                    %li
                      = link_to game.name, game_path(game)
            %li
              = link_to 'Signup', signup_path
      
      = render :partial => "layouts/flash_messages"
      
      #body
        .container= yield
        
      #footer
        .container
          %p.copyright
            = link_to t('general.privacy_policy'), '#'
            &nbsp;|&nbsp;
            = link_to t('general.terms_of_use'), '#'
            &nbsp;|&nbsp;
            = link_to "Crumblin", root_url(:subdomain => false)
            %br/
            &copy; Copyright DigitalAugment Inc, 2010.