!!!
%html

  %head
    %title= yield_for(:title, 'Crumblin')
    = stylesheet_link_tag "application/top_level"
    = javascript_include_tag "application", "top_level"
    = csrf_meta_tags

  %body
    = render 'layouts/bar_' + (user_signed_in? ? 'in' : 'out')
    = render 'layouts/flash_messages'
    = render 'top_level/pitch' if show_pitch?
    #content
      = yield
    = render 'layouts/footer'