<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-US" lang="en-US"> 
<html>
<head>
  <title>Bv</title>
  <%= stylesheet_link_tag '/themes/' + @theme + '/stylesheets/master.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if true %>
<div id="header"> 
  <h1><%= link_to "BV", root_path %></h1> 
  <div id="user_bar">
    <% if logged_in? %> 
      <% if current_user.user_profile == nil %>
        Please Click <%= link_to "Here", new_profile_path %> to Finish Creating Your Account |
      <% else %>
        Hello, <%= current_user.user_profile.name %> |
        <% if profile_active? %>
          <% if character_active? %>
            [<%= current_character.name %>]
          <% end %>
          <%= current_profile.name %>
          <%= link_to "Deactivate Profile", deactivate_profile_path %> |
        <% else %>
          <%= render :partial => "active_profile/form", :locals => {:current_user => current_user } %> |
        <% end %>
        <%= link_to "Edit User", edit_user_path(current_user) %> |
      <% end %> 
      <%= link_to "Logout", logout_path %>
    <% else %> 
      <%= link_to "Login", login_path %>
    <% end %> 
  </div>
</div>
<% end %>

<% if false %>
<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>
<% end %>

<%= yield %>

</body>
</html>
