<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:dir => 'ltr', :lang => 'en-US', 'xml:lang' => 'en-US', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title Brutal Venom
    = stylesheet_link_tag '/themes/' << current_theme << '/stylesheets/master.css'
    = javascript_include_tag 'jquery-1.5.min.js', 'rails', 'application'
    = csrf_meta_tag
    = include_tiny_mce_if_needed
  %body{ :class => (logged_in? ? 'logged_in' : 'logged_out') + " #{params[:controller]}_view" }
    #bg
      = render :partial => "layouts/header"
      #body
        .container= yield
      = render :partial => "layouts/footer"
