!!!
%html
  %head
    %title= yield_for :title, "Tabard"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic"
    = stylesheet_link_tag "/stylesheets/picara.css"
    = stylesheet_link_tag "top_level/top_level"
    = render 'layouts/set_timezone' unless !!cookies[:timezone]
    = csrf_meta_tags unless @page_caching
    = favicon_link_tag asset_path 'favicon.png'
    = yield :header
    = render 'layouts/ie'

  %body{ class: body_classes }

    #bar
      = link_to 'Tabard', root_url, class: 'logo'
      = render "layouts/bar_#{user_signed_in? ? 'in' : 'out'}"

    = render 'layouts/flash_messages' unless @page_caching

    #content
      #body
        = yield
        = render 'layouts/footer', current_layout: 'application'

    = javascript_include_tag "application"
    = yield :footer
    = render 'layouts/analytics'
