!!!
%html
  %head
    %title= yield_for(:title, 'Crumblin™')
    = stylesheet_link_tag "top_level/top_level", "top_level/calendar"
    = javascript_include_tag "application", "calendar"
    = csrf_meta_tags
    = favicon_link_tag asset_path 'favicon.png'

  %body.fluid
    #bar= render "layouts/bar_in"
    = render "layouts/flash_messages"

  #calendar-menu.sidemenu
    %dl
      %dt View
      %dd.list=link_to 'List', events_url(:subdomain => current_community.subdomain), :meta => 'List View'
      %dd.week=link_to 'Week', week_events_url(:year => @date.year, :week => @date.cweek), :meta => 'Week View'

  #calendar
    %table
      %thead
        %tr
          %th{ colspan: 7 }
            %h1= @date.strftime '%B %Y'
            = link_to '‹ Previous', month_events_url(:year => @date.prev_month.year, :month => @date.prev_month.month), :class => 'prev'
            = link_to 'Next ›', month_events_url(:year => @date.next_month.year, :month => @date.next_month.month), :class => 'next'
        %tr
          %th.c Mon
          %th.c Tue
          %th.c Wed
          %th.c Thu
          %th.c Fri
          %th.c Sat
          %th.c Sun
      - day = 0
      %tbody
        - if @date.beginning_of_month.wday > 1
          %tr
            - (1..(@date.beginning_of_month.wday-1)).each do
              %td.empty
            - (@date.beginning_of_month.wday..7).each do
              = render 'month_day', :date => @date, :day => day = day + 1, :events => @sorted_events[day] ||= []
        - while day < @date.end_of_month.day
          %tr
            - (1..7).each do
              - if day < @date.end_of_month.day
                = render 'month_day', :date => @date, :day => day = day + 1, :events => @sorted_events[day] ||= []
              - else
                %td.empty
      %tfoot
        %tr
          %td{ colspan: 7 }

  = render 'layouts/footer'