!!!
%html

  %head
    %title= yield_for(:title, 'Crumblin')
    = stylesheet_link_tag "application","reset","bar","main"
    = javascript_include_tag "application","bar"
    = csrf_meta_tags
  
  %body
    
    = render 'layouts/bar_' + (user_signed_in? ? 'in' : 'out')
    
    %h1#pitch
      %strong
        Has updating your guild website become a chore?
      Crumblin simplifies community management.
      = link_to 'Learn how ›', crumblin_intro_url(:subdomain => false)
          
    #flash_container
      %p.notice= notice
      %p.alert= alert
      %p= render "layouts/flash_messages"
    
    #content
      %h1 OMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOM Community Layout!
      = yield
    
    #footer
      © DigitalAugment, Inc.
      = Time.now.year