!!!
%html

  %head
    %title= yield_for(:title, "#{@community.name} - Crumblin")
    = stylesheet_link_tag "application/community"
    = stylesheet_link_tag use_default_theme? ? "themes/crumblin" : "themes/#{current_community.theme_css}", :class => 'theme'
    - if current_community.background_color or current_community.background_image or current_community.title_color
      %style{:type => "text/css", :media => "screen"}
        - if current_community.background_color
          = "body { background-color: ##{current_community.background_color}; }"
        - if current_community.title_color
          = "#header .title { color: ##{current_community.title_color}; text-shadow: none; }"
        - unless current_community.background_image_url == '/assets/application/blank.gif'
          = "body { background-image: url(#{current_community.background_image_url(:standard)}); }"
    = yield :controller_css
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/bar_' + (user_signed_in? ? 'in' : 'out')
    = render 'layouts/flash_messages'

    #content
      #header
        .title
          %strong= @community.name
          %cite= @community.slogan
        .menu
          %li
            = link_to 'Dashboard', actual_community_url(@community)
          - if can? :index, PageSpace
            %li
              = link_to 'Wiki', page_spaces_url
              - if @community.page_spaces.any?
                %ul
                  - @community.page_spaces.each do |space|
                    %li= link_to space.name, space if space.persisted?
          - if (user_signed_in? and current_user.is_member? @community)
            %li
              = link_to 'Discussions', discussion_spaces_url
              - if @community.discussion_spaces.any?
                %ul
                  - @community.discussion_spaces.each do |space|
                    %li= link_to space.name, space if space.persisted?
          - if (user_signed_in? and current_user.is_member? @community)
            %li
              -#TODO Doug - Hookup link
              = link_to 'Announcements', announcement_spaces_url
              - if @community.announcement_spaces.any?
                %ul
                  -#TODO Doug - Double check this after BVR-290 is complete
                  - @community.announcement_spaces.each do |space|
                    %li= link_to (space.game ? space.game.name : space.name), announcement_space_url(space) if space.persisted?
          - if user_signed_in? and current_user.is_member? @community and @community.custom_forms.published.any?
            %li
              = link_to 'Forms', custom_forms_url
          - if @community.is_public_roster or (user_signed_in? and current_user.is_member? @community)
            %li
              = link_to 'Members', roster_assignments_url
          - if user_signed_in? and current_user.communities.include?(current_community)
            - if management_navigation_items.any?
              %li{ :class => 'special settings' }
                = link_to 'Manage', '#'
                %ul
                  - management_navigation_items.each do |item|
                    %li= link_to item[:title], item[:link], (item[:meta] and item[:meta] > 0 ? { :meta => item[:meta] } : {})
          - else
            %li{ :class => 'special signup' }
              - if current_community.can_receive_application_from? current_user
                = link_to 'Apply Now', new_community_application_url
              - elsif user_signed_in? and current_user.application_pending? current_community
                %a Application Pending

      #body
        = yield

    = render 'layouts/footer'