!!! 5
%html
  %head
    %title= @community.display_name
    %link{ :rel => 'icon', :type => 'image/x-icon', :href => '/images/favicon.gif' }
    = stylesheet_link_tag '/stylesheets/application.css'
    = javascript_include_tag 'jquery-1.5.min.js', 'rails', 'application'
    = csrf_meta_tag
    = include_tiny_mce_if_needed
  %body{ :class => (logged_in? ? 'logged_in' : 'logged_out') + " #{params[:controller]}_view" }
    #bg
    
      #header
        .container
          .title= link_to @community.display_name, root_path(:subdomain => @community.subdomain)
          .slogan= @community.slogan
          -if logged_in?
            = render :partial => "layouts/userbox"
          - else
            = render :partial => "layouts/loginbox"
          
      #menu
        .container
          %ul
            -if !logged_in?
              %li
                = link_to 'Crumblin', root_url(:subdomain => false)
            %li
              = link_to 'Info', :page_spaces, { :class => 'main' }
              %ul
                - nav_featured_pages.each do |page| 
                  %li= link_to page.title, [page.page_space, page]
            -if logged_in?
              %li
                =link_to 'Members', user_profiles_path
                %ul
                  %li= link_to 'Announcements', announcements_path
                  - if current_user.can_show("DiscussionSpace")
                    %li= link_to 'Discussions', :discussion_spaces
                  - if logged_in? and current_user.can_update('RegistrationApplication')
                    %li.new
                      = link_to '+ Applications', registration_applications_path
            %li
              = link_to 'Resources', page_spaces_path, { :class => 'main' }
              - if dynamic_page_spaces and dynamic_page_spaces.size > 0
                %ul
                  - dynamic_page_spaces.each do |page_space| 
                    %li= link_to page_space.name, page_space
                  - if logged_in? and current_user.can_create('PageSpace')
                    %li.new
                      = link_to '+ New', new_page_space_path
            - if logged_in?
              %li
                = link_to 'Discussions', :discussion_spaces, { :class => 'main' }
                - if dynamic_discussions and dynamic_discussions.size > 0
                  %ul
                    - dynamic_discussions.each do |discussion_space| 
                      %li= link_to '(' + discussion_space.discussions.size.to_s + ') ' + discussion_space.name, discussion_space
                    - if logged_in? and current_user.can_create('DiscussionSpace')
                      %li.new
                        = link_to '+ New', new_discussion_space_path
            - if logged_in? and @management_items.size > 0
              %li
                = link_to 'Admin', management_url, { :class => 'main' }
                %ul
                  - @management_items.each do |nav_item|
                    %li= link_to nav_item[:title], nav_item[:link]
            %li.search
              %a.main
                Search
              = render :partial => "search/form"
              
      = image_tag '/images/content/header.jpg', :alt => '', :id => 'headerimg'
      
      = render :partial => "layouts/flash_messages"
      
      #body
        .container
          = yield
      
      #footer
        .container
          - if nav_featured_pages
            .menu
              %h3= @community.display_name
              %ul
                - nav_featured_pages.each do |page| 
                  %li= link_to page.title, [page.page_space, page]
          .menu
            %h3 Resources
            - if dynamic_page_spaces
              %ul
                - dynamic_page_spaces.each do |page_space| 
                  %li= link_to page_space.name, page_space
          
          -if logged_in?
            .menu
              %h3 Members
              %ul
                %li= link_to 'Announcements', announcements_path
                - if current_user.can_show("DiscussionSpace")
                  %li= link_to 'Discussions', :discussion_spaces
              
          %p.copyright
            = link_to t('general.privacy_policy'), '#'
            &nbsp;|&nbsp;
            = link_to t('general.terms_of_use'), '#'
            &nbsp;|&nbsp;
            = link_to "Crumblin", root_url(:subdomain => false)
            %br/
            &copy; Copyright DigitalAugment Inc, 2010.