!!!
%html

  %head
    %title= yield_for(:title, "#{current_community.name} - Crumblin")
    = stylesheet_link_tag "application/community"
    = stylesheet_link_tag use_default_theme? ? "themes/crumblin" : "themes/#{current_community.theme_css}", :class => 'theme'
    - if current_community.background_color or current_community.background_image or current_community.title_color
      %style{:type => "text/css", :media => "screen"}
        - if current_community.title_color
          = "body.theme #header .title { color: ##{current_community.title_color}; text-shadow: none; }"
        - if current_community.background_color
          = "body.theme , body.theme #content { background-color: ##{current_community.background_color}; }"
        - unless current_community.background_image_url == '/assets/application/blank.gif'
          = "body, #content { background-image: url(#{current_community.background_image_url(:standard)}); }"
    = yield :controller_css
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag asset_path 'favicon.png'

  %body.theme
    = render 'layouts/bar_' + (user_signed_in? ? 'in' : 'out')
    = render 'layouts/flash_messages'

    #content
      #header
        .title
          %strong= current_community.name
          %cite= current_community.slogan
        .menu
          %li
            = link_to (user_signed_in? and current_user.is_member? current_community) ? 'Dashboard' : 'Home', actual_community_url(current_community)
          - if can? :index, PageSpace
            %li
              = link_to 'Wiki', page_spaces_url
              - if current_community.page_spaces.any?
                %ul
                  - current_community.page_spaces.each do |space|
                    %li= link_to space.name, space if space.persisted?
          - if user_signed_in? and current_user.is_member? current_community
            %li
              = link_to 'Discussions', discussion_spaces_url
              - if current_community.discussion_spaces.any?
                %ul
                  - current_community.discussion_spaces.each do |space|
                    %li= link_to space.name, space if space.persisted?
          - if user_signed_in? and current_user.is_member? current_community
            %li
              = link_to 'Announcements', announcements_url(:subdomain => current_community.subdomain)
              - if current_community.supported_games.any?
                %ul
                  %li= link_to 'Community Announcements', community_announcements_url
                  - current_community.supported_games.each do |supported_game|
                    - if supported_game.persisted?
                      %li= link_to supported_game.smart_name, game_announcements_url(supported_game)
          - if current_community.is_public_roster or (user_signed_in? and current_user.is_member? @community and @community.custom_forms.published.any?)
            %li
              = link_to 'Members', roster_assignments_url
              - if current_community.supported_games.any? and supported_games = current_community.supported_games.reject{|sg| !sg.persisted?} and supported_games.size > 1
                %ul
                  - supported_games.each do |supported_game|
                    %li= link_to supported_game.smart_name, game_roster_assignments_url(supported_game)
          - if user_signed_in? and current_user.is_member? current_community and current_community.custom_forms.published.any?
            %li
              = link_to 'Forms', custom_forms_url
          - if user_signed_in? and current_user.communities.include?(current_community)
            - if management_navigation_items.any?
              %li{ :class => 'special settings' }
                = link_to 'Manage', '#'
                %ul
                  - management_navigation_items.each do |item|
                    %li= link_to item[:title], item[:link], (item[:meta] and item[:meta] > 0 ? { :meta => item[:meta] } : {})
                  - unless current_user.user_profile == current_community.admin_profile
                    %li= link_to 'Leave Community', community_profile_url(current_user.community_profiles.find{|cp| cp.community == current_community}), :method => :delete, :confirm => "If you leave this community, you will have to re-apply before coming back. Are you sure you want to leave?"
          - else
            %li{ :class => 'special signup' }
              - if user_signed_in? 
                - if current_community.can_receive_application_from? current_user
                  = link_to 'Apply Now', new_community_application_url
                - elsif current_user.application_pending? current_community
                  %a Application Pending
              - else
                = link_to 'Apply Now', new_user_registration_url(:subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://"), :community_id => current_community.id)
      #body
        = yield

    = render 'layouts/footer'