!!!
%html

  %head
    %title= yield_for(:title, "#{@community.name} - Crumblin")
    = stylesheet_link_tag "community"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/bar_' + (user_signed_in? ? 'in' : 'out')
    = render 'layouts/flash_messages'

    #content
      #header
        .title
          %strong= @community.name
          %cite= @community.slogan
        .menu
          %li
            = link_to 'Dashboard', actual_community_url(@community)
          %li
            = link_to 'Wiki', page_spaces_path
            - if @community.page_spaces.size
              %ul
                - @community.page_spaces.each do |space|
                  %li= link_to space.name, space
          %li
            = link_to 'Discussions', discussion_spaces_path
            - if @community.discussion_spaces.size
              %ul
                - @community.discussion_spaces.each do |space|
                  %li= link_to space.name, space
          %li
            -#TODO Doug - Hookup link
            = link_to 'Announcements', '#'
            - if @community.announcement_spaces.size
              %ul
                -#TODO Doug - Double check this after BVR-290 is complete
                - @community.announcement_spaces.each do |space|
                  %li= link_to (space.game ? space.game.name : space.name), space
          %li
            -#TODO Doug - Hookup link
            = link_to 'Members', '#'
          - if current_user and current_user.communities.include?(current_community)
            %li{ :class => 'special settings' }
              -#TODO Doug - Hookup link
              = link_to 'Manage', '#'
              %ul
                %li= link_to 'Community Settings', edit_community_path(current_community)
                %li= link_to 'Applications', community_applications_url
                %li= link_to 'Roster Assigments', pending_roster_assignments_url
                %li= link_to 'Forms', custom_forms_url
                %li= link_to 'Permissions', roles_url
          - else
            %li{ :class => 'special signup' }
              -#TODO Doug - Hookup link
              = link_to 'Apply Now', new_community_application_path

      #body
        = yield

    = render 'layouts/footer'