<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:dir => 'ltr', :lang => 'en-US', 'xml:lang' => 'en-US', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title Brutal Venom
    = stylesheet_link_tag '/themes/' << current_theme << '/stylesheets/master.css'
    = javascript_include_tag 'jquery-1.5.min.js', 'rails', 'application'
    = csrf_meta_tag
    = include_tiny_mce_if_needed
  %body{ :class => "logged_out #{params[:controller]}_view" }
    #bg
      
      #header
        .container
          .title= link_to 'Brutal Venom', root_path
          .slogan We need a slogan
      
      - if flash[:messages] || has_announcements?
        #announcements
          %ul.container
            - if flash[:messages]
              - flash[:messages].each do |message|
                = render :partial => 'layouts/flash_message', :locals => { :message => message }
        - flash[:messages] = nil
       
      #menu    
        .container
          = form_tag(session_path, :class => 'login') do
            = label_tag :email
            = text_field_tag(:email, '', {:title => 'Email address', :spellcheck => false})
            = password_field_tag(:password, '', {:title => 'Password', :spellcheck => false})
            %p.remember
              = check_box_tag('remember')
              = label_tag 'remember', 'Remember me'
            = submit_tag 'Sign in'
            %p.apply
              %span= 'Want to join?'
              = link_to 'Apply now', new_registration_application_path
          %ul
            %li
              = link_to 'Info', '#', { :class => 'main' }
              %ul
                %li= link_to 'Test Page 1', '#'
                %li= link_to 'Test Page 2', '#'
                %li= link_to 'Test Page 3', '#'
            %li
              = link_to 'Events', :events, { :class => 'main' }
            %li
              = link_to 'Resources', page_spaces_path, { :class => 'main' }
              - if dynamic_page_spaces
                %ul
                  - dynamic_page_spaces.each do |page_space| 
                    %li= link_to page_space.name, page_space
            %li.search
              %a.main
                Search
              %form
                %input
                %button{ :type => 'submit' }
                  Search
            %li.locale
              %a.main
                Language
              %ul
                - locales.each do |locale|
                  %li{ :class => locale[:locale] + (locale[:is_current] ? ' current' : '') }
                    = link_to({ :locale => locale[:locale] }) do
                      = image_tag '/images/locales/' + locale[:locale] + '.png', :alt => ''
                      = locale[:language]

      #body
        .container
          = yield

      #footer
        .container
          .menu
            %h3 Brutal Venom
            - if nav_featured_pages
              %ul
                - nav_featured_pages.each do |page| 
                  %li= link_to page.title, [page.page_space, page]
          .menu
            %h3 Resources
            - if dynamic_page_spaces
              %ul
                - dynamic_page_spaces.each do |page_space| 
                  %li= link_to page_space.name, page_space
              
          %p.copyright
            = link_to 'Privacy Policy', '#'
            &nbsp;|&nbsp;
            = link_to t('general.terms_of_use'), '#'
            %br/
            &copy; Copyright digitalAugment Inc, 2010.