!!!
%html
  %head
    %title= yield_for :title, "Tabard"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic"
    = stylesheet_link_tag "/stylesheets/picara.css"
    = stylesheet_link_tag "application/error"
    = render 'layouts/set_timezone' unless !!cookies[:timezone]
    = csrf_meta_tags unless @page_caching
    = favicon_link_tag asset_path 'favicon.png'

  %body{ class: body_classes }

    #content
      #body
        = yield
        = render 'layouts/footer', current_layout: 'application'

    = render 'layouts/analytics'