!!!
%html

  %head
    %title= yield_for(:title, 'Crumblin')
    = stylesheet_link_tag "crumblin/crumblin","crumblin/messaging"
    = javascript_include_tag "application", "messaging"
    = csrf_meta_tags

  %body
    = render "layouts/bar_in"
    = render "layouts/flash_messages"
    = render "mailbox/mailbox"
    = yield
    = render 'layouts/footer'