- title "Page Spaces | #{current_community.name}"

%h1 Page Spaces

- if @page_spaces.any?
  = paginate @page_spaces
  = render "table", :page_spaces => @page_spaces
  = paginate @page_spaces

-else
  %p There are no page spaces.
  - if can? :create, current_community.page_spaces.new
    %p= link_to 'New Space', new_page_space_path, :class => 'button'