- title "#{@page_space.name} | Wiki Page Spaces | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to "Wiki Page Spaces", page_spaces_path
    %li
      %span= shorten_words @page_space.name, 21

#actions.actions
  - if can? :create, Page.new({ page_space: @page_space }, without_protection: true)
    = link_to 'Add', new_page_space_page_path(@page_space), class: 'new', meta: 'Create a page in this space'
  - if can? :update, @page_space
    = link_to 'Edit', edit_page_space_path(@page_space), meta: 'Edit page space', class: 'edit'
  - if can? :destroy, @page_space
    = link_to 'Remove', @page_space, confirm: 'Are you sure?', method: :delete, meta: 'Remove page space', class: 'delete'

%h1= shorten_words @page_space.name, 21

- if @pages.any?
  = paginate @pages
  = render "subdomains/pages/table", page_space: @page_space, pages: @pages
  = paginate @pages

-else
  %p This page space has no viewable pages.
  - if (can? :create, @page_space.pages.new)
    %p= link_to 'Create a Page', new_page_space_page_path(@page_space), class: 'button'