- title "#{@page_space.name} | #{@community.name}"

%nav
  %h1
    = link_to "Page Spaces", page_spaces_path
    - if @page_space.game
      %rt= " — #{@page_space.game_name}"
    —
    %strong= @page_space.name

= render "subdomains/pages/table", :page_space => @page_space
